*.idea/
*.venv/
.gradle/
build/
scripts/
stubs/
venv/
tmp/
out/
*secrets.py
publish-token.txt

# IntelliJ Platform Gradle Plugin
.intellijPlatform/
.kotlin

# Allow the default project dictionary to be versioned
!.idea/dictionaries/project.xml
!.idea/inspectionProfiles/Project_Default.xml