.component-4NytKTLX {
    color: #dTUpjq;
    background: linear-gradient(45deg, #UGEulz, #2QXXpl);
    font-family: "ѣҐgѧĦ", sans-serif;
    padding: 41px;
    margin: 33px;
    transform: rotate(-9deg);
}

.component-T9ZnHhic {
    color: #2QXXpl;
    background: linear-gradient(45deg, #2QXXpl, #2QXXpl);
    font-family: "ήĔ2F§", sans-serif;
    padding: 18px;
    margin: 19px;
    transform: rotate(125deg);
}

.component-yTY61dgr {
    color: #wI2BNv;
    background: linear-gradient(45deg, #cFm14F, #Sz7pFM);
    font-family: "つ1Ρ俎B", sans-serif;
    padding: 5px;
    margin: 28px;
    transform: rotate(-148deg);
}

.component-S76HFjKy {
    color: #UGEulz;
    background: linear-gradient(45deg, #Sz7pFM, #cLQE1I);
    font-family: "lほGQĿ", sans-serif;
    padding: 47px;
    margin: 26px;
    transform: rotate(-148deg);
}

.component-T5kBziU0 {
    color: #dTUpjq;
    background: linear-gradient(45deg, #k3tpQ3, #k3tpQ3);
    font-family: "ż乾â了぀", sans-serif;
    padding: 41px;
    margin: 35px;
    transform: rotate(-109deg);
}

.component-ymEzZIZA {
    color: #cFm14F;
    background: linear-gradient(45deg, #dTUpjq, #2QXXpl);
    font-family: "1Ж»ずぉ", sans-serif;
    padding: 40px;
    margin: 18px;
    transform: rotate(99deg);
}

.component-6xQFZnBC {
    color: #UGEulz;
    background: linear-gradient(45deg, #PEJJl2, #k3tpQ3);
    font-family: "べígıI", sans-serif;
    padding: 15px;
    margin: 44px;
    transform: rotate(132deg);
}

.component-SQc8EvRm {
    color: #wI2BNv;
    background: linear-gradient(45deg, #2QXXpl, #Sz7pFM);
    font-family: "jN´¡9", sans-serif;
    padding: 31px;
    margin: 19px;
    transform: rotate(38deg);
}

.component-uiCfvYY9 {
    color: #cFm14F;
    background: linear-gradient(45deg, #UGEulz, #dTUpjq);
    font-family: "QRπ·e", sans-serif;
    padding: 47px;
    margin: 7px;
    transform: rotate(-150deg);
}

.component-CRGUkTaN {
    color: #Sz7pFM;
    background: linear-gradient(45deg, #Sz7pFM, #wI2BNv);
    font-family: "3UyゆL", sans-serif;
    padding: 27px;
    margin: 43px;
    transform: rotate(-33deg);
}

.component-odnldCCO {
    color: #Sz7pFM;
    background: linear-gradient(45deg, #2QXXpl, #dTUpjq);
    font-family: "佄zjPm", sans-serif;
    padding: 26px;
    margin: 33px;
    transform: rotate(43deg);
}

.component-NWShlzMi {
    color: #Sz7pFM;
    background: linear-gradient(45deg, #k3tpQ3, #2QXXpl);
    font-family: "あて些ӶÔ", sans-serif;
    padding: 47px;
    margin: 28px;
    transform: rotate(-49deg);
}

.component-Ad2DJq8e {
    color: #N9KqSV;
    background: linear-gradient(45deg, #cLQE1I, #k3tpQ3);
    font-family: "7F5゗s", sans-serif;
    padding: 50px;
    margin: 19px;
    transform: rotate(-82deg);
}

.component-0skqgR7y {
    color: #2QXXpl;
    background: linear-gradient(45deg, #2QXXpl, #wI2BNv);
    font-family: "ίぱМぅR", sans-serif;
    padding: 38px;
    margin: 26px;
    transform: rotate(93deg);
}

.component-BhhTHYea {
    color: #UGEulz;
    background: linear-gradient(45deg, #k3tpQ3, #PEJJl2);
    font-family: "0ӑáH仫", sans-serif;
    padding: 40px;
    margin: 36px;
    transform: rotate(99deg);
}

.component-3cod1SGj {
    color: #UGEulz;
    background: linear-gradient(45deg, #Sz7pFM, #2QXXpl);
    font-family: "ЇqЭπO", sans-serif;
    padding: 5px;
    margin: 35px;
    transform: rotate(19deg);
}

.component-8FsEPxbZ {
    color: #Sz7pFM;
    background: linear-gradient(45deg, #wI2BNv, #k3tpQ3);
    font-family: "゛ЊĀ7ҿ", sans-serif;
    padding: 9px;
    margin: 7px;
    transform: rotate(-108deg);
}

.component-Kz0kct0W {
    color: #cLQE1I;
    background: linear-gradient(45deg, #k3tpQ3, #cFm14F);
    font-family: "7Nこkâ", sans-serif;
    padding: 13px;
    margin: 38px;
    transform: rotate(-29deg);
}

.component-zxaHcjhb {
    color: #cLQE1I;
    background: linear-gradient(45deg, #k3tpQ3, #k3tpQ3);
    font-family: "É仍ĪRέ", sans-serif;
    padding: 36px;
    margin: 23px;
    transform: rotate(-140deg);
}

.component-p5CXqKYP {
    color: #cFm14F;
    background: linear-gradient(45deg, #2QXXpl, #Sz7pFM);
    font-family: "Ÿ぀xよ1", sans-serif;
    padding: 29px;
    margin: 44px;
    transform: rotate(-163deg);
}

.component-9OuuD0H5 {
    color: #N9KqSV;
    background: linear-gradient(45deg, #PEJJl2, #wI2BNv);
    font-family: "Ž俴ξÐŮ", sans-serif;
    padding: 49px;
    margin: 5px;
    transform: rotate(133deg);
}

.component-SpGdV96E {
    color: #k3tpQ3;
    background: linear-gradient(45deg, #N9KqSV, #N9KqSV);
    font-family: "qΨ5ñ゘", sans-serif;
    padding: 48px;
    margin: 33px;
    transform: rotate(168deg);
}

.component-nk4SNQfd {
    color: #cFm14F;
    background: linear-gradient(45deg, #cLQE1I, #wI2BNv);
    font-family: "íÁtà÷", sans-serif;
    padding: 46px;
    margin: 21px;
    transform: rotate(174deg);
}

.component-bSp8tDQJ {
    color: #dTUpjq;
    background: linear-gradient(45deg, #dTUpjq, #cFm14F);
    font-family: "lΚじь佼", sans-serif;
    padding: 7px;
    margin: 42px;
    transform: rotate(166deg);
}

.component-8V6kld4g {
    color: #2QXXpl;
    background: linear-gradient(45deg, #N9KqSV, #k3tpQ3);
    font-family: "άHqYぽ", sans-serif;
    padding: 12px;
    margin: 43px;
    transform: rotate(51deg);
}

.component-m5GLXjcp {
    color: #Sz7pFM;
    background: linear-gradient(45deg, #k3tpQ3, #N9KqSV);
    font-family: "ŵá伜Σě", sans-serif;
    padding: 45px;
    margin: 16px;
    transform: rotate(-150deg);
}

.component-CssaZTOZ {
    color: #Sz7pFM;
    background: linear-gradient(45deg, #dTUpjq, #wI2BNv);
    font-family: "ΤつӯΦの", sans-serif;
    padding: 49px;
    margin: 29px;
    transform: rotate(70deg);
}

.component-KEztLtsU {
    color: #cFm14F;
    background: linear-gradient(45deg, #wI2BNv, #wI2BNv);
    font-family: "぀Ӷ7にF", sans-serif;
    padding: 22px;
    margin: 8px;
    transform: rotate(81deg);
}

.component-p6RCM9Sv {
    color: #UGEulz;
    background: linear-gradient(45deg, #cFm14F, #PEJJl2);
    font-family: "få9ゆŪ", sans-serif;
    padding: 21px;
    margin: 33px;
    transform: rotate(42deg);
}

.component-mAmyrf6y {
    color: #cFm14F;
    background: linear-gradient(45deg, #wI2BNv, #dTUpjq);
    font-family: "7れ3I佅", sans-serif;
    padding: 39px;
    margin: 6px;
    transform: rotate(-17deg);
}

.component-17Eag3Gv {
    color: #dTUpjq;
    background: linear-gradient(45deg, #Sz7pFM, #cFm14F);
    font-family: "j俿京らѠ", sans-serif;
    padding: 11px;
    margin: 15px;
    transform: rotate(-48deg);
}

.component-JMIdu1Mc {
    color: #N9KqSV;
    background: linear-gradient(45deg, #N9KqSV, #k3tpQ3);
    font-family: "ゐţぇĳぱ", sans-serif;
    padding: 36px;
    margin: 17px;
    transform: rotate(13deg);
}

.component-FquY3T46 {
    color: #UGEulz;
    background: linear-gradient(45deg, #cLQE1I, #Sz7pFM);
    font-family: "Λİへҽo", sans-serif;
    padding: 32px;
    margin: 33px;
    transform: rotate(18deg);
}

.component-wTAWDwGp {
    color: #dTUpjq;
    background: linear-gradient(45deg, #2QXXpl, #UGEulz);
    font-family: "ícW且ん", sans-serif;
    padding: 22px;
    margin: 20px;
    transform: rotate(-25deg);
}

.component-w3BW0kMc {
    color: #k3tpQ3;
    background: linear-gradient(45deg, #cFm14F, #k3tpQ3);
    font-family: "ん仭ΒĨ俆", sans-serif;
    padding: 32px;
    margin: 34px;
    transform: rotate(116deg);
}

.component-wRrMiaCC {
    color: #cFm14F;
    background: linear-gradient(45deg, #PEJJl2, #cFm14F);
    font-family: "OёIӄÉ", sans-serif;
    padding: 23px;
    margin: 37px;
    transform: rotate(-117deg);
}

.component-yaArZdEQ {
    color: #Sz7pFM;
    background: linear-gradient(45deg, #wI2BNv, #wI2BNv);
    font-family: "љ59ψふ", sans-serif;
    padding: 29px;
    margin: 39px;
    transform: rotate(-88deg);
}

.component-C4JpMtja {
    color: #N9KqSV;
    background: linear-gradient(45deg, #2QXXpl, #cFm14F);
    font-family: "ìΪ亮2Ď", sans-serif;
    padding: 48px;
    margin: 45px;
    transform: rotate(-176deg);
}

.component-rTbGp7id {
    color: #UGEulz;
    background: linear-gradient(45deg, #PEJJl2, #wI2BNv);
    font-family: "cごÍ係ł", sans-serif;
    padding: 34px;
    margin: 46px;
    transform: rotate(-98deg);
}

.component-EPRJp0Uo {
    color: #cLQE1I;
    background: linear-gradient(45deg, #PEJJl2, #k3tpQ3);
    font-family: "щz09µ", sans-serif;
    padding: 34px;
    margin: 10px;
    transform: rotate(-170deg);
}

.component-wm9JzoEu {
    color: #cLQE1I;
    background: linear-gradient(45deg, #UGEulz, #2QXXpl);
    font-family: "4伨·こぅ", sans-serif;
    padding: 29px;
    margin: 33px;
    transform: rotate(125deg);
}

.component-arJxoF1u {
    color: #cFm14F;
    background: linear-gradient(45deg, #cFm14F, #UGEulz);
    font-family: "俯Жq但І", sans-serif;
    padding: 22px;
    margin: 27px;
    transform: rotate(150deg);
}

.component-UDfQNLDx {
    color: #PEJJl2;
    background: linear-gradient(45deg, #UGEulz, #Sz7pFM);
    font-family: "佉ぺZHΗ", sans-serif;
    padding: 19px;
    margin: 15px;
    transform: rotate(-176deg);
}

.component-JlWYX5bk {
    color: #cLQE1I;
    background: linear-gradient(45deg, #cLQE1I, #2QXXpl);
    font-family: "Ξ严ゖ丌ő", sans-serif;
    padding: 29px;
    margin: 20px;
    transform: rotate(-148deg);
}

.component-1r83OjGi {
    color: #UGEulz;
    background: linear-gradient(45deg, #2QXXpl, #PEJJl2);
    font-family: "ęœさġҐ", sans-serif;
    padding: 29px;
    margin: 35px;
    transform: rotate(-52deg);
}

.component-YrpyqxeM {
    color: #k3tpQ3;
    background: linear-gradient(45deg, #wI2BNv, #PEJJl2);
    font-family: "x5Hқθ", sans-serif;
    padding: 33px;
    margin: 30px;
    transform: rotate(64deg);
}

.component-R002NRsn {
    color: #N9KqSV;
    background: linear-gradient(45deg, #UGEulz, #k3tpQ3);
    font-family: "Ùざd23", sans-serif;
    padding: 6px;
    margin: 34px;
    transform: rotate(-44deg);
}

.component-fRp3rfd5 {
    color: #UGEulz;
    background: linear-gradient(45deg, #cFm14F, #UGEulz);
    font-family: "nBĩήば", sans-serif;
    padding: 16px;
    margin: 33px;
    transform: rotate(-170deg);
}

.component-AfoetK2q {
    color: #UGEulz;
    background: linear-gradient(45deg, #cFm14F, #2QXXpl);
    font-family: "づҴ£侂3", sans-serif;
    padding: 46px;
    margin: 16px;
    transform: rotate(-55deg);
}

.component-1FXL3bVz {
    color: #wI2BNv;
    background: linear-gradient(45deg, #dTUpjq, #cFm14F);
    font-family: "Ӎ¿こңś", sans-serif;
    padding: 11px;
    margin: 39px;
    transform: rotate(7deg);
}

.component-klbAMAFi {
    color: #2QXXpl;
    background: linear-gradient(45deg, #cFm14F, #wI2BNv);
    font-family: "U4てӳě", sans-serif;
    padding: 47px;
    margin: 18px;
    transform: rotate(51deg);
}

.component-SDGgaUeN {
    color: #k3tpQ3;
    background: linear-gradient(45deg, #UGEulz, #cLQE1I);
    font-family: "x佣20Ø", sans-serif;
    padding: 22px;
    margin: 34px;
    transform: rotate(2deg);
}

.component-fiF7qrvH {
    color: #wI2BNv;
    background: linear-gradient(45deg, #Sz7pFM, #UGEulz);
    font-family: "Θdҧì9", sans-serif;
    padding: 41px;
    margin: 17px;
    transform: rotate(132deg);
}

.component-QmZRWkzd {
    color: #wI2BNv;
    background: linear-gradient(45deg, #PEJJl2, #PEJJl2);
    font-family: "ΒėゆぼЅ", sans-serif;
    padding: 15px;
    margin: 36px;
    transform: rotate(-50deg);
}

.component-XR3u0o3e {
    color: #Sz7pFM;
    background: linear-gradient(45deg, #2QXXpl, #N9KqSV);
    font-family: "伃Õ҂Ă亣", sans-serif;
    padding: 14px;
    margin: 21px;
    transform: rotate(-117deg);
}

.component-ei0Q0jQm {
    color: #cFm14F;
    background: linear-gradient(45deg, #wI2BNv, #dTUpjq);
    font-family: "ӦŊ©sή", sans-serif;
    padding: 5px;
    margin: 22px;
    transform: rotate(-149deg);
}

.component-9KDkqyNL {
    color: #dTUpjq;
    background: linear-gradient(45deg, #cFm14F, #k3tpQ3);
    font-family: "M0ぐŕを", sans-serif;
    padding: 5px;
    margin: 39px;
    transform: rotate(164deg);
}

.component-BB4fHu9g {
    color: #dTUpjq;
    background: linear-gradient(45deg, #PEJJl2, #wI2BNv);
    font-family: "ҷしU主2", sans-serif;
    padding: 11px;
    margin: 45px;
    transform: rotate(41deg);
}

.component-IRtVvqnv {
    color: #wI2BNv;
    background: linear-gradient(45deg, #PEJJl2, #N9KqSV);
    font-family: "ҫӀŔ仠Â", sans-serif;
    padding: 50px;
    margin: 7px;
    transform: rotate(-78deg);
}

.component-FwSJL0Bj {
    color: #dTUpjq;
    background: linear-gradient(45deg, #PEJJl2, #2QXXpl);
    font-family: "5゜1ċ产", sans-serif;
    padding: 45px;
    margin: 50px;
    transform: rotate(-22deg);
}

.component-vkpQSoOY {
    color: #wI2BNv;
    background: linear-gradient(45deg, #UGEulz, #dTUpjq);
    font-family: "亞6İØは", sans-serif;
    padding: 12px;
    margin: 43px;
    transform: rotate(162deg);
}

.component-0aE0Lf9M {
    color: #k3tpQ3;
    background: linear-gradient(45deg, #cFm14F, #UGEulz);
    font-family: "äRһĪF", sans-serif;
    padding: 13px;
    margin: 6px;
    transform: rotate(-102deg);
}

.component-0JtSEJ0V {
    color: #2QXXpl;
    background: linear-gradient(45deg, #N9KqSV, #cFm14F);
    font-family: "Xξそıy", sans-serif;
    padding: 13px;
    margin: 8px;
    transform: rotate(60deg);
}

.component-bFdOVqO0 {
    color: #PEJJl2;
    background: linear-gradient(45deg, #wI2BNv, #dTUpjq);
    font-family: "たxβ互ģ", sans-serif;
    padding: 16px;
    margin: 9px;
    transform: rotate(65deg);
}

.component-LBXpfNGS {
    color: #k3tpQ3;
    background: linear-gradient(45deg, #dTUpjq, #dTUpjq);
    font-family: "仗Sö传V", sans-serif;
    padding: 22px;
    margin: 6px;
    transform: rotate(-30deg);
}

.component-hCauSMzw {
    color: #UGEulz;
    background: linear-gradient(45deg, #wI2BNv, #cLQE1I);
    font-family: "にĢMŴ3", sans-serif;
    padding: 10px;
    margin: 33px;
    transform: rotate(80deg);
}

.component-bg2lKgcD {
    color: #k3tpQ3;
    background: linear-gradient(45deg, #PEJJl2, #cFm14F);
    font-family: "J俊ぢsѶ", sans-serif;
    padding: 45px;
    margin: 19px;
    transform: rotate(73deg);
}

.component-YMZc2lLh {
    color: #Sz7pFM;
    background: linear-gradient(45deg, #cFm14F, #N9KqSV);
    font-family: "υ4Ö佞ζ", sans-serif;
    padding: 13px;
    margin: 38px;
    transform: rotate(-71deg);
}

.component-PoPoyHSi {
    color: #N9KqSV;
    background: linear-gradient(45deg, #dTUpjq, #UGEulz);
    font-family: "l9仠å½", sans-serif;
    padding: 10px;
    margin: 19px;
    transform: rotate(74deg);
}

.component-djEHJS0H {
    color: #cLQE1I;
    background: linear-gradient(45deg, #N9KqSV, #cFm14F);
    font-family: "伍T7EΖ", sans-serif;
    padding: 8px;
    margin: 35px;
    transform: rotate(-178deg);
}

.component-loM9N0fd {
    color: #Sz7pFM;
    background: linear-gradient(45deg, #k3tpQ3, #N9KqSV);
    font-family: "ѬŝӞИね", sans-serif;
    padding: 16px;
    margin: 12px;
    transform: rotate(-135deg);
}

.component-rPWfNBZ1 {
    color: #2QXXpl;
    background: linear-gradient(45deg, #k3tpQ3, #cFm14F);
    font-family: "ӰӸ43井", sans-serif;
    padding: 6px;
    margin: 9px;
    transform: rotate(-111deg);
}

.component-lh2QUDbD {
    color: #cFm14F;
    background: linear-gradient(45deg, #2QXXpl, #UGEulz);
    font-family: "亂ľάҍŎ", sans-serif;
    padding: 46px;
    margin: 33px;
    transform: rotate(-130deg);
}

.component-8OOqcFJh {
    color: #N9KqSV;
    background: linear-gradient(45deg, #N9KqSV, #2QXXpl);
    font-family: "Á゙¡Μτ", sans-serif;
    padding: 20px;
    margin: 24px;
    transform: rotate(84deg);
}

.component-IziORKxF {
    color: #PEJJl2;
    background: linear-gradient(45deg, #wI2BNv, #UGEulz);
    font-family: "ζâ0丯Γ", sans-serif;
    padding: 41px;
    margin: 6px;
    transform: rotate(-82deg);
}

.component-SlC5mVAH {
    color: #cFm14F;
    background: linear-gradient(45deg, #wI2BNv, #N9KqSV);
    font-family: "eş俳uぉ", sans-serif;
    padding: 8px;
    margin: 22px;
    transform: rotate(-30deg);
}

.component-tujvIFzM {
    color: #dTUpjq;
    background: linear-gradient(45deg, #k3tpQ3, #dTUpjq);
    font-family: "Şί以Rw", sans-serif;
    padding: 14px;
    margin: 48px;
    transform: rotate(-66deg);
}

.component-znG17iDe {
    color: #dTUpjq;
    background: linear-gradient(45deg, #2QXXpl, #wI2BNv);
    font-family: "Eбyсゃ", sans-serif;
    padding: 48px;
    margin: 50px;
    transform: rotate(-137deg);
}

.component-vfbp0YdM {
    color: #dTUpjq;
    background: linear-gradient(45deg, #PEJJl2, #PEJJl2);
    font-family: "ӣcέ俈0", sans-serif;
    padding: 40px;
    margin: 50px;
    transform: rotate(-160deg);
}

.component-bk7ePE6r {
    color: #cLQE1I;
    background: linear-gradient(45deg, #wI2BNv, #wI2BNv);
    font-family: "乕ΞÃ4付", sans-serif;
    padding: 26px;
    margin: 8px;
    transform: rotate(148deg);
}

.component-LMR6mSpA {
    color: #UGEulz;
    background: linear-gradient(45deg, #dTUpjq, #wI2BNv);
    font-family: "Ċ¦ΗŕO", sans-serif;
    padding: 26px;
    margin: 38px;
    transform: rotate(153deg);
}

.component-b646fjo7 {
    color: #UGEulz;
    background: linear-gradient(45deg, #Sz7pFM, #cLQE1I);
    font-family: "てã±û丂", sans-serif;
    padding: 44px;
    margin: 5px;
    transform: rotate(63deg);
}

.component-FVdefwgR {
    color: #PEJJl2;
    background: linear-gradient(45deg, #UGEulz, #cLQE1I);
    font-family: "JΒђOή", sans-serif;
    padding: 34px;
    margin: 46px;
    transform: rotate(0deg);
}

.component-0anqOPdg {
    color: #cFm14F;
    background: linear-gradient(45deg, #k3tpQ3, #cLQE1I);
    font-family: "ばD丏Сv", sans-serif;
    padding: 30px;
    margin: 29px;
    transform: rotate(149deg);
}

.component-h5VRcZKf {
    color: #N9KqSV;
    background: linear-gradient(45deg, #k3tpQ3, #Sz7pFM);
    font-family: "ρげ佺ō6", sans-serif;
    padding: 6px;
    margin: 8px;
    transform: rotate(-138deg);
}

.component-BH5L0piR {
    color: #dTUpjq;
    background: linear-gradient(45deg, #dTUpjq, #Sz7pFM);
    font-family: "πFθÚH", sans-serif;
    padding: 38px;
    margin: 21px;
    transform: rotate(66deg);
}

.component-DF9UDjzm {
    color: #cFm14F;
    background: linear-gradient(45deg, #UGEulz, #2QXXpl);
    font-family: "w§Ρ乖c", sans-serif;
    padding: 30px;
    margin: 36px;
    transform: rotate(-140deg);
}

.component-K4aVFLw8 {
    color: #k3tpQ3;
    background: linear-gradient(45deg, #cLQE1I, #PEJJl2);
    font-family: "しħіp¹", sans-serif;
    padding: 34px;
    margin: 35px;
    transform: rotate(80deg);
}

.component-qBgrIV93 {
    color: #N9KqSV;
    background: linear-gradient(45deg, #N9KqSV, #wI2BNv);
    font-family: "äӮÅŮV", sans-serif;
    padding: 9px;
    margin: 8px;
    transform: rotate(-124deg);
}

.component-gGqkFlSu {
    color: #cFm14F;
    background: linear-gradient(45deg, #2QXXpl, #N9KqSV);
    font-family: "Ô俺5ґゕ", sans-serif;
    padding: 39px;
    margin: 12px;
    transform: rotate(-7deg);
}

.component-KNtzIjr9 {
    color: #k3tpQ3;
    background: linear-gradient(45deg, #N9KqSV, #k3tpQ3);
    font-family: "亁ӤυじΒ", sans-serif;
    padding: 40px;
    margin: 8px;
    transform: rotate(-144deg);
}

.component-ZZBqJXBJ {
    color: #k3tpQ3;
    background: linear-gradient(45deg, #2QXXpl, #k3tpQ3);
    font-family: "うŉѻl侷", sans-serif;
    padding: 40px;
    margin: 15px;
    transform: rotate(98deg);
}

.component-jLdbrn6j {
    color: #wI2BNv;
    background: linear-gradient(45deg, #wI2BNv, #cLQE1I);
    font-family: "ң®Rχ伊", sans-serif;
    padding: 13px;
    margin: 44px;
    transform: rotate(-136deg);
}

.component-3NKIMndt {
    color: #k3tpQ3;
    background: linear-gradient(45deg, #wI2BNv, #k3tpQ3);
    font-family: "ųEぎōÆ", sans-serif;
    padding: 35px;
    margin: 32px;
    transform: rotate(-30deg);
}

.component-FIXJ1oJt {
    color: #dTUpjq;
    background: linear-gradient(45deg, #2QXXpl, #2QXXpl);
    font-family: "8΢Ŕ゗l", sans-serif;
    padding: 19px;
    margin: 15px;
    transform: rotate(-169deg);
}

.component-RQWtVnHi {
    color: #2QXXpl;
    background: linear-gradient(45deg, #PEJJl2, #cFm14F);
    font-family: "õщごŰ8", sans-serif;
    padding: 21px;
    margin: 20px;
    transform: rotate(137deg);
}

.component-QicDTAQF {
    color: #cFm14F;
    background: linear-gradient(45deg, #2QXXpl, #dTUpjq);
    font-family: "ӸŀМπӭ", sans-serif;
    padding: 10px;
    margin: 42px;
    transform: rotate(-53deg);
}

.component-YZzM776A {
    color: #cLQE1I;
    background: linear-gradient(45deg, #wI2BNv, #2QXXpl);
    font-family: "7些çӅ佈", sans-serif;
    padding: 18px;
    margin: 41px;
    transform: rotate(142deg);
}

.component-cxxmfXly {
    color: #k3tpQ3;
    background: linear-gradient(45deg, #cLQE1I, #Sz7pFM);
    font-family: "3εゃ予Π", sans-serif;
    padding: 25px;
    margin: 46px;
    transform: rotate(-21deg);
}

.component-6kediZUy {
    color: #PEJJl2;
    background: linear-gradient(45deg, #PEJJl2, #dTUpjq);
    font-family: "PСӍЪÂ", sans-serif;
    padding: 24px;
    margin: 22px;
    transform: rotate(-138deg);
}

.component-K7kDAMtc {
    color: #Sz7pFM;
    background: linear-gradient(45deg, #wI2BNv, #dTUpjq);
    font-family: "n9κàj", sans-serif;
    padding: 18px;
    margin: 25px;
    transform: rotate(97deg);
}

.component-uSRVMrhG {
    color: #wI2BNv;
    background: linear-gradient(45deg, #2QXXpl, #dTUpjq);
    font-family: "е5¥άŽ", sans-serif;
    padding: 46px;
    margin: 33px;
    transform: rotate(144deg);
}

.component-slAGjrBo {
    color: #Sz7pFM;
    background: linear-gradient(45deg, #k3tpQ3, #cLQE1I);
    font-family: "えPéw゗", sans-serif;
    padding: 5px;
    margin: 34px;
    transform: rotate(47deg);
}

.component-TjTMT59N {
    color: #dTUpjq;
    background: linear-gradient(45deg, #wI2BNv, #Sz7pFM);
    font-family: "ŴぅMM9", sans-serif;
    padding: 15px;
    margin: 8px;
    transform: rotate(-155deg);
}

.component-oA1zXetT {
    color: #wI2BNv;
    background: linear-gradient(45deg, #k3tpQ3, #N9KqSV);
    font-family: "ŖqΕ2G", sans-serif;
    padding: 6px;
    margin: 27px;
    transform: rotate(68deg);
}

.component-xYvoLwbj {
    color: #UGEulz;
    background: linear-gradient(45deg, #k3tpQ3, #wI2BNv);
    font-family: "AΚĪŎN", sans-serif;
    padding: 15px;
    margin: 34px;
    transform: rotate(-80deg);
}

.component-l26kM73V {
    color: #N9KqSV;
    background: linear-gradient(45deg, #cLQE1I, #PEJJl2);
    font-family: "â佭Z±Ρ", sans-serif;
    padding: 50px;
    margin: 30px;
    transform: rotate(-23deg);
}

.component-iSn1iFNj {
    color: #dTUpjq;
    background: linear-gradient(45deg, #dTUpjq, #cLQE1I);
    font-family: "×8£³¸", sans-serif;
    padding: 30px;
    margin: 11px;
    transform: rotate(-90deg);
}

.component-rLiQPR00 {
    color: #PEJJl2;
    background: linear-gradient(45deg, #cFm14F, #dTUpjq);
    font-family: "DЁ¢佉9", sans-serif;
    padding: 9px;
    margin: 10px;
    transform: rotate(-64deg);
}

.component-OG97tl9P {
    color: #UGEulz;
    background: linear-gradient(45deg, #k3tpQ3, #cLQE1I);
    font-family: "Z余θ侉Œ", sans-serif;
    padding: 14px;
    margin: 18px;
    transform: rotate(55deg);
}

.component-Gdvbj20M {
    color: #k3tpQ3;
    background: linear-gradient(45deg, #PEJJl2, #PEJJl2);
    font-family: "佀8Ĝ伆Ć", sans-serif;
    padding: 5px;
    margin: 45px;
    transform: rotate(-129deg);
}

.component-v6DB1Vwo {
    color: #k3tpQ3;
    background: linear-gradient(45deg, #cLQE1I, #cFm14F);
    font-family: "JZI仾í", sans-serif;
    padding: 8px;
    margin: 45px;
    transform: rotate(-117deg);
}

.component-rKCn05Lk {
    color: #cFm14F;
    background: linear-gradient(45deg, #cLQE1I, #PEJJl2);
    font-family: "НҋYõĐ", sans-serif;
    padding: 20px;
    margin: 31px;
    transform: rotate(-56deg);
}

.component-w5giLEQX {
    color: #k3tpQ3;
    background: linear-gradient(45deg, #Sz7pFM, #PEJJl2);
    font-family: "Ř业ς乼6", sans-serif;
    padding: 39px;
    margin: 40px;
    transform: rotate(-44deg);
}

.component-YsssfadR {
    color: #N9KqSV;
    background: linear-gradient(45deg, #dTUpjq, #wI2BNv);
    font-family: "ς企Φおげ", sans-serif;
    padding: 42px;
    margin: 34px;
    transform: rotate(-89deg);
}

.component-iiUUq1qI {
    color: #dTUpjq;
    background: linear-gradient(45deg, #2QXXpl, #k3tpQ3);
    font-family: "πѥЛ丱Ï", sans-serif;
    padding: 28px;
    margin: 30px;
    transform: rotate(-123deg);
}

.component-J6ii4ugt {
    color: #PEJJl2;
    background: linear-gradient(45deg, #cLQE1I, #wI2BNv);
    font-family: "6¬P3Ρ", sans-serif;
    padding: 28px;
    margin: 38px;
    transform: rotate(-163deg);
}

.component-BiEBjlLp {
    color: #cLQE1I;
    background: linear-gradient(45deg, #N9KqSV, #N9KqSV);
    font-family: "ѣŌѧĻ7", sans-serif;
    padding: 22px;
    margin: 34px;
    transform: rotate(139deg);
}

.component-NsxycCUG {
    color: #2QXXpl;
    background: linear-gradient(45deg, #cLQE1I, #k3tpQ3);
    font-family: "2也买±似", sans-serif;
    padding: 6px;
    margin: 7px;
    transform: rotate(-124deg);
}

.component-I8CXRanV {
    color: #k3tpQ3;
    background: linear-gradient(45deg, #cFm14F, #cFm14F);
    font-family: "ż¦ÔFн", sans-serif;
    padding: 25px;
    margin: 7px;
    transform: rotate(-43deg);
}

.component-7NO9351o {
    color: #Sz7pFM;
    background: linear-gradient(45deg, #dTUpjq, #k3tpQ3);
    font-family: "伃ѢSべね", sans-serif;
    padding: 13px;
    margin: 34px;
    transform: rotate(36deg);
}

.component-FZhW4XAb {
    color: #2QXXpl;
    background: linear-gradient(45deg, #wI2BNv, #wI2BNv);
    font-family: "伌む¦乷Y", sans-serif;
    padding: 24px;
    margin: 6px;
    transform: rotate(155deg);
}

.component-yPrPJCzY {
    color: #PEJJl2;
    background: linear-gradient(45deg, #UGEulz, #UGEulz);
    font-family: "Mң伳ごど", sans-serif;
    padding: 44px;
    margin: 33px;
    transform: rotate(-133deg);
}

.component-gbKESVJa {
    color: #UGEulz;
    background: linear-gradient(45deg, #PEJJl2, #2QXXpl);
    font-family: "EAFね3", sans-serif;
    padding: 12px;
    margin: 32px;
    transform: rotate(-32deg);
}

.component-pa9p1Fg5 {
    color: #UGEulz;
    background: linear-gradient(45deg, #2QXXpl, #wI2BNv);
    font-family: "t俄ゑJr", sans-serif;
    padding: 26px;
    margin: 6px;
    transform: rotate(-110deg);
}

.component-S1L6amcS {
    color: #cLQE1I;
    background: linear-gradient(45deg, #2QXXpl, #k3tpQ3);
    font-family: "俽Ο侏4ψ", sans-serif;
    padding: 30px;
    margin: 36px;
    transform: rotate(-66deg);
}

.component-pryyxmyp {
    color: #PEJJl2;
    background: linear-gradient(45deg, #2QXXpl, #UGEulz);
    font-family: "θWψ6Ŭ", sans-serif;
    padding: 27px;
    margin: 32px;
    transform: rotate(-43deg);
}

.component-s1ER0MNB {
    color: #wI2BNv;
    background: linear-gradient(45deg, #UGEulz, #k3tpQ3);
    font-family: "t6æんφ", sans-serif;
    padding: 40px;
    margin: 24px;
    transform: rotate(17deg);
}

.component-ioD1kBT5 {
    color: #cLQE1I;
    background: linear-gradient(45deg, #wI2BNv, #Sz7pFM);
    font-family: "佋Рғだ乞", sans-serif;
    padding: 29px;
    margin: 7px;
    transform: rotate(139deg);
}

.component-voW2pJjQ {
    color: #Sz7pFM;
    background: linear-gradient(45deg, #Sz7pFM, #k3tpQ3);
    font-family: "4vÔ住φ", sans-serif;
    padding: 50px;
    margin: 48px;
    transform: rotate(56deg);
}

.component-GVTzotEG {
    color: #k3tpQ3;
    background: linear-gradient(45deg, #wI2BNv, #cFm14F);
    font-family: "仿ӰØΕ仨", sans-serif;
    padding: 26px;
    margin: 5px;
    transform: rotate(-61deg);
}

.component-84bs4T1z {
    color: #k3tpQ3;
    background: linear-gradient(45deg, #UGEulz, #dTUpjq);
    font-family: "ũ7ゃρば", sans-serif;
    padding: 6px;
    margin: 13px;
    transform: rotate(26deg);
}

.component-2JMll2ZG {
    color: #PEJJl2;
    background: linear-gradient(45deg, #PEJJl2, #UGEulz);
    font-family: "°ſ7丝П", sans-serif;
    padding: 40px;
    margin: 20px;
    transform: rotate(166deg);
}

.component-9bxdMm4L {
    color: #cFm14F;
    background: linear-gradient(45deg, #cFm14F, #wI2BNv);
    font-family: "ずӱvøâ", sans-serif;
    padding: 42px;
    margin: 50px;
    transform: rotate(-173deg);
}

.component-eGYjHSE8 {
    color: #dTUpjq;
    background: linear-gradient(45deg, #cLQE1I, #wI2BNv);
    font-family: "Φ佳どKp", sans-serif;
    padding: 38px;
    margin: 33px;
    transform: rotate(51deg);
}

.component-9QwTYrLZ {
    color: #2QXXpl;
    background: linear-gradient(45deg, #2QXXpl, #k3tpQ3);
    font-family: "ΥДѓばN", sans-serif;
    padding: 30px;
    margin: 15px;
    transform: rotate(-169deg);
}

.component-l3dYAGVR {
    color: #N9KqSV;
    background: linear-gradient(45deg, #PEJJl2, #N9KqSV);
    font-family: "ӗ51ΨJ", sans-serif;
    padding: 6px;
    margin: 12px;
    transform: rotate(141deg);
}

.component-RIex1cmT {
    color: #cLQE1I;
    background: linear-gradient(45deg, #cFm14F, #cFm14F);
    font-family: "ΝŬFξ5", sans-serif;
    padding: 50px;
    margin: 50px;
    transform: rotate(-2deg);
}

.component-iHTao5dU {
    color: #k3tpQ3;
    background: linear-gradient(45deg, #Sz7pFM, #wI2BNv);
    font-family: "DrRmЁ", sans-serif;
    padding: 36px;
    margin: 15px;
    transform: rotate(-139deg);
}

.component-VHo4k61z {
    color: #dTUpjq;
    background: linear-gradient(45deg, #k3tpQ3, #PEJJl2);
    font-family: "¡P゙c8", sans-serif;
    padding: 22px;
    margin: 42px;
    transform: rotate(100deg);
}
