.component-FW3k6L2G {
    color: #FXxPc1;
    background: linear-gradient(45deg, #DL38JL, #k2ad6F);
    font-family: "ѣxZ゙G", sans-serif;
    padding: 21px;
    margin: 24px;
    transform: rotate(-153deg);
}

.component-VR0d7zi3 {
    color: #uK0bLB;
    background: linear-gradient(45deg, #k2ad6F, #FXxPc1);
    font-family: "×τŶmK", sans-serif;
    padding: 12px;
    margin: 7px;
    transform: rotate(-81deg);
}

.component-J0VaAMYi {
    color: #gqWXQd;
    background: linear-gradient(45deg, #uK0bLB, #uNGyP1);
    font-family: "件Ѕ俀gろ", sans-serif;
    padding: 13px;
    margin: 17px;
    transform: rotate(3deg);
}

.component-z4Glof4c {
    color: #uK0bLB;
    background: linear-gradient(45deg, #4Wo3KC, #FXxPc1);
    font-family: "λ5һΛ6", sans-serif;
    padding: 40px;
    margin: 41px;
    transform: rotate(-151deg);
}

.component-KszMo593 {
    color: #uK0bLB;
    background: linear-gradient(45deg, #4Wo3KC, #gqWXQd);
    font-family: "ôӤмpn", sans-serif;
    padding: 19px;
    margin: 49px;
    transform: rotate(-146deg);
}

.component-LzwIEVGp {
    color: #k2ad6F;
    background: linear-gradient(45deg, #4Wo3KC, #aJeWtT);
    font-family: "ΙZÜ伐ι", sans-serif;
    padding: 33px;
    margin: 40px;
    transform: rotate(157deg);
}

.component-3MN23qOD {
    color: #4Wo3KC;
    background: linear-gradient(45deg, #DL38JL, #DL38JL);
    font-family: "Ĥlčąむ", sans-serif;
    padding: 20px;
    margin: 46px;
    transform: rotate(-42deg);
}

.component-qVc0eIAk {
    color: #aJeWtT;
    background: linear-gradient(45deg, #aENSOJ, #gqWXQd);
    font-family: "яτβ佔ӿ", sans-serif;
    padding: 26px;
    margin: 13px;
    transform: rotate(80deg);
}

.component-8GvtsQnA {
    color: #aENSOJ;
    background: linear-gradient(45deg, #FXxPc1, #4Wo3KC);
    font-family: "χĀα乾Ú", sans-serif;
    padding: 48px;
    margin: 21px;
    transform: rotate(86deg);
}

.component-XDsVTZAO {
    color: #DpvA63;
    background: linear-gradient(45deg, #gqWXQd, #uK0bLB);
    font-family: "ÊŚ§ぁĆ", sans-serif;
    padding: 12px;
    margin: 5px;
    transform: rotate(106deg);
}

.component-zpxpNUhJ {
    color: #uK0bLB;
    background: linear-gradient(45deg, #aJeWtT, #uK0bLB);
    font-family: "lѱ15Ä", sans-serif;
    padding: 31px;
    margin: 44px;
    transform: rotate(35deg);
}

.component-8T8WuSeO {
    color: #uNGyP1;
    background: linear-gradient(45deg, #DL38JL, #4Wo3KC);
    font-family: "fĺ4ごμ", sans-serif;
    padding: 27px;
    margin: 34px;
    transform: rotate(98deg);
}

.component-4f0nfS3L {
    color: #aJeWtT;
    background: linear-gradient(45deg, #DL38JL, #aENSOJ);
    font-family: "ΰぜ8ήҲ", sans-serif;
    padding: 43px;
    margin: 7px;
    transform: rotate(107deg);
}

.component-eWW4d6wM {
    color: #aJeWtT;
    background: linear-gradient(45deg, #gqWXQd, #FXxPc1);
    font-family: "ҔήxóΜ", sans-serif;
    padding: 35px;
    margin: 48px;
    transform: rotate(77deg);
}

.component-UMngmSrz {
    color: #aJeWtT;
    background: linear-gradient(45deg, #DpvA63, #FXxPc1);
    font-family: "95ぃhø", sans-serif;
    padding: 18px;
    margin: 46px;
    transform: rotate(168deg);
}

.component-su8CPI5R {
    color: #k2ad6F;
    background: linear-gradient(45deg, #k2ad6F, #FXxPc1);
    font-family: "Җҥ7ė8", sans-serif;
    padding: 7px;
    margin: 44px;
    transform: rotate(-59deg);
}

.component-qpzNk4RU {
    color: #uNGyP1;
    background: linear-gradient(45deg, #DL38JL, #aENSOJ);
    font-family: "ü伦J¢ぇ", sans-serif;
    padding: 8px;
    margin: 21px;
    transform: rotate(-71deg);
}

.component-xPnyFy7U {
    color: #FXxPc1;
    background: linear-gradient(45deg, #k2ad6F, #4Wo3KC);
    font-family: "4I゛Ŕz", sans-serif;
    padding: 14px;
    margin: 22px;
    transform: rotate(-89deg);
}

.component-CjUUWJIY {
    color: #k2ad6F;
    background: linear-gradient(45deg, #k2ad6F, #aJeWtT);
    font-family: "6ӣわĵû", sans-serif;
    padding: 43px;
    margin: 46px;
    transform: rotate(-18deg);
}

.component-BwBO9Hj2 {
    color: #uK0bLB;
    background: linear-gradient(45deg, #DL38JL, #k2ad6F);
    font-family: "8Лf¾¿", sans-serif;
    padding: 5px;
    margin: 37px;
    transform: rotate(113deg);
}

.component-ST9erEQo {
    color: #DL38JL;
    background: linear-gradient(45deg, #4Wo3KC, #k2ad6F);
    font-family: "丷伃Ϊゑk", sans-serif;
    padding: 42px;
    margin: 36px;
    transform: rotate(-137deg);
}

.component-DtRXQ1vX {
    color: #aENSOJ;
    background: linear-gradient(45deg, #aENSOJ, #4Wo3KC);
    font-family: "Ęш¸ΰθ", sans-serif;
    padding: 47px;
    margin: 38px;
    transform: rotate(-116deg);
}

.component-KtiJhCCB {
    color: #DpvA63;
    background: linear-gradient(45deg, #DpvA63, #aENSOJ);
    font-family: "ぴҩ7¢Ѵ", sans-serif;
    padding: 42px;
    margin: 30px;
    transform: rotate(-79deg);
}

.component-zfwiP3a8 {
    color: #uNGyP1;
    background: linear-gradient(45deg, #FXxPc1, #uNGyP1);
    font-family: "ぽÜ丙Y7", sans-serif;
    padding: 25px;
    margin: 19px;
    transform: rotate(89deg);
}

.component-kf4fNSj3 {
    color: #gqWXQd;
    background: linear-gradient(45deg, #aJeWtT, #k2ad6F);
    font-family: "ïãκņA", sans-serif;
    padding: 15px;
    margin: 8px;
    transform: rotate(138deg);
}

.component-ahdk2Zmg {
    color: #DL38JL;
    background: linear-gradient(45deg, #uK0bLB, #aENSOJ);
    font-family: "伔ん7§く", sans-serif;
    padding: 44px;
    margin: 18px;
    transform: rotate(-89deg);
}

.component-dvf4btxp {
    color: #k2ad6F;
    background: linear-gradient(45deg, #gqWXQd, #FXxPc1);
    font-family: "ŕń4ĊŪ", sans-serif;
    padding: 26px;
    margin: 8px;
    transform: rotate(-48deg);
}

.component-1T6fZHJN {
    color: #k2ad6F;
    background: linear-gradient(45deg, #aENSOJ, #DpvA63);
    font-family: "ēņ0らў", sans-serif;
    padding: 6px;
    margin: 35px;
    transform: rotate(-16deg);
}

.component-iBAGtcNf {
    color: #FXxPc1;
    background: linear-gradient(45deg, #DpvA63, #FXxPc1);
    font-family: "7俘ばzļ", sans-serif;
    padding: 31px;
    margin: 9px;
    transform: rotate(83deg);
}

.component-fSz86yUW {
    color: #4Wo3KC;
    background: linear-gradient(45deg, #uNGyP1, #gqWXQd);
    font-family: "Ă7あGѽ", sans-serif;
    padding: 26px;
    margin: 42px;
    transform: rotate(-98deg);
}

.component-ihsGbr1w {
    color: #gqWXQd;
    background: linear-gradient(45deg, #uNGyP1, #uK0bLB);
    font-family: "éĦゃѱだ", sans-serif;
    padding: 10px;
    margin: 29px;
    transform: rotate(160deg);
}

.component-LptLlUbW {
    color: #aENSOJ;
    background: linear-gradient(45deg, #FXxPc1, #DL38JL);
    font-family: "TŃ4ЩB", sans-serif;
    padding: 23px;
    margin: 44px;
    transform: rotate(4deg);
}

.component-Bt8SggWX {
    color: #DL38JL;
    background: linear-gradient(45deg, #uK0bLB, #aJeWtT);
    font-family: "ОuLӈΨ", sans-serif;
    padding: 35px;
    margin: 18px;
    transform: rotate(153deg);
}

.component-RGBxtjcZ {
    color: #DL38JL;
    background: linear-gradient(45deg, #DL38JL, #FXxPc1);
    font-family: "á4うGH", sans-serif;
    padding: 19px;
    margin: 20px;
    transform: rotate(-51deg);
}

.component-Y2lNgv3J {
    color: #k2ad6F;
    background: linear-gradient(45deg, #DL38JL, #FXxPc1);
    font-family: "乷ó±ぼΕ", sans-serif;
    padding: 34px;
    margin: 17px;
    transform: rotate(13deg);
}

.component-63Xtmqed {
    color: #4Wo3KC;
    background: linear-gradient(45deg, #uK0bLB, #DL38JL);
    font-family: "φóω乪đ", sans-serif;
    padding: 36px;
    margin: 32px;
    transform: rotate(-95deg);
}

.component-GReJxnLE {
    color: #DL38JL;
    background: linear-gradient(45deg, #aENSOJ, #FXxPc1);
    font-family: "a丂べeB", sans-serif;
    padding: 42px;
    margin: 7px;
    transform: rotate(25deg);
}

.component-WJ8LIAvY {
    color: #FXxPc1;
    background: linear-gradient(45deg, #4Wo3KC, #DpvA63);
    font-family: "ð0Rӫ伨", sans-serif;
    padding: 8px;
    margin: 33px;
    transform: rotate(60deg);
}

.component-bWTmi32i {
    color: #k2ad6F;
    background: linear-gradient(45deg, #gqWXQd, #gqWXQd);
    font-family: "¶πΒīG", sans-serif;
    padding: 32px;
    margin: 35px;
    transform: rotate(-48deg);
}

.component-Lx66hbEa {
    color: #aJeWtT;
    background: linear-gradient(45deg, #aJeWtT, #DpvA63);
    font-family: "¼2z亳1", sans-serif;
    padding: 33px;
    margin: 35px;
    transform: rotate(141deg);
}

.component-5qoBLtvZ {
    color: #DpvA63;
    background: linear-gradient(45deg, #uNGyP1, #uNGyP1);
    font-family: "ψ3DΨa", sans-serif;
    padding: 15px;
    margin: 6px;
    transform: rotate(101deg);
}

.component-bsRLjKNa {
    color: #FXxPc1;
    background: linear-gradient(45deg, #aENSOJ, #uK0bLB);
    font-family: "a亍仍İ亡", sans-serif;
    padding: 45px;
    margin: 13px;
    transform: rotate(-142deg);
}

.component-fgOw27al {
    color: #gqWXQd;
    background: linear-gradient(45deg, #gqWXQd, #DL38JL);
    font-family: "у俳ψ佔έ", sans-serif;
    padding: 14px;
    margin: 24px;
    transform: rotate(-23deg);
}

.component-TdYX6a1c {
    color: #uNGyP1;
    background: linear-gradient(45deg, #aJeWtT, #uNGyP1);
    font-family: "ほ΢Νゕ代", sans-serif;
    padding: 12px;
    margin: 21px;
    transform: rotate(-140deg);
}

.component-vjdoekp2 {
    color: #gqWXQd;
    background: linear-gradient(45deg, #FXxPc1, #DL38JL);
    font-family: "ruģ丹H", sans-serif;
    padding: 11px;
    margin: 38px;
    transform: rotate(-172deg);
}

.component-s8kG5YX3 {
    color: #gqWXQd;
    background: linear-gradient(45deg, #aENSOJ, #uK0bLB);
    font-family: "よ¶てӄG", sans-serif;
    padding: 35px;
    margin: 40px;
    transform: rotate(50deg);
}

.component-8eIQLXvB {
    color: #gqWXQd;
    background: linear-gradient(45deg, #4Wo3KC, #gqWXQd);
    font-family: "ゕeúlŞ", sans-serif;
    padding: 43px;
    margin: 34px;
    transform: rotate(-55deg);
}

.component-24cTduJ9 {
    color: #uK0bLB;
    background: linear-gradient(45deg, #uK0bLB, #uNGyP1);
    font-family: "ÃaÒъf", sans-serif;
    padding: 31px;
    margin: 29px;
    transform: rotate(-125deg);
}

.component-7K52s39D {
    color: #k2ad6F;
    background: linear-gradient(45deg, #4Wo3KC, #aENSOJ);
    font-family: "ŏZàáĤ", sans-serif;
    padding: 50px;
    margin: 12px;
    transform: rotate(137deg);
}

.component-1TC3g6l8 {
    color: #k2ad6F;
    background: linear-gradient(45deg, #DpvA63, #DpvA63);
    font-family: "Qま7èz", sans-serif;
    padding: 41px;
    margin: 7px;
    transform: rotate(165deg);
}

.component-eVBWu7Z3 {
    color: #uNGyP1;
    background: linear-gradient(45deg, #DL38JL, #uNGyP1);
    font-family: "ぷΪŌ48", sans-serif;
    padding: 49px;
    margin: 9px;
    transform: rotate(-125deg);
}

.component-iSqGNw7y {
    color: #4Wo3KC;
    background: linear-gradient(45deg, #uK0bLB, #aENSOJ);
    font-family: "γįĳΘx", sans-serif;
    padding: 6px;
    margin: 27px;
    transform: rotate(26deg);
}

.component-jAeblCLw {
    color: #FXxPc1;
    background: linear-gradient(45deg, #uNGyP1, #DL38JL);
    font-family: "仡伊ѱせる", sans-serif;
    padding: 6px;
    margin: 18px;
    transform: rotate(-171deg);
}

.component-7cB0xzI6 {
    color: #k2ad6F;
    background: linear-gradient(45deg, #k2ad6F, #aJeWtT);
    font-family: "u6ΩÝ伂", sans-serif;
    padding: 44px;
    margin: 22px;
    transform: rotate(-72deg);
}

.component-PGykpEPg {
    color: #k2ad6F;
    background: linear-gradient(45deg, #4Wo3KC, #uK0bLB);
    font-family: "ªÛ6ζK", sans-serif;
    padding: 24px;
    margin: 7px;
    transform: rotate(77deg);
}

.component-LKWgH8mm {
    color: #aJeWtT;
    background: linear-gradient(45deg, #aJeWtT, #uNGyP1);
    font-family: "ÿ予2ぶτ", sans-serif;
    padding: 28px;
    margin: 7px;
    transform: rotate(-32deg);
}

.component-4pZ9bZJc {
    color: #DL38JL;
    background: linear-gradient(45deg, #aENSOJ, #gqWXQd);
    font-family: "゛Cìeざ", sans-serif;
    padding: 13px;
    margin: 15px;
    transform: rotate(146deg);
}

.component-v17t7ClA {
    color: #FXxPc1;
    background: linear-gradient(45deg, #aENSOJ, #aJeWtT);
    font-family: "θObらË", sans-serif;
    padding: 49px;
    margin: 11px;
    transform: rotate(-76deg);
}

.component-gcefdEUP {
    color: #aJeWtT;
    background: linear-gradient(45deg, #k2ad6F, #FXxPc1);
    font-family: "ĔWそΟω", sans-serif;
    padding: 9px;
    margin: 17px;
    transform: rotate(49deg);
}

.component-gV0TcCjk {
    color: #k2ad6F;
    background: linear-gradient(45deg, #DpvA63, #4Wo3KC);
    font-family: "0ұei7", sans-serif;
    padding: 31px;
    margin: 9px;
    transform: rotate(-23deg);
}

.component-iKzZXBSM {
    color: #gqWXQd;
    background: linear-gradient(45deg, #uNGyP1, #uK0bLB);
    font-family: "也侇ίΰӃ", sans-serif;
    padding: 37px;
    margin: 46px;
    transform: rotate(68deg);
}

.component-m3ZSosYl {
    color: #k2ad6F;
    background: linear-gradient(45deg, #4Wo3KC, #uNGyP1);
    font-family: "7āӷEE", sans-serif;
    padding: 23px;
    margin: 35px;
    transform: rotate(-88deg);
}

.component-KXoM5mpW {
    color: #gqWXQd;
    background: linear-gradient(45deg, #uNGyP1, #uNGyP1);
    font-family: "ĻきAδr", sans-serif;
    padding: 20px;
    margin: 35px;
    transform: rotate(-122deg);
}

.component-p8WDwV9A {
    color: #aENSOJ;
    background: linear-gradient(45deg, #4Wo3KC, #aENSOJ);
    font-family: "HばμĹa", sans-serif;
    padding: 26px;
    margin: 22px;
    transform: rotate(85deg);
}

.component-z1SpLdmN {
    color: #aJeWtT;
    background: linear-gradient(45deg, #aENSOJ, #aJeWtT);
    font-family: "丟0们亢h", sans-serif;
    padding: 17px;
    margin: 20px;
    transform: rotate(176deg);
}

.component-ik1gl2h2 {
    color: #aENSOJ;
    background: linear-gradient(45deg, #aJeWtT, #uNGyP1);
    font-family: "5ざ丧伻ċ", sans-serif;
    padding: 42px;
    margin: 22px;
    transform: rotate(18deg);
}

.component-x1uGYE2s {
    color: #4Wo3KC;
    background: linear-gradient(45deg, #aENSOJ, #gqWXQd);
    font-family: "ゆまっぅӬ", sans-serif;
    padding: 15px;
    margin: 12px;
    transform: rotate(108deg);
}

.component-FcXarZoc {
    color: #DL38JL;
    background: linear-gradient(45deg, #aJeWtT, #4Wo3KC);
    font-family: "¥んЙª¹", sans-serif;
    padding: 48px;
    margin: 5px;
    transform: rotate(94deg);
}

.component-IrCQMoau {
    color: #FXxPc1;
    background: linear-gradient(45deg, #uK0bLB, #DL38JL);
    font-family: "WÑ亥1Ѧ", sans-serif;
    padding: 44px;
    margin: 32px;
    transform: rotate(-131deg);
}

.component-1CUDKhTO {
    color: #DL38JL;
    background: linear-gradient(45deg, #4Wo3KC, #k2ad6F);
    font-family: "eびЌθ½", sans-serif;
    padding: 13px;
    margin: 34px;
    transform: rotate(122deg);
}

.component-m3Ts4eT6 {
    color: #uNGyP1;
    background: linear-gradient(45deg, #uNGyP1, #uK0bLB);
    font-family: "Êqѯ侉q", sans-serif;
    padding: 49px;
    margin: 15px;
    transform: rotate(-175deg);
}

.component-QanQyCPI {
    color: #aENSOJ;
    background: linear-gradient(45deg, #DpvA63, #4Wo3KC);
    font-family: "ΘΗNŵ5", sans-serif;
    padding: 27px;
    margin: 13px;
    transform: rotate(125deg);
}

.component-7FXogxp9 {
    color: #4Wo3KC;
    background: linear-gradient(45deg, #DpvA63, #FXxPc1);
    font-family: "b6ψΧ似", sans-serif;
    padding: 11px;
    margin: 18px;
    transform: rotate(-136deg);
}

.component-EcA3ClCV {
    color: #FXxPc1;
    background: linear-gradient(45deg, #FXxPc1, #DpvA63);
    font-family: "Kçgh0", sans-serif;
    padding: 29px;
    margin: 11px;
    transform: rotate(179deg);
}

.component-H7koFKyf {
    color: #DL38JL;
    background: linear-gradient(45deg, #k2ad6F, #DL38JL);
    font-family: "ľWô8Ė", sans-serif;
    padding: 21px;
    margin: 45px;
    transform: rotate(146deg);
}

.component-v4grr8zH {
    color: #k2ad6F;
    background: linear-gradient(45deg, #k2ad6F, #aENSOJ);
    font-family: "べ3亭āπ", sans-serif;
    padding: 18px;
    margin: 21px;
    transform: rotate(-179deg);
}

.component-Tm8f23ce {
    color: #aJeWtT;
    background: linear-gradient(45deg, #uNGyP1, #4Wo3KC);
    font-family: "俉η¬qp", sans-serif;
    padding: 19px;
    margin: 34px;
    transform: rotate(-65deg);
}

.component-4geH887v {
    color: #k2ad6F;
    background: linear-gradient(45deg, #DL38JL, #aJeWtT);
    font-family: "便ВhHz", sans-serif;
    padding: 16px;
    margin: 16px;
    transform: rotate(108deg);
}

.component-PpZqRm8M {
    color: #uNGyP1;
    background: linear-gradient(45deg, #aJeWtT, #uK0bLB);
    font-family: "ゎま乼え伶", sans-serif;
    padding: 9px;
    margin: 28px;
    transform: rotate(-75deg);
}

.component-ff2507De {
    color: #uK0bLB;
    background: linear-gradient(45deg, #uK0bLB, #aENSOJ);
    font-family: "ή乡伡8f", sans-serif;
    padding: 44px;
    margin: 35px;
    transform: rotate(-164deg);
}

.component-Fc3Y61yN {
    color: #4Wo3KC;
    background: linear-gradient(45deg, #4Wo3KC, #gqWXQd);
    font-family: "ぱ1ゐ8Ι", sans-serif;
    padding: 5px;
    margin: 23px;
    transform: rotate(-135deg);
}

.component-DcL3mbti {
    color: #DpvA63;
    background: linear-gradient(45deg, #uNGyP1, #DL38JL);
    font-family: "13ïてV", sans-serif;
    padding: 35px;
    margin: 18px;
    transform: rotate(169deg);
}

.component-xtSNDTn0 {
    color: #uK0bLB;
    background: linear-gradient(45deg, #DL38JL, #4Wo3KC);
    font-family: "ђ҅È丹t", sans-serif;
    padding: 40px;
    margin: 26px;
    transform: rotate(13deg);
}

.component-xv5GaC2p {
    color: #4Wo3KC;
    background: linear-gradient(45deg, #FXxPc1, #uNGyP1);
    font-family: "nEθæĀ", sans-serif;
    padding: 44px;
    margin: 20px;
    transform: rotate(10deg);
}

.component-noDsPQ4L {
    color: #FXxPc1;
    background: linear-gradient(45deg, #4Wo3KC, #uK0bLB);
    font-family: "Ѥ·伲ҢF", sans-serif;
    padding: 50px;
    margin: 34px;
    transform: rotate(2deg);
}

.component-2Qi8NobC {
    color: #k2ad6F;
    background: linear-gradient(45deg, #FXxPc1, #DL38JL);
    font-family: "50þGj", sans-serif;
    padding: 48px;
    margin: 10px;
    transform: rotate(-110deg);
}

.component-tY2Qu3w2 {
    color: #DL38JL;
    background: linear-gradient(45deg, #FXxPc1, #DpvA63);
    font-family: "B9゗4よ", sans-serif;
    padding: 26px;
    margin: 15px;
    transform: rotate(149deg);
}

.component-qoK9gMyt {
    color: #aJeWtT;
    background: linear-gradient(45deg, #k2ad6F, #FXxPc1);
    font-family: "²ゔzgĸ", sans-serif;
    padding: 13px;
    margin: 11px;
    transform: rotate(-148deg);
}

.component-ESgD16QU {
    color: #gqWXQd;
    background: linear-gradient(45deg, #uK0bLB, #k2ad6F);
    font-family: "ѩŘΕάJ", sans-serif;
    padding: 25px;
    margin: 26px;
    transform: rotate(1deg);
}

.component-ktQDCQgF {
    color: #gqWXQd;
    background: linear-gradient(45deg, #FXxPc1, #uNGyP1);
    font-family: "ҳ伣ĸhを", sans-serif;
    padding: 11px;
    margin: 38px;
    transform: rotate(-95deg);
}

.component-XrIo0sp2 {
    color: #uNGyP1;
    background: linear-gradient(45deg, #k2ad6F, #FXxPc1);
    font-family: "lfcńし", sans-serif;
    padding: 28px;
    margin: 8px;
    transform: rotate(-139deg);
}

.component-hReJKPTc {
    color: #k2ad6F;
    background: linear-gradient(45deg, #k2ad6F, #k2ad6F);
    font-family: "ї丬οΨゝ", sans-serif;
    padding: 50px;
    margin: 48px;
    transform: rotate(18deg);
}

.component-r46s0mVV {
    color: #aENSOJ;
    background: linear-gradient(45deg, #gqWXQd, #uK0bLB);
    font-family: "ぎѮо丬3", sans-serif;
    padding: 42px;
    margin: 15px;
    transform: rotate(175deg);
}

.component-1WLhT4bj {
    color: #gqWXQd;
    background: linear-gradient(45deg, #gqWXQd, #aJeWtT);
    font-family: "侦KωΖĲ", sans-serif;
    padding: 41px;
    margin: 36px;
    transform: rotate(-156deg);
}

.component-u0OjCmvA {
    color: #k2ad6F;
    background: linear-gradient(45deg, #k2ad6F, #DL38JL);
    font-family: "伓ゐづΟΚ", sans-serif;
    padding: 22px;
    margin: 22px;
    transform: rotate(-175deg);
}

.component-O4QK0fOg {
    color: #aJeWtT;
    background: linear-gradient(45deg, #FXxPc1, #aENSOJ);
    font-family: "Íβħつҵ", sans-serif;
    padding: 7px;
    margin: 41px;
    transform: rotate(120deg);
}

.component-DIWZaBR4 {
    color: #aENSOJ;
    background: linear-gradient(45deg, #DpvA63, #aENSOJ);
    font-family: "ťýðѪL", sans-serif;
    padding: 39px;
    margin: 43px;
    transform: rotate(-21deg);
}

.component-AY9l57ec {
    color: #FXxPc1;
    background: linear-gradient(45deg, #aENSOJ, #gqWXQd);
    font-family: "付ず亇6Ρ", sans-serif;
    padding: 15px;
    margin: 33px;
    transform: rotate(135deg);
}

.component-BcaNFTjF {
    color: #DL38JL;
    background: linear-gradient(45deg, #DpvA63, #DpvA63);
    font-family: "亾乕Ҋ俖Ĥ", sans-serif;
    padding: 42px;
    margin: 14px;
    transform: rotate(-139deg);
}

.component-ywWb7bmA {
    color: #gqWXQd;
    background: linear-gradient(45deg, #uK0bLB, #uNGyP1);
    font-family: "Z2IゖЎ", sans-serif;
    padding: 36px;
    margin: 46px;
    transform: rotate(80deg);
}

.component-qywmyHxv {
    color: #4Wo3KC;
    background: linear-gradient(45deg, #uNGyP1, #aENSOJ);
    font-family: "θょ7pЮ", sans-serif;
    padding: 15px;
    margin: 21px;
    transform: rotate(158deg);
}

.component-iCQ5x6K5 {
    color: #uK0bLB;
    background: linear-gradient(45deg, #uK0bLB, #DpvA63);
    font-family: "ĚbΘh2", sans-serif;
    padding: 18px;
    margin: 48px;
    transform: rotate(-144deg);
}

.component-dgJ8RIcO {
    color: #aJeWtT;
    background: linear-gradient(45deg, #uK0bLB, #4Wo3KC);
    font-family: "些²ĕじѵ", sans-serif;
    padding: 5px;
    margin: 29px;
    transform: rotate(109deg);
}

.component-iXfexzAu {
    color: #DpvA63;
    background: linear-gradient(45deg, #DL38JL, #4Wo3KC);
    font-family: "1wţxӀ", sans-serif;
    padding: 22px;
    margin: 6px;
    transform: rotate(-61deg);
}

.component-xX6j46kL {
    color: #DL38JL;
    background: linear-gradient(45deg, #DL38JL, #k2ad6F);
    font-family: "ӤH乮ÅΖ", sans-serif;
    padding: 44px;
    margin: 20px;
    transform: rotate(56deg);
}

.component-cAMEXfDX {
    color: #aJeWtT;
    background: linear-gradient(45deg, #gqWXQd, #DpvA63);
    font-family: "ř乨yĈW", sans-serif;
    padding: 5px;
    margin: 26px;
    transform: rotate(12deg);
}

.component-wgQ1Uu4S {
    color: #uK0bLB;
    background: linear-gradient(45deg, #DpvA63, #DL38JL);
    font-family: "ø仢俻U亃", sans-serif;
    padding: 48px;
    margin: 26px;
    transform: rotate(-172deg);
}

.component-U03UVMlK {
    color: #DpvA63;
    background: linear-gradient(45deg, #DpvA63, #aJeWtT);
    font-family: "Y5侃ぁ丽", sans-serif;
    padding: 19px;
    margin: 28px;
    transform: rotate(125deg);
}

.component-eb6UQ303 {
    color: #k2ad6F;
    background: linear-gradient(45deg, #aJeWtT, #aJeWtT);
    font-family: "΢zゃ佡丮", sans-serif;
    padding: 42px;
    margin: 47px;
    transform: rotate(-1deg);
}

.component-s7UkTcyd {
    color: #FXxPc1;
    background: linear-gradient(45deg, #gqWXQd, #aJeWtT);
    font-family: "ѵҾìνB", sans-serif;
    padding: 22px;
    margin: 32px;
    transform: rotate(-168deg);
}

.component-ye0G2l8d {
    color: #FXxPc1;
    background: linear-gradient(45deg, #aENSOJ, #DpvA63);
    font-family: "俫Hһ仼c", sans-serif;
    padding: 8px;
    margin: 48px;
    transform: rotate(-83deg);
}

.component-ZJtxHZN3 {
    color: #FXxPc1;
    background: linear-gradient(45deg, #4Wo3KC, #aJeWtT);
    font-family: "ŌӜγ俆ý", sans-serif;
    padding: 8px;
    margin: 11px;
    transform: rotate(166deg);
}

.component-r1999ey1 {
    color: #k2ad6F;
    background: linear-gradient(45deg, #k2ad6F, #aJeWtT);
    font-family: "ΣPぎほå", sans-serif;
    padding: 27px;
    margin: 17px;
    transform: rotate(122deg);
}

.component-JjKy1UwF {
    color: #k2ad6F;
    background: linear-gradient(45deg, #FXxPc1, #k2ad6F);
    font-family: "Ęη也ӆ佬", sans-serif;
    padding: 13px;
    margin: 28px;
    transform: rotate(59deg);
}

.component-cXuCttMT {
    color: #DL38JL;
    background: linear-gradient(45deg, #DL38JL, #k2ad6F);
    font-family: "だ¤亼侤1", sans-serif;
    padding: 24px;
    margin: 32px;
    transform: rotate(-166deg);
}

.component-mhqtG5oh {
    color: #gqWXQd;
    background: linear-gradient(45deg, #aJeWtT, #aJeWtT);
    font-family: "Π3Ыĺµ", sans-serif;
    padding: 15px;
    margin: 17px;
    transform: rotate(37deg);
}

.component-dQjk75s1 {
    color: #uK0bLB;
    background: linear-gradient(45deg, #DL38JL, #uK0bLB);
    font-family: "έФÎoć", sans-serif;
    padding: 27px;
    margin: 16px;
    transform: rotate(-16deg);
}

.component-K8Ksd65b {
    color: #DL38JL;
    background: linear-gradient(45deg, #DpvA63, #DpvA63);
    font-family: "ΧtJOs", sans-serif;
    padding: 45px;
    margin: 6px;
    transform: rotate(-95deg);
}

.component-xIwQwca5 {
    color: #FXxPc1;
    background: linear-gradient(45deg, #uNGyP1, #uK0bLB);
    font-family: "゗ΔZにV", sans-serif;
    padding: 16px;
    margin: 20px;
    transform: rotate(-21deg);
}

.component-DOLMhzCQ {
    color: #uK0bLB;
    background: linear-gradient(45deg, #DL38JL, #k2ad6F);
    font-family: "ѱΔ70½", sans-serif;
    padding: 25px;
    margin: 20px;
    transform: rotate(14deg);
}

.component-vFLeqoM5 {
    color: #gqWXQd;
    background: linear-gradient(45deg, #4Wo3KC, #uNGyP1);
    font-family: "îず720", sans-serif;
    padding: 37px;
    margin: 16px;
    transform: rotate(11deg);
}

.component-smykJZIP {
    color: #FXxPc1;
    background: linear-gradient(45deg, #aENSOJ, #aENSOJ);
    font-family: "へYѵҷΑ", sans-serif;
    padding: 40px;
    margin: 27px;
    transform: rotate(-177deg);
}

.component-r5Cct8HH {
    color: #k2ad6F;
    background: linear-gradient(45deg, #FXxPc1, #uK0bLB);
    font-family: "3ċºҽά", sans-serif;
    padding: 29px;
    margin: 13px;
    transform: rotate(-106deg);
}

.component-LoJXqVuz {
    color: #uK0bLB;
    background: linear-gradient(45deg, #aJeWtT, #aJeWtT);
    font-family: "Lゖķ¹M", sans-serif;
    padding: 22px;
    margin: 20px;
    transform: rotate(-109deg);
}

.component-7kbCZah1 {
    color: #FXxPc1;
    background: linear-gradient(45deg, #k2ad6F, #DpvA63);
    font-family: "b9侩ӆζ", sans-serif;
    padding: 27px;
    margin: 30px;
    transform: rotate(-35deg);
}

.component-iphU2tKJ {
    color: #DL38JL;
    background: linear-gradient(45deg, #aJeWtT, #k2ad6F);
    font-family: "iI伊êҟ", sans-serif;
    padding: 42px;
    margin: 34px;
    transform: rotate(-16deg);
}

.component-ONdkXuba {
    color: #uK0bLB;
    background: linear-gradient(45deg, #aENSOJ, #DL38JL);
    font-family: "5ġcũÛ", sans-serif;
    padding: 21px;
    margin: 16px;
    transform: rotate(-79deg);
}

.component-csy4VEZJ {
    color: #DL38JL;
    background: linear-gradient(45deg, #DpvA63, #aJeWtT);
    font-family: "nJаС佖", sans-serif;
    padding: 36px;
    margin: 48px;
    transform: rotate(84deg);
}

.component-W38oepCm {
    color: #FXxPc1;
    background: linear-gradient(45deg, #aENSOJ, #DpvA63);
    font-family: "Ґěğ«4", sans-serif;
    padding: 24px;
    margin: 10px;
    transform: rotate(118deg);
}

.component-Q0cWzodU {
    color: #uK0bLB;
    background: linear-gradient(45deg, #uK0bLB, #4Wo3KC);
    font-family: "TĒĕS产", sans-serif;
    padding: 25px;
    margin: 11px;
    transform: rotate(-163deg);
}

.component-HDvwIP3g {
    color: #aENSOJ;
    background: linear-gradient(45deg, #DL38JL, #DpvA63);
    font-family: "丷5ѱn£", sans-serif;
    padding: 38px;
    margin: 9px;
    transform: rotate(-86deg);
}

.component-g1ya2muM {
    color: #k2ad6F;
    background: linear-gradient(45deg, #4Wo3KC, #aJeWtT);
    font-family: "亲ゝの侈¥", sans-serif;
    padding: 10px;
    margin: 23px;
    transform: rotate(-93deg);
}

.component-cXZ3tbHp {
    color: #DpvA63;
    background: linear-gradient(45deg, #4Wo3KC, #uK0bLB);
    font-family: "έѾџŗļ", sans-serif;
    padding: 37px;
    margin: 7px;
    transform: rotate(-27deg);
}

.component-J32hnSpy {
    color: #aENSOJ;
    background: linear-gradient(45deg, #DpvA63, #DpvA63);
    font-family: "ゑи7Y2", sans-serif;
    padding: 14px;
    margin: 39px;
    transform: rotate(73deg);
}

.component-S1RbTMKm {
    color: #FXxPc1;
    background: linear-gradient(45deg, #k2ad6F, #uNGyP1);
    font-family: "ѲΒf®Ũ", sans-serif;
    padding: 35px;
    margin: 32px;
    transform: rotate(-171deg);
}

.component-bRKfrxOS {
    color: #uNGyP1;
    background: linear-gradient(45deg, #uNGyP1, #DL38JL);
    font-family: "őUS÷l", sans-serif;
    padding: 49px;
    margin: 46px;
    transform: rotate(-174deg);
}

.component-W4UPlO0O {
    color: #DpvA63;
    background: linear-gradient(45deg, #aENSOJ, #FXxPc1);
    font-family: "乒22rz", sans-serif;
    padding: 13px;
    margin: 47px;
    transform: rotate(29deg);
}

.component-y0HYvU89 {
    color: #FXxPc1;
    background: linear-gradient(45deg, #gqWXQd, #DpvA63);
    font-family: "ӁV5佗Μ", sans-serif;
    padding: 40px;
    margin: 24px;
    transform: rotate(-134deg);
}

.component-KS0e7mJA {
    color: #DL38JL;
    background: linear-gradient(45deg, #DL38JL, #k2ad6F);
    font-family: "M҇か0δ", sans-serif;
    padding: 21px;
    margin: 27px;
    transform: rotate(134deg);
}

.component-fsdd4Skl {
    color: #aJeWtT;
    background: linear-gradient(45deg, #aJeWtT, #aJeWtT);
    font-family: "佣SӼzり", sans-serif;
    padding: 15px;
    margin: 39px;
    transform: rotate(-88deg);
}
