.component-kNjboAvA {
    color: #WNCqcL;
    background: linear-gradient(45deg, #Cjzdr2, #Cjzdr2);
    font-family: "yJ6仃L", sans-serif;
    padding: 43px;
    margin: 47px;
    transform: rotate(40deg);
}

.component-Xl0zv8se {
    color: #WNCqcL;
    background: linear-gradient(45deg, #bnaCwW, #WNCqcL);
    font-family: "rĴk9r", sans-serif;
    padding: 31px;
    margin: 21px;
    transform: rotate(-164deg);
}

.component-GF1iJAm3 {
    color: #94gAop;
    background: linear-gradient(45deg, #DJO4E8, #bD5FzL);
    font-family: "WřてĖG", sans-serif;
    padding: 19px;
    margin: 35px;
    transform: rotate(167deg);
}

.component-DH1vTb1T {
    color: #mVKh4q;
    background: linear-gradient(45deg, #94gAop, #bD5FzL);
    font-family: "ů2ω侒6", sans-serif;
    padding: 48px;
    margin: 16px;
    transform: rotate(151deg);
}

.component-qk3Vb5jt {
    color: #94gAop;
    background: linear-gradient(45deg, #Cjzdr2, #bnaCwW);
    font-family: "§LU7q", sans-serif;
    padding: 34px;
    margin: 7px;
    transform: rotate(-136deg);
}

.component-DYkUzxU8 {
    color: #bD5FzL;
    background: linear-gradient(45deg, #dmKyAT, #Cjzdr2);
    font-family: "aџQŃΥ", sans-serif;
    padding: 6px;
    margin: 49px;
    transform: rotate(121deg);
}

.component-nbnn43fI {
    color: #cUqKl8;
    background: linear-gradient(45deg, #WNCqcL, #lJXJSy);
    font-family: "šΦςÎ゙", sans-serif;
    padding: 31px;
    margin: 24px;
    transform: rotate(155deg);
}

.component-ViENBNLA {
    color: #DJO4E8;
    background: linear-gradient(45deg, #bnaCwW, #Cjzdr2);
    font-family: "乧びぎŽ一", sans-serif;
    padding: 11px;
    margin: 29px;
    transform: rotate(-121deg);
}

.component-5mWjNwdg {
    color: #bD5FzL;
    background: linear-gradient(45deg, #lJXJSy, #94gAop);
    font-family: "ӟ件Bあゎ", sans-serif;
    padding: 17px;
    margin: 29px;
    transform: rotate(6deg);
}

.component-Ix15vNMW {
    color: #mVKh4q;
    background: linear-gradient(45deg, #94gAop, #cUqKl8);
    font-family: "1ψŞ33", sans-serif;
    padding: 36px;
    margin: 23px;
    transform: rotate(75deg);
}

.component-zKgMFUpb {
    color: #dmKyAT;
    background: linear-gradient(45deg, #cUqKl8, #dmKyAT);
    font-family: "P®伮ゎψ", sans-serif;
    padding: 25px;
    margin: 10px;
    transform: rotate(85deg);
}

.component-o9sae8rX {
    color: #WNCqcL;
    background: linear-gradient(45deg, #Cjzdr2, #bnaCwW);
    font-family: "4½ゃ8n", sans-serif;
    padding: 9px;
    margin: 10px;
    transform: rotate(40deg);
}

.component-NgLH2OSL {
    color: #94gAop;
    background: linear-gradient(45deg, #DJO4E8, #DJO4E8);
    font-family: "ò仿Gπӷ", sans-serif;
    padding: 33px;
    margin: 48px;
    transform: rotate(102deg);
}

.component-yncDQh3t {
    color: #mVKh4q;
    background: linear-gradient(45deg, #Cjzdr2, #Cjzdr2);
    font-family: "BIЪUゞ", sans-serif;
    padding: 28px;
    margin: 37px;
    transform: rotate(145deg);
}

.component-MDLoqMdy {
    color: #cUqKl8;
    background: linear-gradient(45deg, #cUqKl8, #94gAop);
    font-family: "1Ŝ1ӏ仁", sans-serif;
    padding: 12px;
    margin: 42px;
    transform: rotate(0deg);
}

.component-DFl6K72p {
    color: #dmKyAT;
    background: linear-gradient(45deg, #bD5FzL, #lJXJSy);
    font-family: "åらKゖ¶", sans-serif;
    padding: 27px;
    margin: 18px;
    transform: rotate(23deg);
}

.component-sruUZ09D {
    color: #dmKyAT;
    background: linear-gradient(45deg, #WNCqcL, #WNCqcL);
    font-family: "XAś丘Ӛ", sans-serif;
    padding: 27px;
    margin: 41px;
    transform: rotate(-49deg);
}

.component-XDyhU2yD {
    color: #bnaCwW;
    background: linear-gradient(45deg, #WNCqcL, #bnaCwW);
    font-family: "佞џӥÿĉ", sans-serif;
    padding: 38px;
    margin: 42px;
    transform: rotate(100deg);
}

.component-UP5pUnEp {
    color: #bD5FzL;
    background: linear-gradient(45deg, #dmKyAT, #dmKyAT);
    font-family: "侕ς但Tŵ", sans-serif;
    padding: 12px;
    margin: 38px;
    transform: rotate(14deg);
}

.component-UFWjqc0Z {
    color: #lJXJSy;
    background: linear-gradient(45deg, #WNCqcL, #Cjzdr2);
    font-family: "侑6мx佡", sans-serif;
    padding: 50px;
    margin: 41px;
    transform: rotate(170deg);
}

.component-rlmTZu6w {
    color: #lJXJSy;
    background: linear-gradient(45deg, #cUqKl8, #DJO4E8);
    font-family: "ŭŒ4ぐε", sans-serif;
    padding: 32px;
    margin: 9px;
    transform: rotate(26deg);
}

.component-lQ6rvHLG {
    color: #mVKh4q;
    background: linear-gradient(45deg, #bD5FzL, #Cjzdr2);
    font-family: "ӋμУqΔ", sans-serif;
    padding: 47px;
    margin: 38px;
    transform: rotate(-100deg);
}

.component-YRQGViWi {
    color: #94gAop;
    background: linear-gradient(45deg, #bD5FzL, #Cjzdr2);
    font-family: "っn伸30", sans-serif;
    padding: 23px;
    margin: 18px;
    transform: rotate(134deg);
}

.component-5kdACvx8 {
    color: #lJXJSy;
    background: linear-gradient(45deg, #bnaCwW, #cUqKl8);
    font-family: "dこぽgĿ", sans-serif;
    padding: 13px;
    margin: 9px;
    transform: rotate(-60deg);
}

.component-Cc99e41c {
    color: #mVKh4q;
    background: linear-gradient(45deg, #bD5FzL, #lJXJSy);
    font-family: "М9gκ0", sans-serif;
    padding: 27px;
    margin: 35px;
    transform: rotate(80deg);
}

.component-LYhQeNRJ {
    color: #cUqKl8;
    background: linear-gradient(45deg, #cUqKl8, #dmKyAT);
    font-family: "49¾仦Y", sans-serif;
    padding: 26px;
    margin: 30px;
    transform: rotate(-66deg);
}

.component-cTY6IOtQ {
    color: #bnaCwW;
    background: linear-gradient(45deg, #WNCqcL, #DJO4E8);
    font-family: "άҗDEΒ", sans-serif;
    padding: 29px;
    margin: 28px;
    transform: rotate(40deg);
}

.component-AUUW6QRH {
    color: #mVKh4q;
    background: linear-gradient(45deg, #cUqKl8, #dmKyAT);
    font-family: "nѣ俄ék", sans-serif;
    padding: 47px;
    margin: 29px;
    transform: rotate(85deg);
}

.component-SJWiyew1 {
    color: #Cjzdr2;
    background: linear-gradient(45deg, #cUqKl8, #WNCqcL);
    font-family: "ďIh7Ӹ", sans-serif;
    padding: 36px;
    margin: 40px;
    transform: rotate(30deg);
}

.component-pNnKbpNn {
    color: #DJO4E8;
    background: linear-gradient(45deg, #cUqKl8, #bD5FzL);
    font-family: "れHе0o", sans-serif;
    padding: 39px;
    margin: 35px;
    transform: rotate(113deg);
}

.component-OfUKvFle {
    color: #bD5FzL;
    background: linear-gradient(45deg, #cUqKl8, #94gAop);
    font-family: "Å仇Ĭ³z", sans-serif;
    padding: 48px;
    margin: 43px;
    transform: rotate(59deg);
}

.component-t1vnMY5i {
    color: #94gAop;
    background: linear-gradient(45deg, #cUqKl8, #DJO4E8);
    font-family: "А9仐eΞ", sans-serif;
    padding: 39px;
    margin: 11px;
    transform: rotate(-75deg);
}

.component-on48UCyf {
    color: #dmKyAT;
    background: linear-gradient(45deg, #dmKyAT, #bD5FzL);
    font-family: "ηた両κP", sans-serif;
    padding: 45px;
    margin: 31px;
    transform: rotate(56deg);
}

.component-9qc4Urmm {
    color: #DJO4E8;
    background: linear-gradient(45deg, #lJXJSy, #bD5FzL);
    font-family: "¼7ñ侮ぇ", sans-serif;
    padding: 36px;
    margin: 22px;
    transform: rotate(155deg);
}

.component-CB3uT6al {
    color: #bD5FzL;
    background: linear-gradient(45deg, #cUqKl8, #Cjzdr2);
    font-family: "ί3ЁΨУ", sans-serif;
    padding: 17px;
    margin: 46px;
    transform: rotate(-176deg);
}

.component-LEWHmIqz {
    color: #DJO4E8;
    background: linear-gradient(45deg, #cUqKl8, #bD5FzL);
    font-family: "ð6DZゅ", sans-serif;
    padding: 27px;
    margin: 7px;
    transform: rotate(131deg);
}

.component-UA6NLq9C {
    color: #WNCqcL;
    background: linear-gradient(45deg, #bD5FzL, #DJO4E8);
    font-family: "Óhάĩű", sans-serif;
    padding: 20px;
    margin: 49px;
    transform: rotate(-145deg);
}

.component-VZoZbDsI {
    color: #bnaCwW;
    background: linear-gradient(45deg, #bnaCwW, #94gAop);
    font-family: "¿1佴ģ俀", sans-serif;
    padding: 16px;
    margin: 12px;
    transform: rotate(154deg);
}

.component-8BMGxzqo {
    color: #lJXJSy;
    background: linear-gradient(45deg, #cUqKl8, #lJXJSy);
    font-family: "佈もĹ8ő", sans-serif;
    padding: 30px;
    margin: 28px;
    transform: rotate(151deg);
}

.component-ZDX42Idp {
    color: #Cjzdr2;
    background: linear-gradient(45deg, #DJO4E8, #dmKyAT);
    font-family: "τěO4の", sans-serif;
    padding: 43px;
    margin: 42px;
    transform: rotate(-87deg);
}

.component-b2tvU4ub {
    color: #dmKyAT;
    background: linear-gradient(45deg, #dmKyAT, #dmKyAT);
    font-family: "佃0みÅğ", sans-serif;
    padding: 30px;
    margin: 5px;
    transform: rotate(-9deg);
}

.component-EYjN0Vl5 {
    color: #WNCqcL;
    background: linear-gradient(45deg, #bnaCwW, #lJXJSy);
    font-family: "οaЍつè", sans-serif;
    padding: 41px;
    margin: 44px;
    transform: rotate(-99deg);
}

.component-LFDemQEH {
    color: #cUqKl8;
    background: linear-gradient(45deg, #bD5FzL, #94gAop);
    font-family: "GЧĊÙj", sans-serif;
    padding: 23px;
    margin: 42px;
    transform: rotate(-16deg);
}

.component-X9rMpU7Q {
    color: #Cjzdr2;
    background: linear-gradient(45deg, #Cjzdr2, #DJO4E8);
    font-family: "MBe侺w", sans-serif;
    padding: 10px;
    margin: 16px;
    transform: rotate(-144deg);
}

.component-5dbS6JAf {
    color: #dmKyAT;
    background: linear-gradient(45deg, #lJXJSy, #Cjzdr2);
    font-family: "øPσÜゝ", sans-serif;
    padding: 48px;
    margin: 7px;
    transform: rotate(-132deg);
}

.component-upDWzVgl {
    color: #94gAop;
    background: linear-gradient(45deg, #mVKh4q, #94gAop);
    font-family: "ρďŰė4", sans-serif;
    padding: 13px;
    margin: 37px;
    transform: rotate(-136deg);
}

.component-TJKvPYnK {
    color: #lJXJSy;
    background: linear-gradient(45deg, #cUqKl8, #lJXJSy);
    font-family: "39ſbӄ", sans-serif;
    padding: 48px;
    margin: 27px;
    transform: rotate(-52deg);
}

.component-Q4xuOH9p {
    color: #bnaCwW;
    background: linear-gradient(45deg, #94gAop, #Cjzdr2);
    font-family: "03传t3", sans-serif;
    padding: 30px;
    margin: 13px;
    transform: rotate(99deg);
}

.component-hQVZclZ7 {
    color: #mVKh4q;
    background: linear-gradient(45deg, #cUqKl8, #DJO4E8);
    font-family: "N伳Dӈѩ", sans-serif;
    padding: 7px;
    margin: 46px;
    transform: rotate(-22deg);
}

.component-DVGXbi8C {
    color: #bD5FzL;
    background: linear-gradient(45deg, #bnaCwW, #dmKyAT);
    font-family: "Đj1促ѽ", sans-serif;
    padding: 11px;
    margin: 33px;
    transform: rotate(163deg);
}

.component-qJzEnyWh {
    color: #lJXJSy;
    background: linear-gradient(45deg, #WNCqcL, #DJO4E8);
    font-family: "A7¼ΚJ", sans-serif;
    padding: 14px;
    margin: 16px;
    transform: rotate(57deg);
}

.component-lUDJTB31 {
    color: #mVKh4q;
    background: linear-gradient(45deg, #DJO4E8, #Cjzdr2);
    font-family: "МみüaΡ", sans-serif;
    padding: 37px;
    margin: 13px;
    transform: rotate(-126deg);
}

.component-fZsJgDgf {
    color: #bnaCwW;
    background: linear-gradient(45deg, #DJO4E8, #DJO4E8);
    font-family: "ΞõΜV争", sans-serif;
    padding: 16px;
    margin: 25px;
    transform: rotate(153deg);
}

.component-OS75M73M {
    color: #DJO4E8;
    background: linear-gradient(45deg, #dmKyAT, #lJXJSy);
    font-family: "5ÃЕÕ丰", sans-serif;
    padding: 47px;
    margin: 36px;
    transform: rotate(-126deg);
}

.component-1NURBlyN {
    color: #mVKh4q;
    background: linear-gradient(45deg, #cUqKl8, #Cjzdr2);
    font-family: "Lλks5", sans-serif;
    padding: 46px;
    margin: 34px;
    transform: rotate(-23deg);
}

.component-Wg6gQB0i {
    color: #DJO4E8;
    background: linear-gradient(45deg, #bD5FzL, #dmKyAT);
    font-family: "΢亜ざbた", sans-serif;
    padding: 41px;
    margin: 48px;
    transform: rotate(-90deg);
}

.component-MXNZdXG7 {
    color: #bnaCwW;
    background: linear-gradient(45deg, #dmKyAT, #Cjzdr2);
    font-family: "3k¸OC", sans-serif;
    padding: 35px;
    margin: 40px;
    transform: rotate(168deg);
}

.component-Mm4julSr {
    color: #dmKyAT;
    background: linear-gradient(45deg, #dmKyAT, #mVKh4q);
    font-family: "ЎsӡÝM", sans-serif;
    padding: 10px;
    margin: 14px;
    transform: rotate(144deg);
}

.component-pkxU03A3 {
    color: #DJO4E8;
    background: linear-gradient(45deg, #cUqKl8, #Cjzdr2);
    font-family: "юŁűGy", sans-serif;
    padding: 43px;
    margin: 13px;
    transform: rotate(-83deg);
}

.component-XKEziNgD {
    color: #lJXJSy;
    background: linear-gradient(45deg, #DJO4E8, #dmKyAT);
    font-family: "佡1L伎r", sans-serif;
    padding: 35px;
    margin: 13px;
    transform: rotate(168deg);
}

.component-iTKEJpsU {
    color: #dmKyAT;
    background: linear-gradient(45deg, #Cjzdr2, #bnaCwW);
    font-family: "ıわ¡ゖ2", sans-serif;
    padding: 9px;
    margin: 30px;
    transform: rotate(-98deg);
}

.component-aBQzD7EY {
    color: #mVKh4q;
    background: linear-gradient(45deg, #bD5FzL, #Cjzdr2);
    font-family: "ÿιТΙn", sans-serif;
    padding: 33px;
    margin: 45px;
    transform: rotate(-54deg);
}

.component-9GPEioTJ {
    color: #cUqKl8;
    background: linear-gradient(45deg, #cUqKl8, #bD5FzL);
    font-family: "JӿĴΒz", sans-serif;
    padding: 37px;
    margin: 39px;
    transform: rotate(-108deg);
}

.component-K0H518wS {
    color: #bnaCwW;
    background: linear-gradient(45deg, #dmKyAT, #cUqKl8);
    font-family: "5ĿűG゚", sans-serif;
    padding: 8px;
    margin: 22px;
    transform: rotate(101deg);
}

.component-UudPixpE {
    color: #mVKh4q;
    background: linear-gradient(45deg, #mVKh4q, #dmKyAT);
    font-family: "F丂WУο", sans-serif;
    padding: 27px;
    margin: 20px;
    transform: rotate(-172deg);
}

.component-z5wrjr8z {
    color: #bnaCwW;
    background: linear-gradient(45deg, #dmKyAT, #bD5FzL);
    font-family: "іtゎèL", sans-serif;
    padding: 19px;
    margin: 8px;
    transform: rotate(111deg);
}

.component-nqjpYnva {
    color: #dmKyAT;
    background: linear-gradient(45deg, #WNCqcL, #cUqKl8);
    font-family: "їゖNねE", sans-serif;
    padding: 13px;
    margin: 26px;
    transform: rotate(162deg);
}

.component-DgIGpLg2 {
    color: #94gAop;
    background: linear-gradient(45deg, #Cjzdr2, #cUqKl8);
    font-family: "õ5Л乪G", sans-serif;
    padding: 18px;
    margin: 12px;
    transform: rotate(23deg);
}

.component-3Woz67T5 {
    color: #mVKh4q;
    background: linear-gradient(45deg, #cUqKl8, #dmKyAT);
    font-family: "­6以iあ", sans-serif;
    padding: 27px;
    margin: 50px;
    transform: rotate(-42deg);
}

.component-d9vGusD8 {
    color: #Cjzdr2;
    background: linear-gradient(45deg, #lJXJSy, #cUqKl8);
    font-family: "ÿ9ĦひK", sans-serif;
    padding: 9px;
    margin: 39px;
    transform: rotate(-26deg);
}

.component-Ys5FDkNl {
    color: #94gAop;
    background: linear-gradient(45deg, #94gAop, #DJO4E8);
    font-family: "わ俴56ë", sans-serif;
    padding: 32px;
    margin: 33px;
    transform: rotate(94deg);
}

.component-fjTOT5nD {
    color: #lJXJSy;
    background: linear-gradient(45deg, #bD5FzL, #DJO4E8);
    font-family: "cろÝNб", sans-serif;
    padding: 44px;
    margin: 39px;
    transform: rotate(18deg);
}

.component-tTb46BM3 {
    color: #bD5FzL;
    background: linear-gradient(45deg, #DJO4E8, #DJO4E8);
    font-family: "ҏΨ²Ђゖ", sans-serif;
    padding: 18px;
    margin: 43px;
    transform: rotate(-147deg);
}

.component-eAoiG1wh {
    color: #DJO4E8;
    background: linear-gradient(45deg, #bD5FzL, #WNCqcL);
    font-family: "伂B乀vわ", sans-serif;
    padding: 43px;
    margin: 36px;
    transform: rotate(-67deg);
}

.component-iv0Ke1Tx {
    color: #dmKyAT;
    background: linear-gradient(45deg, #lJXJSy, #dmKyAT);
    font-family: "ĊҬ3њ²", sans-serif;
    padding: 37px;
    margin: 41px;
    transform: rotate(-173deg);
}

.component-F1TpGwVU {
    color: #94gAop;
    background: linear-gradient(45deg, #WNCqcL, #bnaCwW);
    font-family: "ん1Ұ±D", sans-serif;
    padding: 17px;
    margin: 34px;
    transform: rotate(-49deg);
}

.component-Im25AM2K {
    color: #mVKh4q;
    background: linear-gradient(45deg, #WNCqcL, #Cjzdr2);
    font-family: "oѲひżӀ", sans-serif;
    padding: 7px;
    margin: 24px;
    transform: rotate(-51deg);
}

.component-p4KoWCZe {
    color: #mVKh4q;
    background: linear-gradient(45deg, #dmKyAT, #mVKh4q);
    font-family: "Â5ӾQp", sans-serif;
    padding: 36px;
    margin: 26px;
    transform: rotate(155deg);
}

.component-HzYQt6O9 {
    color: #dmKyAT;
    background: linear-gradient(45deg, #bnaCwW, #bnaCwW);
    font-family: "ЏÁΤkM", sans-serif;
    padding: 19px;
    margin: 34px;
    transform: rotate(32deg);
}

.component-kk8cq6kV {
    color: #bD5FzL;
    background: linear-gradient(45deg, #lJXJSy, #Cjzdr2);
    font-family: "゛6V丅Φ", sans-serif;
    padding: 47px;
    margin: 27px;
    transform: rotate(55deg);
}

.component-N5PXGDQs {
    color: #cUqKl8;
    background: linear-gradient(45deg, #bD5FzL, #bD5FzL);
    font-family: "ιΝ぀Wщ", sans-serif;
    padding: 44px;
    margin: 41px;
    transform: rotate(172deg);
}

.component-FhiAtByr {
    color: #bD5FzL;
    background: linear-gradient(45deg, #bD5FzL, #mVKh4q);
    font-family: "ӊх¿ҖΫ", sans-serif;
    padding: 29px;
    margin: 10px;
    transform: rotate(16deg);
}

.component-7x8WZuCc {
    color: #Cjzdr2;
    background: linear-gradient(45deg, #DJO4E8, #DJO4E8);
    font-family: "GÉìτκ", sans-serif;
    padding: 28px;
    margin: 38px;
    transform: rotate(-23deg);
}

.component-G3UrdEli {
    color: #bnaCwW;
    background: linear-gradient(45deg, #Cjzdr2, #bD5FzL);
    font-family: "ŇYĊΙŅ", sans-serif;
    padding: 7px;
    margin: 10px;
    transform: rotate(136deg);
}

.component-lEN82SF6 {
    color: #lJXJSy;
    background: linear-gradient(45deg, #lJXJSy, #mVKh4q);
    font-family: "似぀R亰ē", sans-serif;
    padding: 41px;
    margin: 24px;
    transform: rotate(66deg);
}

.component-SpxZCZkv {
    color: #94gAop;
    background: linear-gradient(45deg, #lJXJSy, #bD5FzL);
    font-family: "ΰ7ÿqΡ", sans-serif;
    padding: 15px;
    margin: 5px;
    transform: rotate(134deg);
}

.component-fy47Zvto {
    color: #dmKyAT;
    background: linear-gradient(45deg, #lJXJSy, #bD5FzL);
    font-family: "みもфせΠ", sans-serif;
    padding: 28px;
    margin: 34px;
    transform: rotate(180deg);
}

.component-bJPw4ztF {
    color: #lJXJSy;
    background: linear-gradient(45deg, #94gAop, #bnaCwW);
    font-family: "αじrたげ", sans-serif;
    padding: 17px;
    margin: 27px;
    transform: rotate(-40deg);
}

.component-mc22OA24 {
    color: #cUqKl8;
    background: linear-gradient(45deg, #cUqKl8, #dmKyAT);
    font-family: "乀Ιґp作", sans-serif;
    padding: 27px;
    margin: 34px;
    transform: rotate(85deg);
}

.component-JtzjIxds {
    color: #mVKh4q;
    background: linear-gradient(45deg, #94gAop, #94gAop);
    font-family: "ќĀV佀ә", sans-serif;
    padding: 13px;
    margin: 35px;
    transform: rotate(-96deg);
}

.component-xtBoAscR {
    color: #mVKh4q;
    background: linear-gradient(45deg, #WNCqcL, #dmKyAT);
    font-family: "85¯ìİ", sans-serif;
    padding: 17px;
    margin: 40px;
    transform: rotate(-140deg);
}

.component-zBc5VTBR {
    color: #94gAop;
    background: linear-gradient(45deg, #bD5FzL, #cUqKl8);
    font-family: "γjMap", sans-serif;
    padding: 13px;
    margin: 36px;
    transform: rotate(79deg);
}

.component-YP3FaG5l {
    color: #lJXJSy;
    background: linear-gradient(45deg, #cUqKl8, #bD5FzL);
    font-family: "ĤßJ俤Γ", sans-serif;
    padding: 32px;
    margin: 5px;
    transform: rotate(126deg);
}

.component-3z3YMtqm {
    color: #DJO4E8;
    background: linear-gradient(45deg, #WNCqcL, #WNCqcL);
    font-family: "V4ӯψ8", sans-serif;
    padding: 26px;
    margin: 27px;
    transform: rotate(-51deg);
}

.component-LdH7VF3R {
    color: #bnaCwW;
    background: linear-gradient(45deg, #mVKh4q, #cUqKl8);
    font-family: "aΞ6λW", sans-serif;
    padding: 5px;
    margin: 40px;
    transform: rotate(-67deg);
}

.component-ZrYQqPzk {
    color: #bnaCwW;
    background: linear-gradient(45deg, #WNCqcL, #cUqKl8);
    font-family: "例Ѹe¸Ģ", sans-serif;
    padding: 35px;
    margin: 47px;
    transform: rotate(68deg);
}

.component-tlc0lD5z {
    color: #cUqKl8;
    background: linear-gradient(45deg, #bnaCwW, #94gAop);
    font-family: "ぅεQ乃Ě", sans-serif;
    padding: 6px;
    margin: 46px;
    transform: rotate(26deg);
}

.component-HhcHisS6 {
    color: #bD5FzL;
    background: linear-gradient(45deg, #WNCqcL, #bD5FzL);
    font-family: "゜Eј予ß", sans-serif;
    padding: 29px;
    margin: 42px;
    transform: rotate(-172deg);
}

.component-2hcHXVMc {
    color: #bD5FzL;
    background: linear-gradient(45deg, #bD5FzL, #WNCqcL);
    font-family: "伨8Πlē", sans-serif;
    padding: 22px;
    margin: 17px;
    transform: rotate(-173deg);
}

.component-htokmLNb {
    color: #Cjzdr2;
    background: linear-gradient(45deg, #94gAop, #94gAop);
    font-family: "÷ĨšИv", sans-serif;
    padding: 27px;
    margin: 41px;
    transform: rotate(59deg);
}

.component-OxN6DccB {
    color: #mVKh4q;
    background: linear-gradient(45deg, #WNCqcL, #bD5FzL);
    font-family: "΢G伄习ろ", sans-serif;
    padding: 41px;
    margin: 8px;
    transform: rotate(-141deg);
}

.component-oDqffs5F {
    color: #WNCqcL;
    background: linear-gradient(45deg, #bD5FzL, #cUqKl8);
    font-family: "k乹÷Ћ伧", sans-serif;
    padding: 15px;
    margin: 7px;
    transform: rotate(-16deg);
}

.component-3Nr9hG5x {
    color: #94gAop;
    background: linear-gradient(45deg, #lJXJSy, #bnaCwW);
    font-family: "佭5κ他k", sans-serif;
    padding: 7px;
    margin: 17px;
    transform: rotate(-148deg);
}

.component-dD9qYk5h {
    color: #dmKyAT;
    background: linear-gradient(45deg, #bnaCwW, #lJXJSy);
    font-family: "G乊×ŮJ", sans-serif;
    padding: 41px;
    margin: 26px;
    transform: rotate(60deg);
}

.component-o5fPni1W {
    color: #WNCqcL;
    background: linear-gradient(45deg, #DJO4E8, #WNCqcL);
    font-family: "Kή侖てz", sans-serif;
    padding: 26px;
    margin: 9px;
    transform: rotate(-78deg);
}

.component-LLF2o2ax {
    color: #WNCqcL;
    background: linear-gradient(45deg, #mVKh4q, #dmKyAT);
    font-family: "Lntҟち", sans-serif;
    padding: 20px;
    margin: 30px;
    transform: rotate(-42deg);
}

.component-Y1XYtLuB {
    color: #mVKh4q;
    background: linear-gradient(45deg, #WNCqcL, #lJXJSy);
    font-family: "ÀÈ¦νň", sans-serif;
    padding: 44px;
    margin: 5px;
    transform: rotate(-70deg);
}

.component-6JPP7S3z {
    color: #cUqKl8;
    background: linear-gradient(45deg, #dmKyAT, #DJO4E8);
    font-family: "佞Xゑれӿ", sans-serif;
    padding: 44px;
    margin: 42px;
    transform: rotate(150deg);
}

.component-TXHi3suO {
    color: #bD5FzL;
    background: linear-gradient(45deg, #lJXJSy, #lJXJSy);
    font-family: "ま仿や伐ŝ", sans-serif;
    padding: 23px;
    margin: 42px;
    transform: rotate(128deg);
}

.component-uLYC153Z {
    color: #mVKh4q;
    background: linear-gradient(45deg, #DJO4E8, #Cjzdr2);
    font-family: "ӹ¹俄Τn", sans-serif;
    padding: 38px;
    margin: 39px;
    transform: rotate(-175deg);
}

.component-e9RG6xiQ {
    color: #bD5FzL;
    background: linear-gradient(45deg, #bnaCwW, #mVKh4q);
    font-family: "7ひs似゘", sans-serif;
    padding: 32px;
    margin: 43px;
    transform: rotate(31deg);
}

.component-9Vs3Qkyj {
    color: #mVKh4q;
    background: linear-gradient(45deg, #WNCqcL, #WNCqcL);
    font-family: "ť6Ņ0Ĕ", sans-serif;
    padding: 26px;
    margin: 20px;
    transform: rotate(-150deg);
}

.component-pYZlfkN7 {
    color: #DJO4E8;
    background: linear-gradient(45deg, #Cjzdr2, #bD5FzL);
    font-family: "2俈Lşk", sans-serif;
    padding: 10px;
    margin: 5px;
    transform: rotate(104deg);
}

.component-r90QlhOT {
    color: #bD5FzL;
    background: linear-gradient(45deg, #bD5FzL, #dmKyAT);
    font-family: "佝ΛcӤĶ", sans-serif;
    padding: 49px;
    margin: 20px;
    transform: rotate(148deg);
}

.component-wi2EfWEv {
    color: #lJXJSy;
    background: linear-gradient(45deg, #dmKyAT, #94gAop);
    font-family: "zҁĺk侮", sans-serif;
    padding: 50px;
    margin: 37px;
    transform: rotate(-17deg);
}

.component-rSOu3ZLN {
    color: #94gAop;
    background: linear-gradient(45deg, #DJO4E8, #cUqKl8);
    font-family: "伖Gかщ侴", sans-serif;
    padding: 45px;
    margin: 15px;
    transform: rotate(-72deg);
}

.component-yRMXwVkn {
    color: #dmKyAT;
    background: linear-gradient(45deg, #cUqKl8, #bD5FzL);
    font-family: "Şӆけбg", sans-serif;
    padding: 7px;
    margin: 38px;
    transform: rotate(176deg);
}

.component-Rgl0XO4T {
    color: #lJXJSy;
    background: linear-gradient(45deg, #DJO4E8, #cUqKl8);
    font-family: "Ј0ήぽ乥", sans-serif;
    padding: 10px;
    margin: 25px;
    transform: rotate(144deg);
}

.component-E12nc7gd {
    color: #DJO4E8;
    background: linear-gradient(45deg, #bnaCwW, #DJO4E8);
    font-family: "Ε业じŮ乃", sans-serif;
    padding: 22px;
    margin: 17px;
    transform: rotate(166deg);
}

.component-dDBkjwGa {
    color: #bD5FzL;
    background: linear-gradient(45deg, #lJXJSy, #WNCqcL);
    font-family: "σθυんρ", sans-serif;
    padding: 35px;
    margin: 15px;
    transform: rotate(-50deg);
}

.component-ZndSsoIP {
    color: #DJO4E8;
    background: linear-gradient(45deg, #DJO4E8, #94gAop);
    font-family: "Ҁ乻O­w", sans-serif;
    padding: 21px;
    margin: 34px;
    transform: rotate(-53deg);
}

.component-EzPyhvte {
    color: #cUqKl8;
    background: linear-gradient(45deg, #WNCqcL, #94gAop);
    font-family: "7åoξ俪", sans-serif;
    padding: 24px;
    margin: 46px;
    transform: rotate(-35deg);
}

.component-Dylwhork {
    color: #bD5FzL;
    background: linear-gradient(45deg, #cUqKl8, #DJO4E8);
    font-family: "­ぽ併ѓ3", sans-serif;
    padding: 5px;
    margin: 18px;
    transform: rotate(46deg);
}

.component-BaHkLSK8 {
    color: #mVKh4q;
    background: linear-gradient(45deg, #WNCqcL, #Cjzdr2);
    font-family: "ØΟ°e乊", sans-serif;
    padding: 37px;
    margin: 8px;
    transform: rotate(-5deg);
}

.component-MKinC3ip {
    color: #94gAop;
    background: linear-gradient(45deg, #WNCqcL, #dmKyAT);
    font-family: "Sŭ仵ôh", sans-serif;
    padding: 31px;
    margin: 47px;
    transform: rotate(162deg);
}

.component-i1f7rNHH {
    color: #dmKyAT;
    background: linear-gradient(45deg, #dmKyAT, #DJO4E8);
    font-family: "gcŗuѳ", sans-serif;
    padding: 47px;
    margin: 20px;
    transform: rotate(-176deg);
}

.component-zIE0MIca {
    color: #94gAop;
    background: linear-gradient(45deg, #DJO4E8, #mVKh4q);
    font-family: "Ŕlį俞く", sans-serif;
    padding: 49px;
    margin: 19px;
    transform: rotate(-102deg);
}

.component-sSfHraAa {
    color: #bnaCwW;
    background: linear-gradient(45deg, #DJO4E8, #Cjzdr2);
    font-family: "Èきj²ӹ", sans-serif;
    padding: 20px;
    margin: 5px;
    transform: rotate(-47deg);
}

.component-467AW5Xy {
    color: #cUqKl8;
    background: linear-gradient(45deg, #bnaCwW, #DJO4E8);
    font-family: "0ΙҦDz", sans-serif;
    padding: 11px;
    margin: 24px;
    transform: rotate(19deg);
}

.component-H11DHoK2 {
    color: #cUqKl8;
    background: linear-gradient(45deg, #DJO4E8, #lJXJSy);
    font-family: "χÝ伸İӐ", sans-serif;
    padding: 45px;
    margin: 12px;
    transform: rotate(98deg);
}

.component-uBA1ge99 {
    color: #bnaCwW;
    background: linear-gradient(45deg, #dmKyAT, #Cjzdr2);
    font-family: "7Ôγふし", sans-serif;
    padding: 47px;
    margin: 11px;
    transform: rotate(-14deg);
}

.component-VqBT0UGT {
    color: #dmKyAT;
    background: linear-gradient(45deg, #94gAop, #cUqKl8);
    font-family: "5俗´E҅", sans-serif;
    padding: 20px;
    margin: 23px;
    transform: rotate(87deg);
}

.component-yhVkd115 {
    color: #cUqKl8;
    background: linear-gradient(45deg, #dmKyAT, #94gAop);
    font-family: "伅Ůüゟ­", sans-serif;
    padding: 50px;
    margin: 19px;
    transform: rotate(-115deg);
}

.component-x8f0mvbV {
    color: #bD5FzL;
    background: linear-gradient(45deg, #bnaCwW, #cUqKl8);
    font-family: "ýж9Σ乤", sans-serif;
    padding: 11px;
    margin: 44px;
    transform: rotate(-145deg);
}

.component-REehUiAO {
    color: #mVKh4q;
    background: linear-gradient(45deg, #DJO4E8, #Cjzdr2);
    font-family: "俱つ佢әÿ", sans-serif;
    padding: 11px;
    margin: 15px;
    transform: rotate(70deg);
}

.component-TLUr9JW3 {
    color: #cUqKl8;
    background: linear-gradient(45deg, #bD5FzL, #WNCqcL);
    font-family: "゚Эν伌r", sans-serif;
    padding: 49px;
    margin: 49px;
    transform: rotate(-29deg);
}

.component-4RB8Mv7v {
    color: #mVKh4q;
    background: linear-gradient(45deg, #mVKh4q, #bD5FzL);
    font-family: "5W么ŝÇ", sans-serif;
    padding: 50px;
    margin: 19px;
    transform: rotate(31deg);
}

.component-NYfT5soo {
    color: #WNCqcL;
    background: linear-gradient(45deg, #mVKh4q, #Cjzdr2);
    font-family: "5OĆξB", sans-serif;
    padding: 14px;
    margin: 24px;
    transform: rotate(-21deg);
}

.component-flJ9ozN5 {
    color: #WNCqcL;
    background: linear-gradient(45deg, #dmKyAT, #lJXJSy);
    font-family: "佥¸nЧ乽", sans-serif;
    padding: 21px;
    margin: 10px;
    transform: rotate(-48deg);
}

.component-Aanh0am2 {
    color: #DJO4E8;
    background: linear-gradient(45deg, #bD5FzL, #94gAop);
    font-family: "佯jV乾ҧ", sans-serif;
    padding: 11px;
    margin: 35px;
    transform: rotate(-66deg);
}
