.component-4uC80IuN {
    color: #gFqA9x;
    background: linear-gradient(45deg, #jXR47J, #r7yxQM);
    font-family: "俧むΰDく", sans-serif;
    padding: 20px;
    margin: 36px;
    transform: rotate(79deg);
}

.component-kkFdqYZn {
    color: #jXR47J;
    background: linear-gradient(45deg, #oR2WJR, #E0YY5Z);
    font-family: "ゑģÎFõ", sans-serif;
    padding: 15px;
    margin: 9px;
    transform: rotate(4deg);
}

.component-x2SPorC1 {
    color: #jXR47J;
    background: linear-gradient(45deg, #oR2WJR, #oR2WJR);
    font-family: "佇ĄΥѿÝ", sans-serif;
    padding: 11px;
    margin: 31px;
    transform: rotate(-89deg);
}

.component-OC0N2Fp6 {
    color: #jXR47J;
    background: linear-gradient(45deg, #nUzyYh, #E0YY5Z);
    font-family: "æ9Ĉӣž", sans-serif;
    padding: 35px;
    margin: 38px;
    transform: rotate(-86deg);
}

.component-EBZbr0GG {
    color: #E0YY5Z;
    background: linear-gradient(45deg, #XCeVz1, #aFJiLj);
    font-family: "俪た何4ů", sans-serif;
    padding: 34px;
    margin: 44px;
    transform: rotate(-95deg);
}

.component-vO00G1Y4 {
    color: #XCeVz1;
    background: linear-gradient(45deg, #oR2WJR, #r7yxQM);
    font-family: "ξłDѦҗ", sans-serif;
    padding: 32px;
    margin: 9px;
    transform: rotate(26deg);
}

.component-eG3lzbJY {
    color: #jXR47J;
    background: linear-gradient(45deg, #iRf0Cq, #gFqA9x);
    font-family: "亡ŏω7R", sans-serif;
    padding: 11px;
    margin: 27px;
    transform: rotate(-158deg);
}

.component-SkaOjSsh {
    color: #iRf0Cq;
    background: linear-gradient(45deg, #XCeVz1, #gFqA9x);
    font-family: "7ÖËĳŢ", sans-serif;
    padding: 42px;
    margin: 11px;
    transform: rotate(-93deg);
}

.component-o8ivTgPx {
    color: #aFJiLj;
    background: linear-gradient(45deg, #gFqA9x, #aFJiLj);
    font-family: "俟ӄҍьҙ", sans-serif;
    padding: 13px;
    margin: 10px;
    transform: rotate(-97deg);
}

.component-J0ScrUUl {
    color: #nUzyYh;
    background: linear-gradient(45deg, #iRf0Cq, #iRf0Cq);
    font-family: "½Ų©ėY", sans-serif;
    padding: 26px;
    margin: 34px;
    transform: rotate(43deg);
}

.component-LTI05XbA {
    color: #jXR47J;
    background: linear-gradient(45deg, #iRf0Cq, #nUzyYh);
    font-family: "佔ぷΫ丽ö", sans-serif;
    padding: 43px;
    margin: 18px;
    transform: rotate(120deg);
}

.component-MUXAA46r {
    color: #xPFYmq;
    background: linear-gradient(45deg, #xPFYmq, #xPFYmq);
    font-family: "rĤӾи§", sans-serif;
    padding: 15px;
    margin: 45px;
    transform: rotate(-115deg);
}

.component-hlEfXlJU {
    color: #xPFYmq;
    background: linear-gradient(45deg, #gFqA9x, #jXR47J);
    font-family: "õy伣ªŻ", sans-serif;
    padding: 36px;
    margin: 41px;
    transform: rotate(-37deg);
}

.component-w3LmP24I {
    color: #E0YY5Z;
    background: linear-gradient(45deg, #gFqA9x, #aFJiLj);
    font-family: "3Sţ぀る", sans-serif;
    padding: 29px;
    margin: 44px;
    transform: rotate(-117deg);
}

.component-avhjblCb {
    color: #aFJiLj;
    background: linear-gradient(45deg, #E0YY5Z, #XCeVz1);
    font-family: "3Ńあ亩U", sans-serif;
    padding: 25px;
    margin: 30px;
    transform: rotate(-102deg);
}

.component-ZFgAuLhm {
    color: #nUzyYh;
    background: linear-gradient(45deg, #xPFYmq, #aFJiLj);
    font-family: "ľĠΖゎ2", sans-serif;
    padding: 23px;
    margin: 25px;
    transform: rotate(65deg);
}

.component-06Jeih7F {
    color: #nUzyYh;
    background: linear-gradient(45deg, #E0YY5Z, #xPFYmq);
    font-family: "なΧきğΨ", sans-serif;
    padding: 34px;
    margin: 9px;
    transform: rotate(27deg);
}

.component-RS4BYJxZ {
    color: #oR2WJR;
    background: linear-gradient(45deg, #nUzyYh, #E0YY5Z);
    font-family: "伻Y7Řう", sans-serif;
    padding: 8px;
    margin: 34px;
    transform: rotate(-121deg);
}

.component-QZf04Hor {
    color: #oR2WJR;
    background: linear-gradient(45deg, #aFJiLj, #XCeVz1);
    font-family: "ѳª俞ҎP", sans-serif;
    padding: 35px;
    margin: 35px;
    transform: rotate(-123deg);
}

.component-mkYevprU {
    color: #r7yxQM;
    background: linear-gradient(45deg, #E0YY5Z, #XCeVz1);
    font-family: "ĪΰlŚ5", sans-serif;
    padding: 38px;
    margin: 36px;
    transform: rotate(-116deg);
}

.component-eil6mvrt {
    color: #XCeVz1;
    background: linear-gradient(45deg, #E0YY5Z, #E0YY5Z);
    font-family: "ӵ5γ8R", sans-serif;
    padding: 46px;
    margin: 29px;
    transform: rotate(21deg);
}

.component-2R3C3Ub8 {
    color: #nUzyYh;
    background: linear-gradient(45deg, #gFqA9x, #E0YY5Z);
    font-family: "4iえbゃ", sans-serif;
    padding: 25px;
    margin: 14px;
    transform: rotate(-16deg);
}

.component-v4eYATeP {
    color: #XCeVz1;
    background: linear-gradient(45deg, #E0YY5Z, #aFJiLj);
    font-family: "临V×Fげ", sans-serif;
    padding: 10px;
    margin: 30px;
    transform: rotate(46deg);
}

.component-44Jfy68q {
    color: #r7yxQM;
    background: linear-gradient(45deg, #r7yxQM, #jXR47J);
    font-family: "¯ĹXνĚ", sans-serif;
    padding: 44px;
    margin: 13px;
    transform: rotate(-35deg);
}

.component-xhIdaxte {
    color: #E0YY5Z;
    background: linear-gradient(45deg, #r7yxQM, #gFqA9x);
    font-family: "1m¯ӜŲ", sans-serif;
    padding: 49px;
    margin: 49px;
    transform: rotate(-35deg);
}

.component-J7rFgO94 {
    color: #r7yxQM;
    background: linear-gradient(45deg, #gFqA9x, #E0YY5Z);
    font-family: "ŘfぴμC", sans-serif;
    padding: 25px;
    margin: 29px;
    transform: rotate(149deg);
}

.component-52lXjMpO {
    color: #r7yxQM;
    background: linear-gradient(45deg, #E0YY5Z, #r7yxQM);
    font-family: "ぅi伯亵ぎ", sans-serif;
    padding: 31px;
    margin: 10px;
    transform: rotate(-129deg);
}

.component-lSfaxw51 {
    color: #iRf0Cq;
    background: linear-gradient(45deg, #gFqA9x, #E0YY5Z);
    font-family: "Dôu҃ご", sans-serif;
    padding: 20px;
    margin: 14px;
    transform: rotate(13deg);
}

.component-zbm37HBi {
    color: #iRf0Cq;
    background: linear-gradient(45deg, #oR2WJR, #nUzyYh);
    font-family: "ぼľҙこ6", sans-serif;
    padding: 44px;
    margin: 34px;
    transform: rotate(177deg);
}

.component-LLHTIEMZ {
    color: #E0YY5Z;
    background: linear-gradient(45deg, #E0YY5Z, #jXR47J);
    font-family: "5ЋëŇb", sans-serif;
    padding: 44px;
    margin: 5px;
    transform: rotate(-8deg);
}

.component-Lhyeh49q {
    color: #E0YY5Z;
    background: linear-gradient(45deg, #gFqA9x, #r7yxQM);
    font-family: "亘そき3τ", sans-serif;
    padding: 31px;
    margin: 42px;
    transform: rotate(11deg);
}

.component-x85ZzPgU {
    color: #aFJiLj;
    background: linear-gradient(45deg, #xPFYmq, #nUzyYh);
    font-family: "Un亨侄Ÿ", sans-serif;
    padding: 41px;
    margin: 24px;
    transform: rotate(134deg);
}

.component-mlwTVuKy {
    color: #iRf0Cq;
    background: linear-gradient(45deg, #nUzyYh, #xPFYmq);
    font-family: "3tめӿ1", sans-serif;
    padding: 16px;
    margin: 50px;
    transform: rotate(-102deg);
}

.component-On2zmpKu {
    color: #gFqA9x;
    background: linear-gradient(45deg, #aFJiLj, #nUzyYh);
    font-family: "÷ゅcχә", sans-serif;
    padding: 12px;
    margin: 8px;
    transform: rotate(9deg);
}

.component-xhGvsm0e {
    color: #r7yxQM;
    background: linear-gradient(45deg, #E0YY5Z, #nUzyYh);
    font-family: "3侈侍½仕", sans-serif;
    padding: 32px;
    margin: 32px;
    transform: rotate(-68deg);
}

.component-su2jNzjR {
    color: #nUzyYh;
    background: linear-gradient(45deg, #XCeVz1, #gFqA9x);
    font-family: "ѬκЪfΟ", sans-serif;
    padding: 35px;
    margin: 29px;
    transform: rotate(86deg);
}

.component-HlB3TCy6 {
    color: #iRf0Cq;
    background: linear-gradient(45deg, #gFqA9x, #xPFYmq);
    font-family: "¼ÀゆHs", sans-serif;
    padding: 13px;
    margin: 46px;
    transform: rotate(175deg);
}

.component-hmMiIvpw {
    color: #r7yxQM;
    background: linear-gradient(45deg, #XCeVz1, #gFqA9x);
    font-family: "BÐӽば×", sans-serif;
    padding: 5px;
    margin: 29px;
    transform: rotate(-64deg);
}

.component-0OJmvRLY {
    color: #gFqA9x;
    background: linear-gradient(45deg, #E0YY5Z, #nUzyYh);
    font-family: "ぽ¬x¤÷", sans-serif;
    padding: 9px;
    margin: 19px;
    transform: rotate(3deg);
}

.component-LEt2L57Z {
    color: #nUzyYh;
    background: linear-gradient(45deg, #xPFYmq, #gFqA9x);
    font-family: "ÏġӰÜ6", sans-serif;
    padding: 21px;
    margin: 49px;
    transform: rotate(-16deg);
}

.component-Fo5qpN2U {
    color: #XCeVz1;
    background: linear-gradient(45deg, #xPFYmq, #XCeVz1);
    font-family: "вţ书0Γ", sans-serif;
    padding: 13px;
    margin: 7px;
    transform: rotate(-21deg);
}

.component-LTDo7dnK {
    color: #XCeVz1;
    background: linear-gradient(45deg, #aFJiLj, #aFJiLj);
    font-family: "LҪĞ8侁", sans-serif;
    padding: 25px;
    margin: 17px;
    transform: rotate(-71deg);
}

.component-L7EDvxXB {
    color: #oR2WJR;
    background: linear-gradient(45deg, #nUzyYh, #nUzyYh);
    font-family: "҆Mkさa", sans-serif;
    padding: 37px;
    margin: 30px;
    transform: rotate(174deg);
}

.component-7sMjDH4D {
    color: #jXR47J;
    background: linear-gradient(45deg, #xPFYmq, #aFJiLj);
    font-family: "Ҙ両©ŭí", sans-serif;
    padding: 7px;
    margin: 9px;
    transform: rotate(38deg);
}

.component-9kxm83R9 {
    color: #gFqA9x;
    background: linear-gradient(45deg, #E0YY5Z, #XCeVz1);
    font-family: "шΩOρέ", sans-serif;
    padding: 40px;
    margin: 44px;
    transform: rotate(-132deg);
}

.component-yX6OjQcY {
    color: #xPFYmq;
    background: linear-gradient(45deg, #aFJiLj, #r7yxQM);
    font-family: "ΚあѺδ9", sans-serif;
    padding: 45px;
    margin: 18px;
    transform: rotate(-78deg);
}

.component-XxEahKAA {
    color: #E0YY5Z;
    background: linear-gradient(45deg, #xPFYmq, #iRf0Cq);
    font-family: "ΰшS҉Β", sans-serif;
    padding: 15px;
    margin: 19px;
    transform: rotate(92deg);
}

.component-XC4WB09f {
    color: #XCeVz1;
    background: linear-gradient(45deg, #nUzyYh, #aFJiLj);
    font-family: "8侬aØЅ", sans-serif;
    padding: 44px;
    margin: 27px;
    transform: rotate(-53deg);
}

.component-8FlN2c8S {
    color: #nUzyYh;
    background: linear-gradient(45deg, #xPFYmq, #r7yxQM);
    font-family: "Λ·7份Ň", sans-serif;
    padding: 22px;
    margin: 15px;
    transform: rotate(-150deg);
}

.component-HJ9DbrI8 {
    color: #nUzyYh;
    background: linear-gradient(45deg, #xPFYmq, #aFJiLj);
    font-family: "7侚Μnχ", sans-serif;
    padding: 34px;
    margin: 30px;
    transform: rotate(-76deg);
}

.component-SVcVIEG2 {
    color: #aFJiLj;
    background: linear-gradient(45deg, #gFqA9x, #oR2WJR);
    font-family: "ħuЕ҉Ŭ", sans-serif;
    padding: 20px;
    margin: 10px;
    transform: rotate(-168deg);
}

.component-pOg2ifRW {
    color: #r7yxQM;
    background: linear-gradient(45deg, #xPFYmq, #gFqA9x);
    font-family: "ŚまΪgŜ", sans-serif;
    padding: 11px;
    margin: 34px;
    transform: rotate(-166deg);
}

.component-cp2TTgFy {
    color: #nUzyYh;
    background: linear-gradient(45deg, #E0YY5Z, #xPFYmq);
    font-family: "ҮŎөΕ侽", sans-serif;
    padding: 17px;
    margin: 15px;
    transform: rotate(116deg);
}

.component-PL7cotQw {
    color: #nUzyYh;
    background: linear-gradient(45deg, #xPFYmq, #nUzyYh);
    font-family: "ゞTĤぶb", sans-serif;
    padding: 48px;
    margin: 35px;
    transform: rotate(-4deg);
}

.component-Z4wLx0v3 {
    color: #r7yxQM;
    background: linear-gradient(45deg, #iRf0Cq, #xPFYmq);
    font-family: "ぼĴŦT乹", sans-serif;
    padding: 32px;
    margin: 23px;
    transform: rotate(8deg);
}

.component-nceRzuxt {
    color: #E0YY5Z;
    background: linear-gradient(45deg, #jXR47J, #oR2WJR);
    font-family: "Ρ3GŦU", sans-serif;
    padding: 7px;
    margin: 19px;
    transform: rotate(-18deg);
}

.component-Iemgw330 {
    color: #iRf0Cq;
    background: linear-gradient(45deg, #gFqA9x, #XCeVz1);
    font-family: "ҎӎNεЅ", sans-serif;
    padding: 17px;
    margin: 48px;
    transform: rotate(-127deg);
}

.component-RvOe53kq {
    color: #nUzyYh;
    background: linear-gradient(45deg, #E0YY5Z, #E0YY5Z);
    font-family: "ΓήЙ0a", sans-serif;
    padding: 28px;
    margin: 24px;
    transform: rotate(-40deg);
}

.component-tLaGQNnv {
    color: #jXR47J;
    background: linear-gradient(45deg, #nUzyYh, #aFJiLj);
    font-family: "¸yBば9", sans-serif;
    padding: 27px;
    margin: 39px;
    transform: rotate(75deg);
}

.component-XitDyJx1 {
    color: #aFJiLj;
    background: linear-gradient(45deg, #aFJiLj, #E0YY5Z);
    font-family: "ōňҚaθ", sans-serif;
    padding: 44px;
    margin: 5px;
    transform: rotate(-64deg);
}

.component-ZzYyXdgB {
    color: #xPFYmq;
    background: linear-gradient(45deg, #XCeVz1, #aFJiLj);
    font-family: "ŊNち8҅", sans-serif;
    padding: 15px;
    margin: 10px;
    transform: rotate(62deg);
}

.component-8tDs5cnI {
    color: #XCeVz1;
    background: linear-gradient(45deg, #jXR47J, #nUzyYh);
    font-family: "µү仺Cĸ", sans-serif;
    padding: 20px;
    margin: 20px;
    transform: rotate(-80deg);
}

.component-lq8ZDt7m {
    color: #jXR47J;
    background: linear-gradient(45deg, #oR2WJR, #xPFYmq);
    font-family: "ŭ£ΠЀゖ", sans-serif;
    padding: 26px;
    margin: 22px;
    transform: rotate(-96deg);
}

.component-bX0EHYJN {
    color: #r7yxQM;
    background: linear-gradient(45deg, #E0YY5Z, #r7yxQM);
    font-family: "Fぐ҃Ψに", sans-serif;
    padding: 27px;
    margin: 35px;
    transform: rotate(-129deg);
}

.component-9BkpMEWB {
    color: #oR2WJR;
    background: linear-gradient(45deg, #E0YY5Z, #nUzyYh);
    font-family: "hҔ9IA", sans-serif;
    padding: 26px;
    margin: 5px;
    transform: rotate(35deg);
}

.component-pHjEdWNR {
    color: #oR2WJR;
    background: linear-gradient(45deg, #XCeVz1, #r7yxQM);
    font-family: "ぅΚ¥乕ӊ", sans-serif;
    padding: 10px;
    margin: 29px;
    transform: rotate(-36deg);
}

.component-vLd2O69S {
    color: #gFqA9x;
    background: linear-gradient(45deg, #nUzyYh, #nUzyYh);
    font-family: "つま亖2à", sans-serif;
    padding: 36px;
    margin: 45px;
    transform: rotate(12deg);
}

.component-Nw6a53v1 {
    color: #aFJiLj;
    background: linear-gradient(45deg, #iRf0Cq, #XCeVz1);
    font-family: "ψんFΛめ", sans-serif;
    padding: 30px;
    margin: 47px;
    transform: rotate(-79deg);
}

.component-3Ea7gukG {
    color: #gFqA9x;
    background: linear-gradient(45deg, #E0YY5Z, #iRf0Cq);
    font-family: "yѩz亠乤", sans-serif;
    padding: 10px;
    margin: 30px;
    transform: rotate(-115deg);
}

.component-7xGISUVv {
    color: #gFqA9x;
    background: linear-gradient(45deg, #nUzyYh, #r7yxQM);
    font-family: "Eに2λŜ", sans-serif;
    padding: 26px;
    margin: 22px;
    transform: rotate(-128deg);
}

.component-nGS5IMET {
    color: #jXR47J;
    background: linear-gradient(45deg, #r7yxQM, #oR2WJR);
    font-family: "ゝdΫŅぁ", sans-serif;
    padding: 45px;
    margin: 8px;
    transform: rotate(-70deg);
}

.component-7FejhTle {
    color: #xPFYmq;
    background: linear-gradient(45deg, #XCeVz1, #jXR47J);
    font-family: "71Īh俷", sans-serif;
    padding: 38px;
    margin: 44px;
    transform: rotate(19deg);
}

.component-vs2vOmDE {
    color: #nUzyYh;
    background: linear-gradient(45deg, #r7yxQM, #aFJiLj);
    font-family: "IΣ住š0", sans-serif;
    padding: 37px;
    margin: 22px;
    transform: rotate(-128deg);
}

.component-oooZh2ax {
    color: #aFJiLj;
    background: linear-gradient(45deg, #r7yxQM, #jXR47J);
    font-family: "ĘτŅρØ", sans-serif;
    padding: 43px;
    margin: 49px;
    transform: rotate(-17deg);
}

.component-sxrWSUhn {
    color: #aFJiLj;
    background: linear-gradient(45deg, #xPFYmq, #E0YY5Z);
    font-family: "ΰ78YΞ", sans-serif;
    padding: 19px;
    margin: 24px;
    transform: rotate(0deg);
}

.component-TeFkO8uV {
    color: #xPFYmq;
    background: linear-gradient(45deg, #aFJiLj, #jXR47J);
    font-family: "1ΡkŹΓ", sans-serif;
    padding: 5px;
    margin: 25px;
    transform: rotate(-166deg);
}

.component-lsHLdQ2a {
    color: #iRf0Cq;
    background: linear-gradient(45deg, #r7yxQM, #jXR47J);
    font-family: "ĜӢĒ仚云", sans-serif;
    padding: 12px;
    margin: 40px;
    transform: rotate(-115deg);
}

.component-9EPlPTKK {
    color: #oR2WJR;
    background: linear-gradient(45deg, #aFJiLj, #xPFYmq);
    font-family: "ѭξÖӒ仐", sans-serif;
    padding: 36px;
    margin: 21px;
    transform: rotate(171deg);
}

.component-NACPdV1t {
    color: #aFJiLj;
    background: linear-gradient(45deg, #nUzyYh, #iRf0Cq);
    font-family: "仕v価χŷ", sans-serif;
    padding: 43px;
    margin: 49px;
    transform: rotate(174deg);
}

.component-SnqpotVj {
    color: #iRf0Cq;
    background: linear-gradient(45deg, #aFJiLj, #xPFYmq);
    font-family: "H34π7", sans-serif;
    padding: 9px;
    margin: 28px;
    transform: rotate(-161deg);
}

.component-YykYvpfc {
    color: #aFJiLj;
    background: linear-gradient(45deg, #xPFYmq, #oR2WJR);
    font-family: "hΚB仓ŷ", sans-serif;
    padding: 37px;
    margin: 13px;
    transform: rotate(70deg);
}

.component-tJa0C64d {
    color: #iRf0Cq;
    background: linear-gradient(45deg, #iRf0Cq, #E0YY5Z);
    font-family: "DB1rょ", sans-serif;
    padding: 22px;
    margin: 8px;
    transform: rotate(3deg);
}

.component-RKJGKmew {
    color: #r7yxQM;
    background: linear-gradient(45deg, #XCeVz1, #nUzyYh);
    font-family: "γa买ι¸", sans-serif;
    padding: 40px;
    margin: 25px;
    transform: rotate(143deg);
}

.component-gpgUMmS8 {
    color: #iRf0Cq;
    background: linear-gradient(45deg, #nUzyYh, #r7yxQM);
    font-family: "げŤğ±â", sans-serif;
    padding: 47px;
    margin: 35px;
    transform: rotate(-169deg);
}

.component-T3y36w2J {
    color: #r7yxQM;
    background: linear-gradient(45deg, #XCeVz1, #iRf0Cq);
    font-family: "ΰÙぉ丣ぎ", sans-serif;
    padding: 27px;
    margin: 20px;
    transform: rotate(-28deg);
}

.component-gu6HeQU1 {
    color: #r7yxQM;
    background: linear-gradient(45deg, #r7yxQM, #nUzyYh);
    font-family: "ÔťゑŎq", sans-serif;
    padding: 24px;
    margin: 39px;
    transform: rotate(150deg);
}

.component-8LGanawT {
    color: #aFJiLj;
    background: linear-gradient(45deg, #iRf0Cq, #jXR47J);
    font-family: "ζぅĠVӏ", sans-serif;
    padding: 37px;
    margin: 35px;
    transform: rotate(-167deg);
}

.component-2n4ykyRS {
    color: #xPFYmq;
    background: linear-gradient(45deg, #xPFYmq, #XCeVz1);
    font-family: "ぴ¿しみí", sans-serif;
    padding: 27px;
    margin: 43px;
    transform: rotate(33deg);
}

.component-OH6k9rv1 {
    color: #XCeVz1;
    background: linear-gradient(45deg, #iRf0Cq, #xPFYmq);
    font-family: "ΕΒu®ӳ", sans-serif;
    padding: 41px;
    margin: 8px;
    transform: rotate(-54deg);
}

.component-XXnJXFB7 {
    color: #jXR47J;
    background: linear-gradient(45deg, #E0YY5Z, #gFqA9x);
    font-family: "б伳ħTΣ", sans-serif;
    padding: 10px;
    margin: 9px;
    transform: rotate(-67deg);
}

.component-6wvJuEuF {
    color: #aFJiLj;
    background: linear-gradient(45deg, #iRf0Cq, #jXR47J);
    font-family: "ӋӦ82ī", sans-serif;
    padding: 39px;
    margin: 7px;
    transform: rotate(-96deg);
}

.component-90m9ki1a {
    color: #XCeVz1;
    background: linear-gradient(45deg, #jXR47J, #XCeVz1);
    font-family: "2s®くV", sans-serif;
    padding: 27px;
    margin: 8px;
    transform: rotate(-146deg);
}

.component-pgNVPTrM {
    color: #iRf0Cq;
    background: linear-gradient(45deg, #aFJiLj, #XCeVz1);
    font-family: "ぱïぅΤÀ", sans-serif;
    padding: 42px;
    margin: 39px;
    transform: rotate(-44deg);
}

.component-USaUxLOJ {
    color: #aFJiLj;
    background: linear-gradient(45deg, #aFJiLj, #XCeVz1);
    font-family: "v什ĕМř", sans-serif;
    padding: 50px;
    margin: 19px;
    transform: rotate(62deg);
}

.component-kwUs4IHI {
    color: #oR2WJR;
    background: linear-gradient(45deg, #iRf0Cq, #r7yxQM);
    font-family: "S俪0тŕ", sans-serif;
    padding: 28px;
    margin: 28px;
    transform: rotate(20deg);
}

.component-yRPzngMj {
    color: #gFqA9x;
    background: linear-gradient(45deg, #gFqA9x, #nUzyYh);
    font-family: "vcщどf", sans-serif;
    padding: 26px;
    margin: 46px;
    transform: rotate(-113deg);
}

.component-NIggl37y {
    color: #nUzyYh;
    background: linear-gradient(45deg, #oR2WJR, #aFJiLj);
    font-family: "从俺ïでi", sans-serif;
    padding: 6px;
    margin: 7px;
    transform: rotate(-79deg);
}

.component-wXOHgilr {
    color: #XCeVz1;
    background: linear-gradient(45deg, #r7yxQM, #oR2WJR);
    font-family: "G付ΡTή", sans-serif;
    padding: 32px;
    margin: 27px;
    transform: rotate(109deg);
}

.component-sMT767iM {
    color: #E0YY5Z;
    background: linear-gradient(45deg, #aFJiLj, #E0YY5Z);
    font-family: "Δδぜφせ", sans-serif;
    padding: 46px;
    margin: 9px;
    transform: rotate(157deg);
}

.component-1fzfwqii {
    color: #oR2WJR;
    background: linear-gradient(45deg, #nUzyYh, #oR2WJR);
    font-family: "乙7ûѶ仞", sans-serif;
    padding: 46px;
    margin: 20px;
    transform: rotate(-101deg);
}

.component-DVdpcyN6 {
    color: #oR2WJR;
    background: linear-gradient(45deg, #nUzyYh, #jXR47J);
    font-family: "¢67Θa", sans-serif;
    padding: 36px;
    margin: 9px;
    transform: rotate(-2deg);
}

.component-voDsAVT6 {
    color: #r7yxQM;
    background: linear-gradient(45deg, #aFJiLj, #XCeVz1);
    font-family: "ӢG3đ0", sans-serif;
    padding: 26px;
    margin: 8px;
    transform: rotate(-12deg);
}

.component-OuTSgMsf {
    color: #iRf0Cq;
    background: linear-gradient(45deg, #aFJiLj, #XCeVz1);
    font-family: "κBGsそ", sans-serif;
    padding: 43px;
    margin: 15px;
    transform: rotate(-47deg);
}

.component-ubvuBiFI {
    color: #nUzyYh;
    background: linear-gradient(45deg, #gFqA9x, #oR2WJR);
    font-family: "Rは佺ѝE", sans-serif;
    padding: 27px;
    margin: 45px;
    transform: rotate(-161deg);
}

.component-m3r2tjty {
    color: #nUzyYh;
    background: linear-gradient(45deg, #aFJiLj, #XCeVz1);
    font-family: "qΘ侞®g", sans-serif;
    padding: 15px;
    margin: 6px;
    transform: rotate(-164deg);
}

.component-jCkTqwNx {
    color: #r7yxQM;
    background: linear-gradient(45deg, #aFJiLj, #iRf0Cq);
    font-family: "uべUς义", sans-serif;
    padding: 20px;
    margin: 29px;
    transform: rotate(-104deg);
}

.component-5njQULhl {
    color: #r7yxQM;
    background: linear-gradient(45deg, #E0YY5Z, #jXR47J);
    font-family: "云伍VЭ8", sans-serif;
    padding: 48px;
    margin: 49px;
    transform: rotate(-90deg);
}

.component-B5WC9JuH {
    color: #xPFYmq;
    background: linear-gradient(45deg, #iRf0Cq, #nUzyYh);
    font-family: "NŀぁΨ侏", sans-serif;
    padding: 20px;
    margin: 24px;
    transform: rotate(-148deg);
}

.component-qu6gQGj2 {
    color: #aFJiLj;
    background: linear-gradient(45deg, #r7yxQM, #r7yxQM);
    font-family: "¸tじふ6", sans-serif;
    padding: 33px;
    margin: 21px;
    transform: rotate(175deg);
}

.component-hDLF6y2b {
    color: #gFqA9x;
    background: linear-gradient(45deg, #nUzyYh, #E0YY5Z);
    font-family: "7pYóy", sans-serif;
    padding: 42px;
    margin: 9px;
    transform: rotate(15deg);
}

.component-b2xEsWRz {
    color: #E0YY5Z;
    background: linear-gradient(45deg, #nUzyYh, #oR2WJR);
    font-family: "rìŗı0", sans-serif;
    padding: 19px;
    margin: 49px;
    transform: rotate(103deg);
}

.component-9DOfznSc {
    color: #XCeVz1;
    background: linear-gradient(45deg, #r7yxQM, #nUzyYh);
    font-family: "あきBσi", sans-serif;
    padding: 44px;
    margin: 49px;
    transform: rotate(-138deg);
}

.component-YO2FpRV2 {
    color: #nUzyYh;
    background: linear-gradient(45deg, #XCeVz1, #jXR47J);
    font-family: "úGに9ぺ", sans-serif;
    padding: 49px;
    margin: 39px;
    transform: rotate(103deg);
}

.component-GNayjLVS {
    color: #xPFYmq;
    background: linear-gradient(45deg, #XCeVz1, #gFqA9x);
    font-family: "Ĵ佐śe3", sans-serif;
    padding: 8px;
    margin: 14px;
    transform: rotate(46deg);
}

.component-xuSs8ZgJ {
    color: #aFJiLj;
    background: linear-gradient(45deg, #gFqA9x, #E0YY5Z);
    font-family: "ѭĎごひΤ", sans-serif;
    padding: 22px;
    margin: 43px;
    transform: rotate(-68deg);
}

.component-6qvd0d8D {
    color: #jXR47J;
    background: linear-gradient(45deg, #nUzyYh, #nUzyYh);
    font-family: "sѓӈs伎", sans-serif;
    padding: 26px;
    margin: 47px;
    transform: rotate(-66deg);
}

.component-zeKqqaev {
    color: #E0YY5Z;
    background: linear-gradient(45deg, #E0YY5Z, #oR2WJR);
    font-family: "®Ν侯sp", sans-serif;
    padding: 24px;
    margin: 25px;
    transform: rotate(-141deg);
}

.component-qRGd87HG {
    color: #nUzyYh;
    background: linear-gradient(45deg, #oR2WJR, #aFJiLj);
    font-family: "ぐŵѭmo", sans-serif;
    padding: 32px;
    margin: 9px;
    transform: rotate(111deg);
}

.component-RYhHeasQ {
    color: #iRf0Cq;
    background: linear-gradient(45deg, #oR2WJR, #aFJiLj);
    font-family: "ª伔伭ぞp", sans-serif;
    padding: 42px;
    margin: 20px;
    transform: rotate(-12deg);
}

.component-EBKNnDkT {
    color: #r7yxQM;
    background: linear-gradient(45deg, #jXR47J, #aFJiLj);
    font-family: "Ρね7´2", sans-serif;
    padding: 41px;
    margin: 26px;
    transform: rotate(18deg);
}

.component-7HYDh2Jd {
    color: #XCeVz1;
    background: linear-gradient(45deg, #oR2WJR, #jXR47J);
    font-family: "ѦΙ4ĆΜ", sans-serif;
    padding: 12px;
    margin: 32px;
    transform: rotate(-110deg);
}

.component-acypmu1J {
    color: #E0YY5Z;
    background: linear-gradient(45deg, #gFqA9x, #iRf0Cq);
    font-family: "llΙめ9", sans-serif;
    padding: 32px;
    margin: 41px;
    transform: rotate(-21deg);
}

.component-Jf5eqJCL {
    color: #E0YY5Z;
    background: linear-gradient(45deg, #iRf0Cq, #nUzyYh);
    font-family: "ぷRmM來", sans-serif;
    padding: 13px;
    margin: 40px;
    transform: rotate(-5deg);
}

.component-Yoc8qPTk {
    color: #r7yxQM;
    background: linear-gradient(45deg, #oR2WJR, #xPFYmq);
    font-family: "C¥侫き亭", sans-serif;
    padding: 34px;
    margin: 13px;
    transform: rotate(107deg);
}

.component-l699yj8L {
    color: #iRf0Cq;
    background: linear-gradient(45deg, #nUzyYh, #r7yxQM);
    font-family: "1÷O0·", sans-serif;
    padding: 28px;
    margin: 13px;
    transform: rotate(-158deg);
}

.component-u8vbBJ81 {
    color: #r7yxQM;
    background: linear-gradient(45deg, #xPFYmq, #oR2WJR);
    font-family: "œaĜn8", sans-serif;
    padding: 18px;
    margin: 16px;
    transform: rotate(-29deg);
}

.component-2x1MHup3 {
    color: #nUzyYh;
    background: linear-gradient(45deg, #jXR47J, #gFqA9x);
    font-family: "ı仞χOů", sans-serif;
    padding: 29px;
    margin: 32px;
    transform: rotate(31deg);
}

.component-8qsFKzXY {
    color: #r7yxQM;
    background: linear-gradient(45deg, #E0YY5Z, #iRf0Cq);
    font-family: "J7がく丝", sans-serif;
    padding: 12px;
    margin: 7px;
    transform: rotate(27deg);
}

.component-ZEK4DLN7 {
    color: #iRf0Cq;
    background: linear-gradient(45deg, #XCeVz1, #gFqA9x);
    font-family: "0万ħĀњ", sans-serif;
    padding: 27px;
    margin: 28px;
    transform: rotate(21deg);
}

.component-6rZxhCPT {
    color: #nUzyYh;
    background: linear-gradient(45deg, #iRf0Cq, #gFqA9x);
    font-family: "仾于Ø佖0", sans-serif;
    padding: 18px;
    margin: 20px;
    transform: rotate(77deg);
}

.component-MqLEbgFP {
    color: #gFqA9x;
    background: linear-gradient(45deg, #xPFYmq, #iRf0Cq);
    font-family: "ο5QӢ҉", sans-serif;
    padding: 46px;
    margin: 43px;
    transform: rotate(110deg);
}

.component-1yyseR3H {
    color: #jXR47J;
    background: linear-gradient(45deg, #E0YY5Z, #gFqA9x);
    font-family: "Řぼ8DS", sans-serif;
    padding: 8px;
    margin: 17px;
    transform: rotate(-28deg);
}

.component-vEzDpbkg {
    color: #gFqA9x;
    background: linear-gradient(45deg, #E0YY5Z, #r7yxQM);
    font-family: "tNΰь5", sans-serif;
    padding: 20px;
    margin: 21px;
    transform: rotate(55deg);
}

.component-gwbb96vE {
    color: #xPFYmq;
    background: linear-gradient(45deg, #xPFYmq, #jXR47J);
    font-family: "Ñs7χM", sans-serif;
    padding: 37px;
    margin: 15px;
    transform: rotate(158deg);
}

.component-AqK8ysEo {
    color: #xPFYmq;
    background: linear-gradient(45deg, #jXR47J, #XCeVz1);
    font-family: "9ҹΝáゃ", sans-serif;
    padding: 47px;
    margin: 23px;
    transform: rotate(163deg);
}

.component-t8ukrN6C {
    color: #r7yxQM;
    background: linear-gradient(45deg, #XCeVz1, #iRf0Cq);
    font-family: "ŁĉΘJR", sans-serif;
    padding: 47px;
    margin: 45px;
    transform: rotate(32deg);
}

.component-N06mx81p {
    color: #jXR47J;
    background: linear-gradient(45deg, #E0YY5Z, #jXR47J);
    font-family: "丂эMŧç", sans-serif;
    padding: 42px;
    margin: 26px;
    transform: rotate(-73deg);
}

.component-kweIpaGM {
    color: #jXR47J;
    background: linear-gradient(45deg, #E0YY5Z, #E0YY5Z);
    font-family: "FδzӹΥ", sans-serif;
    padding: 11px;
    margin: 47px;
    transform: rotate(-135deg);
}

.component-GJmK5j0m {
    color: #gFqA9x;
    background: linear-gradient(45deg, #aFJiLj, #iRf0Cq);
    font-family: "Įも侺佻7", sans-serif;
    padding: 34px;
    margin: 41px;
    transform: rotate(69deg);
}

.component-UNqgBLGk {
    color: #oR2WJR;
    background: linear-gradient(45deg, #iRf0Cq, #r7yxQM);
    font-family: "gĦ乊ă¼", sans-serif;
    padding: 9px;
    margin: 16px;
    transform: rotate(66deg);
}
