.component-gJyJMrPc {
    color: #Szca04;
    background: linear-gradient(45deg, #Q49cX5, #luzASR);
    font-family: "ĝҋк3n", sans-serif;
    padding: 45px;
    margin: 36px;
    transform: rotate(-53deg);
}

.component-egJtY5GR {
    color: #S2DreV;
    background: linear-gradient(45deg, #luzASR, #AEYwPk);
    font-family: "ĶdRӔょ", sans-serif;
    padding: 48px;
    margin: 45px;
    transform: rotate(-2deg);
}

.component-xqzlLYto {
    color: #AEYwPk;
    background: linear-gradient(45deg, #Szca04, #XEuCmh);
    font-family: "ė¹ѹĒl", sans-serif;
    padding: 50px;
    margin: 22px;
    transform: rotate(46deg);
}

.component-EVvdnOm8 {
    color: #XEuCmh;
    background: linear-gradient(45deg, #luzASR, #AEYwPk);
    font-family: "цりҺÇD", sans-serif;
    padding: 19px;
    margin: 37px;
    transform: rotate(84deg);
}

.component-53S9y3qC {
    color: #X9AMIb;
    background: linear-gradient(45deg, #luzASR, #Q49cX5);
    font-family: "べVѷĵ9", sans-serif;
    padding: 24px;
    margin: 27px;
    transform: rotate(-48deg);
}

.component-DLbVXvgE {
    color: #Q49cX5;
    background: linear-gradient(45deg, #Q49cX5, #AEYwPk);
    font-family: "ļIぶ侌w", sans-serif;
    padding: 9px;
    margin: 42px;
    transform: rotate(-30deg);
}

.component-iozYg5kq {
    color: #AEYwPk;
    background: linear-gradient(45deg, #6pGBAF, #X9AMIb);
    font-family: "¥両нŚґ", sans-serif;
    padding: 23px;
    margin: 46px;
    transform: rotate(-30deg);
}

.component-PJe5Mlqe {
    color: #LbMol5;
    background: linear-gradient(45deg, #LbMol5, #X9AMIb);
    font-family: "ӟңH¥が", sans-serif;
    padding: 36px;
    margin: 7px;
    transform: rotate(-2deg);
}

.component-9OJLOtXO {
    color: #S2DreV;
    background: linear-gradient(45deg, #LbMol5, #6pGBAF);
    font-family: "Ū4ӦνÓ", sans-serif;
    padding: 18px;
    margin: 46px;
    transform: rotate(155deg);
}

.component-2mtjGvmh {
    color: #Q49cX5;
    background: linear-gradient(45deg, #luzASR, #Szca04);
    font-family: "Ęぽhżめ", sans-serif;
    padding: 21px;
    margin: 38px;
    transform: rotate(155deg);
}

.component-BoSJla04 {
    color: #AEYwPk;
    background: linear-gradient(45deg, #6pGBAF, #S2DreV);
    font-family: "η2DWŋ", sans-serif;
    padding: 30px;
    margin: 19px;
    transform: rotate(-52deg);
}

.component-LgW6KgPs {
    color: #Q49cX5;
    background: linear-gradient(45deg, #ACnBJQ, #X9AMIb);
    font-family: "DそPč伍", sans-serif;
    padding: 13px;
    margin: 25px;
    transform: rotate(6deg);
}

.component-uB7uPhgn {
    color: #AEYwPk;
    background: linear-gradient(45deg, #LbMol5, #luzASR);
    font-family: "ひΙÁ丿れ", sans-serif;
    padding: 35px;
    margin: 17px;
    transform: rotate(-179deg);
}

.component-isOfrVyK {
    color: #AEYwPk;
    background: linear-gradient(45deg, #Q49cX5, #LbMol5);
    font-family: "бŲΝΟĂ", sans-serif;
    padding: 50px;
    margin: 32px;
    transform: rotate(137deg);
}

.component-TWJBzNqH {
    color: #AEYwPk;
    background: linear-gradient(45deg, #S2DreV, #6pGBAF);
    font-family: "čҝҒjİ", sans-serif;
    padding: 20px;
    margin: 37px;
    transform: rotate(138deg);
}

.component-sG80j6ST {
    color: #ACnBJQ;
    background: linear-gradient(45deg, #S2DreV, #AEYwPk);
    font-family: "βùゕêr", sans-serif;
    padding: 36px;
    margin: 8px;
    transform: rotate(1deg);
}

.component-v9G2WhFy {
    color: #XEuCmh;
    background: linear-gradient(45deg, #XEuCmh, #ACnBJQ);
    font-family: "SĻPÙC", sans-serif;
    padding: 19px;
    margin: 6px;
    transform: rotate(-11deg);
}

.component-fuTIy4R5 {
    color: #luzASR;
    background: linear-gradient(45deg, #luzASR, #6pGBAF);
    font-family: "やҵЫ体ς", sans-serif;
    padding: 45px;
    margin: 28px;
    transform: rotate(118deg);
}

.component-LoviKdAh {
    color: #Szca04;
    background: linear-gradient(45deg, #S2DreV, #Q49cX5);
    font-family: "t伙ŜӞせ", sans-serif;
    padding: 47px;
    margin: 40px;
    transform: rotate(-51deg);
}

.component-fuFEm9eo {
    color: #luzASR;
    background: linear-gradient(45deg, #LbMol5, #luzASR);
    font-family: "ö6ĂたΞ", sans-serif;
    padding: 5px;
    margin: 43px;
    transform: rotate(35deg);
}

.component-ERFXx9OK {
    color: #ACnBJQ;
    background: linear-gradient(45deg, #6pGBAF, #S2DreV);
    font-family: "ŵ1αぃえ", sans-serif;
    padding: 48px;
    margin: 20px;
    transform: rotate(53deg);
}

.component-5lnWnA4r {
    color: #6pGBAF;
    background: linear-gradient(45deg, #LbMol5, #Q49cX5);
    font-family: "Ӝぞw6ł", sans-serif;
    padding: 24px;
    margin: 34px;
    transform: rotate(156deg);
}

.component-rCcXMLlb {
    color: #ACnBJQ;
    background: linear-gradient(45deg, #S2DreV, #S2DreV);
    font-family: "ҀRӠすT", sans-serif;
    padding: 49px;
    margin: 13px;
    transform: rotate(92deg);
}

.component-WPyvD7wb {
    color: #LbMol5;
    background: linear-gradient(45deg, #Q49cX5, #X9AMIb);
    font-family: "ΰ4ZGゐ", sans-serif;
    padding: 44px;
    margin: 9px;
    transform: rotate(132deg);
}

.component-fGoNoXRe {
    color: #6pGBAF;
    background: linear-gradient(45deg, #Szca04, #S2DreV);
    font-family: "佦lέ68", sans-serif;
    padding: 31px;
    margin: 38px;
    transform: rotate(-13deg);
}

.component-zwRhprF1 {
    color: #ACnBJQ;
    background: linear-gradient(45deg, #luzASR, #6pGBAF);
    font-family: "e俖俱ds", sans-serif;
    padding: 31px;
    margin: 40px;
    transform: rotate(88deg);
}

.component-c0AGMs3S {
    color: #XEuCmh;
    background: linear-gradient(45deg, #LbMol5, #Q49cX5);
    font-family: "6R4rθ", sans-serif;
    padding: 22px;
    margin: 43px;
    transform: rotate(77deg);
}

.component-eQ9ii46p {
    color: #Szca04;
    background: linear-gradient(45deg, #Q49cX5, #luzASR);
    font-family: "位ぃѓ么Τ", sans-serif;
    padding: 13px;
    margin: 33px;
    transform: rotate(58deg);
}

.component-WBED3Ico {
    color: #X9AMIb;
    background: linear-gradient(45deg, #LbMol5, #Q49cX5);
    font-family: "кkҿDѥ", sans-serif;
    padding: 26px;
    margin: 43px;
    transform: rotate(-103deg);
}

.component-i9pISTEN {
    color: #S2DreV;
    background: linear-gradient(45deg, #X9AMIb, #Szca04);
    font-family: "丕y3ū佫", sans-serif;
    padding: 12px;
    margin: 49px;
    transform: rotate(112deg);
}

.component-SuuwbcB4 {
    color: #S2DreV;
    background: linear-gradient(45deg, #XEuCmh, #6pGBAF);
    font-family: "dÌ乶ゝき", sans-serif;
    padding: 13px;
    margin: 42px;
    transform: rotate(-155deg);
}

.component-rwbjLhux {
    color: #Q49cX5;
    background: linear-gradient(45deg, #Szca04, #ACnBJQ);
    font-family: "ひ乪õF乘", sans-serif;
    padding: 26px;
    margin: 13px;
    transform: rotate(-113deg);
}

.component-EiI3CcNb {
    color: #AEYwPk;
    background: linear-gradient(45deg, #6pGBAF, #Szca04);
    font-family: "份Ѩ04ľ", sans-serif;
    padding: 23px;
    margin: 11px;
    transform: rotate(-61deg);
}

.component-kiH7IHHN {
    color: #Szca04;
    background: linear-gradient(45deg, #S2DreV, #Szca04);
    font-family: "ゝтっ3ζ", sans-serif;
    padding: 33px;
    margin: 30px;
    transform: rotate(-76deg);
}

.component-ffzdIrlh {
    color: #S2DreV;
    background: linear-gradient(45deg, #X9AMIb, #Szca04);
    font-family: "ORmӫĂ", sans-serif;
    padding: 43px;
    margin: 20px;
    transform: rotate(-74deg);
}

.component-XgT8ZshV {
    color: #AEYwPk;
    background: linear-gradient(45deg, #luzASR, #luzASR);
    font-family: "ħb×ŜĬ", sans-serif;
    padding: 12px;
    margin: 28px;
    transform: rotate(-88deg);
}

.component-nJIk4Qrv {
    color: #ACnBJQ;
    background: linear-gradient(45deg, #luzASR, #Q49cX5);
    font-family: "®5俅ぃ侾", sans-serif;
    padding: 36px;
    margin: 47px;
    transform: rotate(156deg);
}

.component-DjVq87br {
    color: #X9AMIb;
    background: linear-gradient(45deg, #X9AMIb, #Szca04);
    font-family: "Γξぉzげ", sans-serif;
    padding: 44px;
    margin: 44px;
    transform: rotate(-140deg);
}

.component-irZXQITY {
    color: #6pGBAF;
    background: linear-gradient(45deg, #Q49cX5, #S2DreV);
    font-family: "8OâҦi", sans-serif;
    padding: 21px;
    margin: 44px;
    transform: rotate(-167deg);
}

.component-plkb7pEm {
    color: #Szca04;
    background: linear-gradient(45deg, #ACnBJQ, #XEuCmh);
    font-family: "ŊҨ343", sans-serif;
    padding: 46px;
    margin: 12px;
    transform: rotate(56deg);
}

.component-wzmLfNjB {
    color: #LbMol5;
    background: linear-gradient(45deg, #AEYwPk, #6pGBAF);
    font-family: "ñӍĨãЃ", sans-serif;
    padding: 33px;
    margin: 17px;
    transform: rotate(172deg);
}

.component-AclXOo9y {
    color: #6pGBAF;
    background: linear-gradient(45deg, #XEuCmh, #AEYwPk);
    font-family: "ひ侄UѷO", sans-serif;
    padding: 17px;
    margin: 36px;
    transform: rotate(-134deg);
}

.component-4vUpWKga {
    color: #Q49cX5;
    background: linear-gradient(45deg, #6pGBAF, #S2DreV);
    font-family: "mce侈侰", sans-serif;
    padding: 8px;
    margin: 15px;
    transform: rotate(-154deg);
}

.component-F7g88ZiE {
    color: #LbMol5;
    background: linear-gradient(45deg, #ACnBJQ, #Szca04);
    font-family: "伹nZГÆ", sans-serif;
    padding: 30px;
    margin: 17px;
    transform: rotate(4deg);
}

.component-bW92JmG0 {
    color: #6pGBAF;
    background: linear-gradient(45deg, #6pGBAF, #luzASR);
    font-family: "°ҺŜt3", sans-serif;
    padding: 10px;
    margin: 48px;
    transform: rotate(-10deg);
}

.component-GXTAOMeI {
    color: #ACnBJQ;
    background: linear-gradient(45deg, #luzASR, #X9AMIb);
    font-family: "4δҁΠ亓", sans-serif;
    padding: 43px;
    margin: 30px;
    transform: rotate(81deg);
}

.component-kWdJzNwy {
    color: #Q49cX5;
    background: linear-gradient(45deg, #LbMol5, #6pGBAF);
    font-family: "a乛Op£", sans-serif;
    padding: 35px;
    margin: 29px;
    transform: rotate(-31deg);
}

.component-gO0XDfCS {
    color: #S2DreV;
    background: linear-gradient(45deg, #XEuCmh, #luzASR);
    font-family: "÷Q6q侌", sans-serif;
    padding: 34px;
    margin: 31px;
    transform: rotate(-88deg);
}

.component-V5TT4xQX {
    color: #ACnBJQ;
    background: linear-gradient(45deg, #luzASR, #XEuCmh);
    font-family: "®ѯΨĀÀ", sans-serif;
    padding: 27px;
    margin: 14px;
    transform: rotate(80deg);
}

.component-xGCUVIig {
    color: #luzASR;
    background: linear-gradient(45deg, #6pGBAF, #Q49cX5);
    font-family: "qЀ§3η", sans-serif;
    padding: 29px;
    margin: 40px;
    transform: rotate(100deg);
}

.component-u01MDcX8 {
    color: #X9AMIb;
    background: linear-gradient(45deg, #luzASR, #6pGBAF);
    font-family: "俾чΧ丐D", sans-serif;
    padding: 10px;
    margin: 12px;
    transform: rotate(124deg);
}

.component-PhmfqXwq {
    color: #S2DreV;
    background: linear-gradient(45deg, #Szca04, #Szca04);
    font-family: "Ņv9yF", sans-serif;
    padding: 21px;
    margin: 16px;
    transform: rotate(31deg);
}

.component-r0H16VB0 {
    color: #LbMol5;
    background: linear-gradient(45deg, #ACnBJQ, #AEYwPk);
    font-family: "±3XΘЦ", sans-serif;
    padding: 48px;
    margin: 49px;
    transform: rotate(-16deg);
}

.component-18yWMNx3 {
    color: #luzASR;
    background: linear-gradient(45deg, #Q49cX5, #S2DreV);
    font-family: "OΥ÷ТП", sans-serif;
    padding: 29px;
    margin: 27px;
    transform: rotate(-119deg);
}

.component-ViU9NaHz {
    color: #6pGBAF;
    background: linear-gradient(45deg, #Szca04, #XEuCmh);
    font-family: "Rx乱Ѱİ", sans-serif;
    padding: 11px;
    margin: 44px;
    transform: rotate(173deg);
}

.component-2ArhY7RV {
    color: #Q49cX5;
    background: linear-gradient(45deg, #ACnBJQ, #LbMol5);
    font-family: "X゛亶Jc", sans-serif;
    padding: 35px;
    margin: 43px;
    transform: rotate(14deg);
}

.component-Xdj3zbb7 {
    color: #Szca04;
    background: linear-gradient(45deg, #S2DreV, #Q49cX5);
    font-family: "ę佋俒ΑL", sans-serif;
    padding: 6px;
    margin: 38px;
    transform: rotate(-39deg);
}

.component-eq5Kk7hG {
    color: #luzASR;
    background: linear-gradient(45deg, #XEuCmh, #luzASR);
    font-family: "0ªΫmћ", sans-serif;
    padding: 42px;
    margin: 36px;
    transform: rotate(49deg);
}

.component-O1A2DUaZ {
    color: #6pGBAF;
    background: linear-gradient(45deg, #Q49cX5, #AEYwPk);
    font-family: "ぬ2Aøせ", sans-serif;
    padding: 5px;
    margin: 44px;
    transform: rotate(169deg);
}

.component-Pb4mrnq2 {
    color: #AEYwPk;
    background: linear-gradient(45deg, #6pGBAF, #AEYwPk);
    font-family: "5亂¡4Ę", sans-serif;
    padding: 19px;
    margin: 31px;
    transform: rotate(-39deg);
}

.component-fQaseNQw {
    color: #S2DreV;
    background: linear-gradient(45deg, #X9AMIb, #Q49cX5);
    font-family: "Gぃ74で", sans-serif;
    padding: 15px;
    margin: 43px;
    transform: rotate(-85deg);
}

.component-bPAxYjUQ {
    color: #Q49cX5;
    background: linear-gradient(45deg, #Q49cX5, #S2DreV);
    font-family: "Ìnゕ估S", sans-serif;
    padding: 33px;
    margin: 45px;
    transform: rotate(-118deg);
}

.component-6GRXoFhM {
    color: #AEYwPk;
    background: linear-gradient(45deg, #LbMol5, #X9AMIb);
    font-family: "たЉҮ55", sans-serif;
    padding: 11px;
    margin: 39px;
    transform: rotate(131deg);
}

.component-oXM80gwn {
    color: #Szca04;
    background: linear-gradient(45deg, #XEuCmh, #luzASR);
    font-family: "ĆŦήřӼ", sans-serif;
    padding: 48px;
    margin: 24px;
    transform: rotate(-31deg);
}

.component-7dCALJyv {
    color: #Szca04;
    background: linear-gradient(45deg, #Q49cX5, #X9AMIb);
    font-family: "ô4bнδ", sans-serif;
    padding: 28px;
    margin: 11px;
    transform: rotate(-14deg);
}

.component-vTJm04zX {
    color: #X9AMIb;
    background: linear-gradient(45deg, #luzASR, #AEYwPk);
    font-family: "υ3乀3ふ", sans-serif;
    padding: 30px;
    margin: 18px;
    transform: rotate(160deg);
}

.component-UusIqoH3 {
    color: #S2DreV;
    background: linear-gradient(45deg, #luzASR, #S2DreV);
    font-family: "ĝM仝伪Ν", sans-serif;
    padding: 23px;
    margin: 10px;
    transform: rotate(-90deg);
}

.component-t4TaicgB {
    color: #AEYwPk;
    background: linear-gradient(45deg, #luzASR, #luzASR);
    font-family: "k7ō乓Ľ", sans-serif;
    padding: 22px;
    margin: 12px;
    transform: rotate(-114deg);
}

.component-lSTZcI3s {
    color: #luzASR;
    background: linear-gradient(45deg, #S2DreV, #S2DreV);
    font-family: "εQŵó俚", sans-serif;
    padding: 47px;
    margin: 30px;
    transform: rotate(-38deg);
}

.component-2Nvc7kve {
    color: #S2DreV;
    background: linear-gradient(45deg, #LbMol5, #LbMol5);
    font-family: "3·EŞĿ", sans-serif;
    padding: 21px;
    margin: 27px;
    transform: rotate(54deg);
}

.component-OUd4n34R {
    color: #X9AMIb;
    background: linear-gradient(45deg, #AEYwPk, #luzASR);
    font-family: "68そν佄", sans-serif;
    padding: 15px;
    margin: 40px;
    transform: rotate(13deg);
}

.component-5ZzDM4q2 {
    color: #ACnBJQ;
    background: linear-gradient(45deg, #S2DreV, #S2DreV);
    font-family: "y仡v®ç", sans-serif;
    padding: 49px;
    margin: 46px;
    transform: rotate(82deg);
}

.component-Xv5h5YRq {
    color: #ACnBJQ;
    background: linear-gradient(45deg, #luzASR, #AEYwPk);
    font-family: "ň亮伩乡α", sans-serif;
    padding: 30px;
    margin: 20px;
    transform: rotate(-100deg);
}

.component-FpMLMARv {
    color: #Q49cX5;
    background: linear-gradient(45deg, #X9AMIb, #luzASR);
    font-family: "τΰDLÒ", sans-serif;
    padding: 43px;
    margin: 27px;
    transform: rotate(-124deg);
}

.component-JZuyXSdh {
    color: #XEuCmh;
    background: linear-gradient(45deg, #Q49cX5, #Q49cX5);
    font-family: "6る6Õh", sans-serif;
    padding: 36px;
    margin: 19px;
    transform: rotate(42deg);
}

.component-Tj4qBK8I {
    color: #luzASR;
    background: linear-gradient(45deg, #S2DreV, #ACnBJQ);
    font-family: "5¿F伋Ð", sans-serif;
    padding: 40px;
    margin: 12px;
    transform: rotate(57deg);
}

.component-enZHN0Wp {
    color: #LbMol5;
    background: linear-gradient(45deg, #Q49cX5, #Q49cX5);
    font-family: "ぷ゙ぐŜù", sans-serif;
    padding: 8px;
    margin: 38px;
    transform: rotate(-11deg);
}

.component-6eLBxGjf {
    color: #Q49cX5;
    background: linear-gradient(45deg, #S2DreV, #luzASR);
    font-family: "ηひÖ侺ţ", sans-serif;
    padding: 25px;
    margin: 17px;
    transform: rotate(-77deg);
}

.component-rr04cuGV {
    color: #ACnBJQ;
    background: linear-gradient(45deg, #Q49cX5, #X9AMIb);
    font-family: "仜з1ぶs", sans-serif;
    padding: 23px;
    margin: 35px;
    transform: rotate(-62deg);
}

.component-ioymVVSm {
    color: #Szca04;
    background: linear-gradient(45deg, #6pGBAF, #LbMol5);
    font-family: "亓HMpゕ", sans-serif;
    padding: 12px;
    margin: 24px;
    transform: rotate(-116deg);
}

.component-blmONblN {
    color: #XEuCmh;
    background: linear-gradient(45deg, #luzASR, #luzASR);
    font-family: "õiのű¢", sans-serif;
    padding: 15px;
    margin: 27px;
    transform: rotate(38deg);
}

.component-RoFul2lD {
    color: #X9AMIb;
    background: linear-gradient(45deg, #AEYwPk, #Q49cX5);
    font-family: "とѳŰB侬", sans-serif;
    padding: 37px;
    margin: 34px;
    transform: rotate(-144deg);
}

.component-f8QECyJ5 {
    color: #X9AMIb;
    background: linear-gradient(45deg, #luzASR, #luzASR);
    font-family: "҇J3RΤ", sans-serif;
    padding: 46px;
    margin: 29px;
    transform: rotate(166deg);
}

.component-wIS804uO {
    color: #XEuCmh;
    background: linear-gradient(45deg, #luzASR, #Szca04);
    font-family: "体W丘6S", sans-serif;
    padding: 19px;
    margin: 27px;
    transform: rotate(169deg);
}

.component-Qlpz0Mrp {
    color: #Szca04;
    background: linear-gradient(45deg, #Szca04, #ACnBJQ);
    font-family: "仾Дvさg", sans-serif;
    padding: 9px;
    margin: 5px;
    transform: rotate(76deg);
}

.component-8yqqDmSs {
    color: #AEYwPk;
    background: linear-gradient(45deg, #S2DreV, #Szca04);
    font-family: "わÝӕѪP", sans-serif;
    padding: 9px;
    margin: 21px;
    transform: rotate(-133deg);
}

.component-jALof8pR {
    color: #Szca04;
    background: linear-gradient(45deg, #6pGBAF, #LbMol5);
    font-family: "Ű0Mχ2", sans-serif;
    padding: 24px;
    margin: 40px;
    transform: rotate(167deg);
}

.component-7cYRZDI2 {
    color: #luzASR;
    background: linear-gradient(45deg, #S2DreV, #X9AMIb);
    font-family: "G亳y6ŏ", sans-serif;
    padding: 29px;
    margin: 7px;
    transform: rotate(33deg);
}

.component-y5WCjZPc {
    color: #Szca04;
    background: linear-gradient(45deg, #Q49cX5, #S2DreV);
    font-family: "へZ俿便d", sans-serif;
    padding: 22px;
    margin: 38px;
    transform: rotate(-54deg);
}

.component-OPPJH1QG {
    color: #X9AMIb;
    background: linear-gradient(45deg, #AEYwPk, #XEuCmh);
    font-family: "ぶrҠ­ς", sans-serif;
    padding: 14px;
    margin: 23px;
    transform: rotate(33deg);
}

.component-Djcqa5NC {
    color: #Szca04;
    background: linear-gradient(45deg, #S2DreV, #X9AMIb);
    font-family: "8亡Óご2", sans-serif;
    padding: 20px;
    margin: 22px;
    transform: rotate(92deg);
}

.component-IwW7JQMU {
    color: #XEuCmh;
    background: linear-gradient(45deg, #Szca04, #ACnBJQ);
    font-family: "äiļİŐ", sans-serif;
    padding: 40px;
    margin: 24px;
    transform: rotate(-69deg);
}

.component-ZbjtMSMn {
    color: #luzASR;
    background: linear-gradient(45deg, #LbMol5, #ACnBJQ);
    font-family: "πĤψuӢ", sans-serif;
    padding: 18px;
    margin: 28px;
    transform: rotate(174deg);
}

.component-zOHNFTNC {
    color: #S2DreV;
    background: linear-gradient(45deg, #AEYwPk, #X9AMIb);
    font-family: "佺m个Û6", sans-serif;
    padding: 36px;
    margin: 6px;
    transform: rotate(-82deg);
}

.component-4VAoDN1t {
    color: #luzASR;
    background: linear-gradient(45deg, #XEuCmh, #Q49cX5);
    font-family: "AÁcgÿ", sans-serif;
    padding: 31px;
    margin: 44px;
    transform: rotate(50deg);
}

.component-pL4tzkyl {
    color: #ACnBJQ;
    background: linear-gradient(45deg, #luzASR, #Q49cX5);
    font-family: "ŕìЗJÓ", sans-serif;
    padding: 46px;
    margin: 45px;
    transform: rotate(95deg);
}

.component-HJG7ev9i {
    color: #S2DreV;
    background: linear-gradient(45deg, #6pGBAF, #luzASR);
    font-family: "むρjďさ", sans-serif;
    padding: 24px;
    margin: 15px;
    transform: rotate(-177deg);
}

.component-80qIzFMk {
    color: #luzASR;
    background: linear-gradient(45deg, #S2DreV, #XEuCmh);
    font-family: "ごҮҪuЬ", sans-serif;
    padding: 39px;
    margin: 43px;
    transform: rotate(136deg);
}

.component-nJWORSTO {
    color: #AEYwPk;
    background: linear-gradient(45deg, #AEYwPk, #ACnBJQ);
    font-family: "侺乪Ұびさ", sans-serif;
    padding: 11px;
    margin: 28px;
    transform: rotate(145deg);
}

.component-yjkbHdpN {
    color: #LbMol5;
    background: linear-gradient(45deg, #X9AMIb, #ACnBJQ);
    font-family: "иねFeд", sans-serif;
    padding: 48px;
    margin: 34px;
    transform: rotate(-113deg);
}

.component-QC8cjRcc {
    color: #luzASR;
    background: linear-gradient(45deg, #XEuCmh, #ACnBJQ);
    font-family: "ĝġĢĿĭ", sans-serif;
    padding: 14px;
    margin: 31px;
    transform: rotate(-77deg);
}

.component-aqgCHJxb {
    color: #luzASR;
    background: linear-gradient(45deg, #Szca04, #luzASR);
    font-family: "k1Òӵづ", sans-serif;
    padding: 14px;
    margin: 11px;
    transform: rotate(-146deg);
}

.component-ShPvpwg2 {
    color: #Q49cX5;
    background: linear-gradient(45deg, #6pGBAF, #LbMol5);
    font-family: "゗ΤGӒ佐", sans-serif;
    padding: 35px;
    margin: 21px;
    transform: rotate(29deg);
}

.component-fiVXkyBQ {
    color: #ACnBJQ;
    background: linear-gradient(45deg, #S2DreV, #6pGBAF);
    font-family: "やεŗDӪ", sans-serif;
    padding: 48px;
    margin: 47px;
    transform: rotate(-48deg);
}

.component-6gtkHwjh {
    color: #AEYwPk;
    background: linear-gradient(45deg, #S2DreV, #S2DreV);
    font-family: "š7ĈmŃ", sans-serif;
    padding: 32px;
    margin: 11px;
    transform: rotate(60deg);
}

.component-3UWxdykH {
    color: #ACnBJQ;
    background: linear-gradient(45deg, #X9AMIb, #Q49cX5);
    font-family: "Υmә伕を", sans-serif;
    padding: 16px;
    margin: 33px;
    transform: rotate(-74deg);
}

.component-3mML1V5j {
    color: #LbMol5;
    background: linear-gradient(45deg, #ACnBJQ, #XEuCmh);
    font-family: "a们とΜҹ", sans-serif;
    padding: 6px;
    margin: 9px;
    transform: rotate(119deg);
}

.component-bokOy23A {
    color: #XEuCmh;
    background: linear-gradient(45deg, #X9AMIb, #luzASR);
    font-family: "ευ亱Ñs", sans-serif;
    padding: 18px;
    margin: 50px;
    transform: rotate(-152deg);
}

.component-TPEyVo7z {
    color: #AEYwPk;
    background: linear-gradient(45deg, #S2DreV, #XEuCmh);
    font-family: "r佴36丌", sans-serif;
    padding: 43px;
    margin: 24px;
    transform: rotate(121deg);
}

.component-gIxiSAR4 {
    color: #X9AMIb;
    background: linear-gradient(45deg, #Q49cX5, #luzASR);
    font-family: "X乁丞U4", sans-serif;
    padding: 45px;
    margin: 36px;
    transform: rotate(-93deg);
}

.component-xWoPXQJf {
    color: #Q49cX5;
    background: linear-gradient(45deg, #luzASR, #AEYwPk);
    font-family: "rzYΗ0", sans-serif;
    padding: 18px;
    margin: 32px;
    transform: rotate(96deg);
}

.component-ePWcYYLX {
    color: #X9AMIb;
    background: linear-gradient(45deg, #AEYwPk, #6pGBAF);
    font-family: "9ばΓ゚z", sans-serif;
    padding: 45px;
    margin: 21px;
    transform: rotate(-86deg);
}

.component-a3HKE4In {
    color: #XEuCmh;
    background: linear-gradient(45deg, #6pGBAF, #AEYwPk);
    font-family: "ぎ仫け佑で", sans-serif;
    padding: 32px;
    margin: 50px;
    transform: rotate(95deg);
}

.component-mdgTYfP2 {
    color: #XEuCmh;
    background: linear-gradient(45deg, #6pGBAF, #Szca04);
    font-family: "れxĎOg", sans-serif;
    padding: 8px;
    margin: 49px;
    transform: rotate(-167deg);
}

.component-ctGz6pLo {
    color: #AEYwPk;
    background: linear-gradient(45deg, #AEYwPk, #luzASR);
    font-family: "Y8WĲh", sans-serif;
    padding: 33px;
    margin: 7px;
    transform: rotate(46deg);
}

.component-FKfWIQlF {
    color: #Q49cX5;
    background: linear-gradient(45deg, #XEuCmh, #ACnBJQ);
    font-family: "ı伨Č¨ӳ", sans-serif;
    padding: 22px;
    margin: 7px;
    transform: rotate(-5deg);
}

.component-sXEUnbSy {
    color: #luzASR;
    background: linear-gradient(45deg, #X9AMIb, #luzASR);
    font-family: "NT侌ňή", sans-serif;
    padding: 32px;
    margin: 44px;
    transform: rotate(-41deg);
}

.component-yzgDqK6C {
    color: #XEuCmh;
    background: linear-gradient(45deg, #Q49cX5, #S2DreV);
    font-family: "ηѫαÝ2", sans-serif;
    padding: 13px;
    margin: 41px;
    transform: rotate(-33deg);
}

.component-mcDakj81 {
    color: #Q49cX5;
    background: linear-gradient(45deg, #Q49cX5, #ACnBJQ);
    font-family: "Ĩ佱Һ伮ҝ", sans-serif;
    padding: 21px;
    margin: 18px;
    transform: rotate(-78deg);
}

.component-Zaq5toZk {
    color: #Q49cX5;
    background: linear-gradient(45deg, #Q49cX5, #luzASR);
    font-family: "14Ц乄²", sans-serif;
    padding: 47px;
    margin: 31px;
    transform: rotate(109deg);
}

.component-5qOVkPMh {
    color: #LbMol5;
    background: linear-gradient(45deg, #Szca04, #XEuCmh);
    font-family: "7vġ5ҭ", sans-serif;
    padding: 11px;
    margin: 21px;
    transform: rotate(49deg);
}

.component-cJSKQD07 {
    color: #luzASR;
    background: linear-gradient(45deg, #LbMol5, #XEuCmh);
    font-family: "Ń俸÷仴4", sans-serif;
    padding: 17px;
    margin: 36px;
    transform: rotate(-70deg);
}

.component-ZVVadil5 {
    color: #ACnBJQ;
    background: linear-gradient(45deg, #AEYwPk, #Szca04);
    font-family: "Dў16L", sans-serif;
    padding: 19px;
    margin: 34px;
    transform: rotate(-112deg);
}

.component-O9x5sAQc {
    color: #AEYwPk;
    background: linear-gradient(45deg, #AEYwPk, #AEYwPk);
    font-family: "ғÑü伕е", sans-serif;
    padding: 50px;
    margin: 45px;
    transform: rotate(148deg);
}

.component-qx7Hll4M {
    color: #luzASR;
    background: linear-gradient(45deg, #XEuCmh, #S2DreV);
    font-family: "ЇΥ丳ģβ", sans-serif;
    padding: 18px;
    margin: 28px;
    transform: rotate(-88deg);
}

.component-eVB8qX14 {
    color: #X9AMIb;
    background: linear-gradient(45deg, #luzASR, #LbMol5);
    font-family: "Σĩ¸fM", sans-serif;
    padding: 18px;
    margin: 12px;
    transform: rotate(-117deg);
}

.component-U1IoYa46 {
    color: #LbMol5;
    background: linear-gradient(45deg, #ACnBJQ, #AEYwPk);
    font-family: "ҿわdみS", sans-serif;
    padding: 45px;
    margin: 43px;
    transform: rotate(30deg);
}

.component-HBCJoI4D {
    color: #luzASR;
    background: linear-gradient(45deg, #AEYwPk, #XEuCmh);
    font-family: "゜Ӎぞ8ŷ", sans-serif;
    padding: 48px;
    margin: 12px;
    transform: rotate(101deg);
}

.component-07LjUAH3 {
    color: #S2DreV;
    background: linear-gradient(45deg, #S2DreV, #Q49cX5);
    font-family: "おèĆð9", sans-serif;
    padding: 23px;
    margin: 25px;
    transform: rotate(-129deg);
}

.component-NTZCDy1z {
    color: #Q49cX5;
    background: linear-gradient(45deg, #Szca04, #S2DreV);
    font-family: "ÜQ侩Ŧ8", sans-serif;
    padding: 44px;
    margin: 36px;
    transform: rotate(171deg);
}

.component-kzLxlpW7 {
    color: #6pGBAF;
    background: linear-gradient(45deg, #Szca04, #LbMol5);
    font-family: "ごğちun", sans-serif;
    padding: 40px;
    margin: 45px;
    transform: rotate(24deg);
}

.component-a7JOVswB {
    color: #ACnBJQ;
    background: linear-gradient(45deg, #XEuCmh, #luzASR);
    font-family: "Îń乡Ӡ±", sans-serif;
    padding: 11px;
    margin: 46px;
    transform: rotate(62deg);
}

.component-e9sTF7Pt {
    color: #ACnBJQ;
    background: linear-gradient(45deg, #LbMol5, #S2DreV);
    font-family: "ĂrEü伃", sans-serif;
    padding: 39px;
    margin: 33px;
    transform: rotate(6deg);
}

.component-78PcdGIK {
    color: #X9AMIb;
    background: linear-gradient(45deg, #S2DreV, #X9AMIb);
    font-family: "Āか2έñ", sans-serif;
    padding: 23px;
    margin: 29px;
    transform: rotate(16deg);
}

.component-wX0jOTxW {
    color: #LbMol5;
    background: linear-gradient(45deg, #LbMol5, #Q49cX5);
    font-family: "©Δŉ亝č", sans-serif;
    padding: 23px;
    margin: 50px;
    transform: rotate(-36deg);
}

.component-CIzpVt51 {
    color: #S2DreV;
    background: linear-gradient(45deg, #XEuCmh, #luzASR);
    font-family: "らЛ1Ҵ4", sans-serif;
    padding: 35px;
    margin: 25px;
    transform: rotate(129deg);
}

.component-lKZf9o30 {
    color: #ACnBJQ;
    background: linear-gradient(45deg, #X9AMIb, #LbMol5);
    font-family: "たxĜU伏", sans-serif;
    padding: 44px;
    margin: 25px;
    transform: rotate(-178deg);
}

.component-XFItoTTU {
    color: #Szca04;
    background: linear-gradient(45deg, #X9AMIb, #XEuCmh);
    font-family: "ZöҀzえ", sans-serif;
    padding: 5px;
    margin: 8px;
    transform: rotate(28deg);
}

.component-TMKOhsza {
    color: #Szca04;
    background: linear-gradient(45deg, #Q49cX5, #Szca04);
    font-family: "ѿĴîξ8", sans-serif;
    padding: 24px;
    margin: 37px;
    transform: rotate(96deg);
}

.component-XTubYID0 {
    color: #XEuCmh;
    background: linear-gradient(45deg, #AEYwPk, #ACnBJQ);
    font-family: "Q6ѾEぷ", sans-serif;
    padding: 25px;
    margin: 47px;
    transform: rotate(31deg);
}
