.component-kzkfjPcY {
    color: #75h1Ti;
    background: linear-gradient(45deg, #tVyueu, #tVyueu);
    font-family: "Ľ佟91ñ", sans-serif;
    padding: 27px;
    margin: 50px;
    transform: rotate(-31deg);
}

.component-Z1iq8OS8 {
    color: #tVyueu;
    background: linear-gradient(45deg, #cKI1HN, #ezW4Yj);
    font-family: "lふş7き", sans-serif;
    padding: 21px;
    margin: 11px;
    transform: rotate(12deg);
}

.component-e0DzEug0 {
    color: #z1avlF;
    background: linear-gradient(45deg, #ymiXku, #o4rjxm);
    font-family: "´ひ3p0", sans-serif;
    padding: 13px;
    margin: 37px;
    transform: rotate(153deg);
}

.component-IVP4xnnt {
    color: #tVyueu;
    background: linear-gradient(45deg, #Jpjpgf, #ymiXku);
    font-family: "ůŐ仜乤ğ", sans-serif;
    padding: 8px;
    margin: 24px;
    transform: rotate(132deg);
}

.component-5hxa8QMJ {
    color: #z1avlF;
    background: linear-gradient(45deg, #Jpjpgf, #75h1Ti);
    font-family: "ũăĞĔ3", sans-serif;
    padding: 10px;
    margin: 25px;
    transform: rotate(43deg);
}

.component-cHDsteQu {
    color: #75h1Ti;
    background: linear-gradient(45deg, #75h1Ti, #ymiXku);
    font-family: "Ì侚х佉f", sans-serif;
    padding: 28px;
    margin: 45px;
    transform: rotate(118deg);
}

.component-zB7Rfg4D {
    color: #cKI1HN;
    background: linear-gradient(45deg, #Jpjpgf, #75h1Ti);
    font-family: "L6ぺҳ丣", sans-serif;
    padding: 26px;
    margin: 27px;
    transform: rotate(120deg);
}

.component-wP16CcRL {
    color: #75h1Ti;
    background: linear-gradient(45deg, #o4rjxm, #z1avlF);
    font-family: "Υ併侐҂佁", sans-serif;
    padding: 27px;
    margin: 15px;
    transform: rotate(-1deg);
}

.component-B41OGbtY {
    color: #ezW4Yj;
    background: linear-gradient(45deg, #ymiXku, #o4rjxm);
    font-family: "ょA丆Ӛ侔", sans-serif;
    padding: 49px;
    margin: 5px;
    transform: rotate(-1deg);
}

.component-SMYuLhmx {
    color: #z1avlF;
    background: linear-gradient(45deg, #75h1Ti, #75h1Ti);
    font-family: "đΒÚġG", sans-serif;
    padding: 14px;
    margin: 14px;
    transform: rotate(-146deg);
}

.component-0cDXpBva {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #75h1Ti, #z1avlF);
    font-family: "Υ¶でέß", sans-serif;
    padding: 39px;
    margin: 31px;
    transform: rotate(91deg);
}

.component-ASKlbOOp {
    color: #ymiXku;
    background: linear-gradient(45deg, #R30Z5o, #ezW4Yj);
    font-family: "×FΒă9", sans-serif;
    padding: 8px;
    margin: 43px;
    transform: rotate(144deg);
}

.component-pFqCzeDS {
    color: #tVyueu;
    background: linear-gradient(45deg, #cKI1HN, #cKI1HN);
    font-family: "pなよぱŪ", sans-serif;
    padding: 18px;
    margin: 31px;
    transform: rotate(55deg);
}

.component-9DSliZY3 {
    color: #cKI1HN;
    background: linear-gradient(45deg, #tVyueu, #o4rjxm);
    font-family: "XßӐJĲ", sans-serif;
    padding: 35px;
    margin: 45px;
    transform: rotate(94deg);
}

.component-9DPAqSAA {
    color: #o4rjxm;
    background: linear-gradient(45deg, #ymiXku, #ymiXku);
    font-family: "侖5かΑ俱", sans-serif;
    padding: 31px;
    margin: 32px;
    transform: rotate(-12deg);
}

.component-Z0vsGx8E {
    color: #cKI1HN;
    background: linear-gradient(45deg, #pBJ33C, #pBJ33C);
    font-family: "こΞAӈm", sans-serif;
    padding: 36px;
    margin: 24px;
    transform: rotate(-51deg);
}

.component-xn7s2Dh8 {
    color: #o4rjxm;
    background: linear-gradient(45deg, #ezW4Yj, #75h1Ti);
    font-family: "mひΘ1亍", sans-serif;
    padding: 21px;
    margin: 17px;
    transform: rotate(87deg);
}

.component-efISitH5 {
    color: #o4rjxm;
    background: linear-gradient(45deg, #cKI1HN, #z1avlF);
    font-family: "b亿けӣ佗", sans-serif;
    padding: 31px;
    margin: 42px;
    transform: rotate(111deg);
}

.component-3jc52W70 {
    color: #pBJ33C;
    background: linear-gradient(45deg, #z1avlF, #Jpjpgf);
    font-family: "ӓΪfΔ£", sans-serif;
    padding: 10px;
    margin: 27px;
    transform: rotate(-91deg);
}

.component-ZBECYYFN {
    color: #R30Z5o;
    background: linear-gradient(45deg, #ymiXku, #z1avlF);
    font-family: "ҵ伟Α似作", sans-serif;
    padding: 6px;
    margin: 7px;
    transform: rotate(16deg);
}

.component-vQNaPuzq {
    color: #R30Z5o;
    background: linear-gradient(45deg, #ymiXku, #ymiXku);
    font-family: "l29Σ丣", sans-serif;
    padding: 46px;
    margin: 30px;
    transform: rotate(31deg);
}

.component-yNmJ0PMD {
    color: #75h1Ti;
    background: linear-gradient(45deg, #75h1Ti, #pBJ33C);
    font-family: "ђć6φ俹", sans-serif;
    padding: 45px;
    margin: 40px;
    transform: rotate(84deg);
}

.component-d3h0CpOl {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #Jpjpgf, #o4rjxm);
    font-family: "Ѵ゙ёӴ3", sans-serif;
    padding: 41px;
    margin: 22px;
    transform: rotate(-89deg);
}

.component-cfBHihbs {
    color: #ymiXku;
    background: linear-gradient(45deg, #ymiXku, #o4rjxm);
    font-family: "佳YcŲ2", sans-serif;
    padding: 23px;
    margin: 23px;
    transform: rotate(117deg);
}

.component-79zT71Ll {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #Jpjpgf, #tVyueu);
    font-family: "IPğhč", sans-serif;
    padding: 31px;
    margin: 44px;
    transform: rotate(26deg);
}

.component-aQgvh6vj {
    color: #R30Z5o;
    background: linear-gradient(45deg, #cKI1HN, #ezW4Yj);
    font-family: "j8ぬεべ", sans-serif;
    padding: 22px;
    margin: 22px;
    transform: rotate(-66deg);
}

.component-7UbkEMHu {
    color: #o4rjxm;
    background: linear-gradient(45deg, #o4rjxm, #Jpjpgf);
    font-family: "γј伪5ゞ", sans-serif;
    padding: 50px;
    margin: 43px;
    transform: rotate(29deg);
}

.component-rW9MwiBH {
    color: #o4rjxm;
    background: linear-gradient(45deg, #cKI1HN, #pBJ33C);
    font-family: "В丗ŝkT", sans-serif;
    padding: 41px;
    margin: 32px;
    transform: rotate(58deg);
}

.component-9o1oAKoV {
    color: #o4rjxm;
    background: linear-gradient(45deg, #tVyueu, #tVyueu);
    font-family: "tĭΫ0Ť", sans-serif;
    padding: 47px;
    margin: 33px;
    transform: rotate(-86deg);
}

.component-UkNlH4P9 {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #tVyueu, #cKI1HN);
    font-family: "4tТØ΢", sans-serif;
    padding: 41px;
    margin: 17px;
    transform: rotate(-156deg);
}

.component-ZdY3uUcq {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #R30Z5o, #ymiXku);
    font-family: "҇まΙ4Ә", sans-serif;
    padding: 24px;
    margin: 20px;
    transform: rotate(45deg);
}

.component-p4KacsKz {
    color: #R30Z5o;
    background: linear-gradient(45deg, #z1avlF, #Jpjpgf);
    font-family: "俦みэ侄đ", sans-serif;
    padding: 7px;
    margin: 33px;
    transform: rotate(129deg);
}

.component-N8LooFgt {
    color: #ymiXku;
    background: linear-gradient(45deg, #pBJ33C, #pBJ33C);
    font-family: "7Γμīど", sans-serif;
    padding: 16px;
    margin: 6px;
    transform: rotate(-5deg);
}

.component-hTLkXGlV {
    color: #ezW4Yj;
    background: linear-gradient(45deg, #R30Z5o, #ezW4Yj);
    font-family: "ηѐõ俔乯", sans-serif;
    padding: 31px;
    margin: 19px;
    transform: rotate(146deg);
}

.component-pohcq3em {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #75h1Ti, #ezW4Yj);
    font-family: "付ģηψΔ", sans-serif;
    padding: 36px;
    margin: 49px;
    transform: rotate(-22deg);
}

.component-nDPOY6lp {
    color: #tVyueu;
    background: linear-gradient(45deg, #Jpjpgf, #R30Z5o);
    font-family: "ゃuぺұк", sans-serif;
    padding: 22px;
    margin: 45px;
    transform: rotate(44deg);
}

.component-Zxw2UUww {
    color: #ymiXku;
    background: linear-gradient(45deg, #Jpjpgf, #cKI1HN);
    font-family: "Or³yă", sans-serif;
    padding: 47px;
    margin: 27px;
    transform: rotate(162deg);
}

.component-H1PcXom2 {
    color: #75h1Ti;
    background: linear-gradient(45deg, #R30Z5o, #Jpjpgf);
    font-family: "cd仭34", sans-serif;
    padding: 36px;
    margin: 19px;
    transform: rotate(-163deg);
}

.component-HneNoBP6 {
    color: #o4rjxm;
    background: linear-gradient(45deg, #cKI1HN, #cKI1HN);
    font-family: "ΓÒμЭぷ", sans-serif;
    padding: 7px;
    margin: 23px;
    transform: rotate(-164deg);
}

.component-PVY6jpqB {
    color: #ezW4Yj;
    background: linear-gradient(45deg, #ezW4Yj, #R30Z5o);
    font-family: "I8Σzà", sans-serif;
    padding: 32px;
    margin: 45px;
    transform: rotate(138deg);
}

.component-BcNIkKYd {
    color: #R30Z5o;
    background: linear-gradient(45deg, #R30Z5o, #o4rjxm);
    font-family: "κτφN7", sans-serif;
    padding: 25px;
    margin: 8px;
    transform: rotate(178deg);
}

.component-2I5FoDyf {
    color: #R30Z5o;
    background: linear-gradient(45deg, #ezW4Yj, #75h1Ti);
    font-family: "じҕΔぃѲ", sans-serif;
    padding: 20px;
    margin: 45px;
    transform: rotate(-40deg);
}

.component-BhrytASv {
    color: #ymiXku;
    background: linear-gradient(45deg, #tVyueu, #z1avlF);
    font-family: "ѡ伺ΚJc", sans-serif;
    padding: 38px;
    margin: 30px;
    transform: rotate(99deg);
}

.component-jn2SDIqs {
    color: #ezW4Yj;
    background: linear-gradient(45deg, #z1avlF, #R30Z5o);
    font-family: "зτ¯ψъ", sans-serif;
    padding: 25px;
    margin: 30px;
    transform: rotate(45deg);
}

.component-l18yBQYh {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #pBJ33C, #ymiXku);
    font-family: "仐6亴1³", sans-serif;
    padding: 48px;
    margin: 34px;
    transform: rotate(-2deg);
}

.component-wwyiFQ9V {
    color: #z1avlF;
    background: linear-gradient(45deg, #ezW4Yj, #cKI1HN);
    font-family: "ÔC俓R0", sans-serif;
    padding: 9px;
    margin: 5px;
    transform: rotate(92deg);
}

.component-XJm65LVk {
    color: #pBJ33C;
    background: linear-gradient(45deg, #z1avlF, #cKI1HN);
    font-family: "侜つ8҂İ", sans-serif;
    padding: 42px;
    margin: 43px;
    transform: rotate(81deg);
}

.component-UEZRnOc3 {
    color: #ezW4Yj;
    background: linear-gradient(45deg, #ymiXku, #Jpjpgf);
    font-family: "зЩゑĎ×", sans-serif;
    padding: 36px;
    margin: 49px;
    transform: rotate(55deg);
}

.component-2WjpreaG {
    color: #ymiXku;
    background: linear-gradient(45deg, #Jpjpgf, #R30Z5o);
    font-family: "kc亙pt", sans-serif;
    padding: 42px;
    margin: 25px;
    transform: rotate(55deg);
}

.component-ELi5026y {
    color: #ezW4Yj;
    background: linear-gradient(45deg, #cKI1HN, #Jpjpgf);
    font-family: "QぐćØā", sans-serif;
    padding: 44px;
    margin: 44px;
    transform: rotate(157deg);
}

.component-nep56vNe {
    color: #o4rjxm;
    background: linear-gradient(45deg, #z1avlF, #ezW4Yj);
    font-family: "EûOρЁ", sans-serif;
    padding: 17px;
    margin: 46px;
    transform: rotate(-165deg);
}

.component-ghkTfazV {
    color: #o4rjxm;
    background: linear-gradient(45deg, #o4rjxm, #Jpjpgf);
    font-family: "亩ČøめB", sans-serif;
    padding: 47px;
    margin: 32px;
    transform: rotate(145deg);
}

.component-9AQLFCx1 {
    color: #ymiXku;
    background: linear-gradient(45deg, #ezW4Yj, #ezW4Yj);
    font-family: "л2wΡΤ", sans-serif;
    padding: 42px;
    margin: 21px;
    transform: rotate(47deg);
}

.component-xh14us9A {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #o4rjxm, #pBJ33C);
    font-family: "ҙさΟĮE", sans-serif;
    padding: 38px;
    margin: 8px;
    transform: rotate(89deg);
}

.component-Fs5zhcLi {
    color: #pBJ33C;
    background: linear-gradient(45deg, #R30Z5o, #tVyueu);
    font-family: "Я6ҳOđ", sans-serif;
    padding: 43px;
    margin: 16px;
    transform: rotate(113deg);
}

.component-6cOHFNmt {
    color: #pBJ33C;
    background: linear-gradient(45deg, #ymiXku, #tVyueu);
    font-family: "ѩvžほご", sans-serif;
    padding: 45px;
    margin: 37px;
    transform: rotate(73deg);
}

.component-gKVwW45M {
    color: #ymiXku;
    background: linear-gradient(45deg, #z1avlF, #Jpjpgf);
    font-family: "Ѵ仗ょ伭¤", sans-serif;
    padding: 10px;
    margin: 45px;
    transform: rotate(104deg);
}

.component-8i8loLNL {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #ezW4Yj, #cKI1HN);
    font-family: "b2A9A", sans-serif;
    padding: 15px;
    margin: 47px;
    transform: rotate(-151deg);
}

.component-yk8p9i4T {
    color: #ymiXku;
    background: linear-gradient(45deg, #75h1Ti, #Jpjpgf);
    font-family: "οtѣχ丞", sans-serif;
    padding: 39px;
    margin: 39px;
    transform: rotate(-99deg);
}

.component-yfZebcvm {
    color: #tVyueu;
    background: linear-gradient(45deg, #o4rjxm, #z1avlF);
    font-family: "ηjѠѩい", sans-serif;
    padding: 37px;
    margin: 6px;
    transform: rotate(72deg);
}

.component-yLBGYMHU {
    color: #z1avlF;
    background: linear-gradient(45deg, #ezW4Yj, #pBJ33C);
    font-family: "休½Ѐやσ", sans-serif;
    padding: 25px;
    margin: 13px;
    transform: rotate(103deg);
}

.component-g0LexxNU {
    color: #z1avlF;
    background: linear-gradient(45deg, #Jpjpgf, #R30Z5o);
    font-family: "ҀѓŴ乑b", sans-serif;
    padding: 21px;
    margin: 10px;
    transform: rotate(109deg);
}

.component-SsSAxtKX {
    color: #tVyueu;
    background: linear-gradient(45deg, #Jpjpgf, #ymiXku);
    font-family: "ѧそΔьゑ", sans-serif;
    padding: 21px;
    margin: 19px;
    transform: rotate(178deg);
}

.component-dB0bvfdl {
    color: #75h1Ti;
    background: linear-gradient(45deg, #R30Z5o, #R30Z5o);
    font-family: "şΛ伙V9", sans-serif;
    padding: 35px;
    margin: 35px;
    transform: rotate(-78deg);
}

.component-MKtIbKzI {
    color: #z1avlF;
    background: linear-gradient(45deg, #R30Z5o, #Jpjpgf);
    font-family: "ゑ×VRŲ", sans-serif;
    padding: 19px;
    margin: 15px;
    transform: rotate(-7deg);
}

.component-9HLk5MsW {
    color: #pBJ33C;
    background: linear-gradient(45deg, #ymiXku, #Jpjpgf);
    font-family: "ÀECこξ", sans-serif;
    padding: 32px;
    margin: 8px;
    transform: rotate(-100deg);
}

.component-do5w9dIE {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #z1avlF, #cKI1HN);
    font-family: "42҅Ŷ¬", sans-serif;
    padding: 32px;
    margin: 49px;
    transform: rotate(-44deg);
}

.component-uXwhFnHI {
    color: #z1avlF;
    background: linear-gradient(45deg, #ezW4Yj, #Jpjpgf);
    font-family: "2Ν丶μн", sans-serif;
    padding: 49px;
    margin: 25px;
    transform: rotate(24deg);
}

.component-t2HHnGQ4 {
    color: #o4rjxm;
    background: linear-gradient(45deg, #ezW4Yj, #ezW4Yj);
    font-family: "ゐӿeѝπ", sans-serif;
    padding: 46px;
    margin: 37px;
    transform: rotate(38deg);
}

.component-lc3bMH9V {
    color: #ymiXku;
    background: linear-gradient(45deg, #pBJ33C, #z1avlF);
    font-family: "¶Qѣk゗", sans-serif;
    padding: 41px;
    margin: 7px;
    transform: rotate(168deg);
}

.component-qCNRUJ8P {
    color: #tVyueu;
    background: linear-gradient(45deg, #ymiXku, #Jpjpgf);
    font-family: "6ΡめxG", sans-serif;
    padding: 12px;
    margin: 35px;
    transform: rotate(61deg);
}

.component-tmzoqz4U {
    color: #tVyueu;
    background: linear-gradient(45deg, #75h1Ti, #ezW4Yj);
    font-family: "χ゗mびĜ", sans-serif;
    padding: 37px;
    margin: 5px;
    transform: rotate(77deg);
}

.component-OhSEQ7FA {
    color: #tVyueu;
    background: linear-gradient(45deg, #tVyueu, #pBJ33C);
    font-family: "ăλづΠІ", sans-serif;
    padding: 40px;
    margin: 49px;
    transform: rotate(-71deg);
}

.component-LqaQKarD {
    color: #pBJ33C;
    background: linear-gradient(45deg, #z1avlF, #ymiXku);
    font-family: "づĆ¹Þゔ", sans-serif;
    padding: 24px;
    margin: 34px;
    transform: rotate(-113deg);
}

.component-DAnT2iPI {
    color: #o4rjxm;
    background: linear-gradient(45deg, #R30Z5o, #ymiXku);
    font-family: "vġのΔJ", sans-serif;
    padding: 19px;
    margin: 39px;
    transform: rotate(-120deg);
}

.component-6okuCYYV {
    color: #pBJ33C;
    background: linear-gradient(45deg, #Jpjpgf, #pBJ33C);
    font-family: "āěö亜х", sans-serif;
    padding: 27px;
    margin: 22px;
    transform: rotate(-41deg);
}

.component-22CzdAV8 {
    color: #tVyueu;
    background: linear-gradient(45deg, #cKI1HN, #Jpjpgf);
    font-family: "n乀むýっ", sans-serif;
    padding: 5px;
    margin: 41px;
    transform: rotate(-175deg);
}

.component-te3WfnLn {
    color: #o4rjxm;
    background: linear-gradient(45deg, #ezW4Yj, #ymiXku);
    font-family: "Ğ书Ĉė1", sans-serif;
    padding: 45px;
    margin: 38px;
    transform: rotate(-118deg);
}

.component-dtmQ0z2j {
    color: #pBJ33C;
    background: linear-gradient(45deg, #cKI1HN, #pBJ33C);
    font-family: "ふeχちÝ", sans-serif;
    padding: 35px;
    margin: 45px;
    transform: rotate(-72deg);
}

.component-DLLcasV1 {
    color: #tVyueu;
    background: linear-gradient(45deg, #R30Z5o, #75h1Ti);
    font-family: "υҦѶ±Ϊ", sans-serif;
    padding: 49px;
    margin: 15px;
    transform: rotate(18deg);
}

.component-Yudoj2IF {
    color: #75h1Ti;
    background: linear-gradient(45deg, #cKI1HN, #cKI1HN);
    font-family: "Ѹ7¿oZ", sans-serif;
    padding: 15px;
    margin: 27px;
    transform: rotate(25deg);
}

.component-pRuycNr7 {
    color: #ymiXku;
    background: linear-gradient(45deg, #z1avlF, #Jpjpgf);
    font-family: "8Ρ3ïÉ", sans-serif;
    padding: 44px;
    margin: 43px;
    transform: rotate(81deg);
}

.component-nsAXYwu2 {
    color: #ymiXku;
    background: linear-gradient(45deg, #tVyueu, #pBJ33C);
    font-family: "3ÉがぉG", sans-serif;
    padding: 39px;
    margin: 26px;
    transform: rotate(122deg);
}

.component-G9gdz5U3 {
    color: #ezW4Yj;
    background: linear-gradient(45deg, #Jpjpgf, #75h1Ti);
    font-family: "x习传ゅґ", sans-serif;
    padding: 8px;
    margin: 34px;
    transform: rotate(151deg);
}

.component-867fuBJI {
    color: #cKI1HN;
    background: linear-gradient(45deg, #R30Z5o, #ymiXku);
    font-family: "ĭEp8从", sans-serif;
    padding: 11px;
    margin: 39px;
    transform: rotate(50deg);
}

.component-0kHztxIu {
    color: #ezW4Yj;
    background: linear-gradient(45deg, #tVyueu, #ymiXku);
    font-family: "tӾを份Λ", sans-serif;
    padding: 28px;
    margin: 40px;
    transform: rotate(-171deg);
}

.component-H7NYT02a {
    color: #pBJ33C;
    background: linear-gradient(45deg, #Jpjpgf, #pBJ33C);
    font-family: "Ä·в9仳", sans-serif;
    padding: 38px;
    margin: 18px;
    transform: rotate(38deg);
}

.component-eO9IKqfm {
    color: #ezW4Yj;
    background: linear-gradient(45deg, #R30Z5o, #pBJ33C);
    font-family: "V7ű©ų", sans-serif;
    padding: 35px;
    margin: 8px;
    transform: rotate(-108deg);
}

.component-tldchP5q {
    color: #75h1Ti;
    background: linear-gradient(45deg, #ymiXku, #tVyueu);
    font-family: "йΕ¡X6", sans-serif;
    padding: 29px;
    margin: 33px;
    transform: rotate(83deg);
}

.component-kGRCkWzM {
    color: #ymiXku;
    background: linear-gradient(45deg, #z1avlF, #z1avlF);
    font-family: "ΘyΜ¥1", sans-serif;
    padding: 50px;
    margin: 25px;
    transform: rotate(77deg);
}

.component-uQnnZtHU {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #tVyueu, #tVyueu);
    font-family: "tΓιÏc", sans-serif;
    padding: 42px;
    margin: 16px;
    transform: rotate(-6deg);
}

.component-jtFRI6M3 {
    color: #ymiXku;
    background: linear-gradient(45deg, #75h1Ti, #ymiXku);
    font-family: "ӭ5ω仺乧", sans-serif;
    padding: 26px;
    margin: 21px;
    transform: rotate(-58deg);
}

.component-MLEYdYKm {
    color: #o4rjxm;
    background: linear-gradient(45deg, #cKI1HN, #tVyueu);
    font-family: "今Ҵӱ9η", sans-serif;
    padding: 46px;
    margin: 48px;
    transform: rotate(9deg);
}

.component-yJMxIHJQ {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #75h1Ti, #o4rjxm);
    font-family: "©Ӓě伒§", sans-serif;
    padding: 42px;
    margin: 34px;
    transform: rotate(-137deg);
}

.component-uELJlnh9 {
    color: #tVyueu;
    background: linear-gradient(45deg, #Jpjpgf, #75h1Ti);
    font-family: "Tİ之ү©", sans-serif;
    padding: 37px;
    margin: 18px;
    transform: rotate(115deg);
}

.component-DyeJRztO {
    color: #ymiXku;
    background: linear-gradient(45deg, #ymiXku, #ezW4Yj);
    font-family: "¯ĜIѫі", sans-serif;
    padding: 41px;
    margin: 32px;
    transform: rotate(166deg);
}

.component-7d8pG8Lb {
    color: #ymiXku;
    background: linear-gradient(45deg, #Jpjpgf, #o4rjxm);
    font-family: "zぷKゎΕ", sans-serif;
    padding: 42px;
    margin: 32px;
    transform: rotate(115deg);
}

.component-wmw6Uggm {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #R30Z5o, #z1avlF);
    font-family: "1ね0Θめ", sans-serif;
    padding: 28px;
    margin: 32px;
    transform: rotate(-155deg);
}

.component-b14XVvuK {
    color: #ymiXku;
    background: linear-gradient(45deg, #cKI1HN, #Jpjpgf);
    font-family: "は¾ïΓ亶", sans-serif;
    padding: 36px;
    margin: 13px;
    transform: rotate(171deg);
}

.component-mpa3e9x6 {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #cKI1HN, #ezW4Yj);
    font-family: "Ο4´ӥ侎", sans-serif;
    padding: 46px;
    margin: 6px;
    transform: rotate(177deg);
}

.component-mf7fyey8 {
    color: #75h1Ti;
    background: linear-gradient(45deg, #pBJ33C, #ymiXku);
    font-family: "おぼfÝΧ", sans-serif;
    padding: 11px;
    margin: 38px;
    transform: rotate(-10deg);
}

.component-hp3ScR7d {
    color: #R30Z5o;
    background: linear-gradient(45deg, #cKI1HN, #tVyueu);
    font-family: "ぢҵ乘侼ò", sans-serif;
    padding: 28px;
    margin: 35px;
    transform: rotate(-116deg);
}

.component-LEXW4Gjp {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #o4rjxm, #o4rjxm);
    font-family: "¨М3nҀ", sans-serif;
    padding: 46px;
    margin: 49px;
    transform: rotate(8deg);
}

.component-n9iNhsTQ {
    color: #cKI1HN;
    background: linear-gradient(45deg, #o4rjxm, #tVyueu);
    font-family: "しѻろ2ざ", sans-serif;
    padding: 8px;
    margin: 17px;
    transform: rotate(-93deg);
}

.component-pFSqrnIK {
    color: #ymiXku;
    background: linear-gradient(45deg, #z1avlF, #75h1Ti);
    font-family: "jpЙ乪k", sans-serif;
    padding: 15px;
    margin: 16px;
    transform: rotate(-75deg);
}

.component-RNsWJhUW {
    color: #tVyueu;
    background: linear-gradient(45deg, #o4rjxm, #R30Z5o);
    font-family: "と乡îĈこ", sans-serif;
    padding: 6px;
    margin: 6px;
    transform: rotate(-7deg);
}

.component-5Mzvu1WJ {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #ezW4Yj, #ymiXku);
    font-family: "係ºûĻ0", sans-serif;
    padding: 26px;
    margin: 12px;
    transform: rotate(54deg);
}

.component-qw9tawmQ {
    color: #cKI1HN;
    background: linear-gradient(45deg, #75h1Ti, #75h1Ti);
    font-family: "Т2CÇŇ", sans-serif;
    padding: 23px;
    margin: 10px;
    transform: rotate(-112deg);
}

.component-FOGcHeTW {
    color: #75h1Ti;
    background: linear-gradient(45deg, #ezW4Yj, #tVyueu);
    font-family: "Ų6I4わ", sans-serif;
    padding: 46px;
    margin: 43px;
    transform: rotate(-105deg);
}

.component-ZF1mx4Fz {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #Jpjpgf, #Jpjpgf);
    font-family: "Û1ā2Ŷ", sans-serif;
    padding: 13px;
    margin: 5px;
    transform: rotate(-81deg);
}

.component-mEB7c0Z6 {
    color: #z1avlF;
    background: linear-gradient(45deg, #R30Z5o, #R30Z5o);
    font-family: "ß2佪ѹS", sans-serif;
    padding: 42px;
    margin: 40px;
    transform: rotate(108deg);
}

.component-lerdfIvB {
    color: #ezW4Yj;
    background: linear-gradient(45deg, #75h1Ti, #pBJ33C);
    font-family: "俭ÛゃΞz", sans-serif;
    padding: 47px;
    margin: 22px;
    transform: rotate(161deg);
}

.component-7adxq1Mp {
    color: #75h1Ti;
    background: linear-gradient(45deg, #Jpjpgf, #ezW4Yj);
    font-family: "ごҳにん3", sans-serif;
    padding: 50px;
    margin: 10px;
    transform: rotate(-172deg);
}

.component-HhqSpTT3 {
    color: #pBJ33C;
    background: linear-gradient(45deg, #cKI1HN, #R30Z5o);
    font-family: "きR亥gY", sans-serif;
    padding: 14px;
    margin: 5px;
    transform: rotate(-119deg);
}

.component-YePBnWjh {
    color: #tVyueu;
    background: linear-gradient(45deg, #ezW4Yj, #ymiXku);
    font-family: "οQЫ´v", sans-serif;
    padding: 10px;
    margin: 47px;
    transform: rotate(-168deg);
}

.component-YTnWtt9A {
    color: #o4rjxm;
    background: linear-gradient(45deg, #pBJ33C, #z1avlF);
    font-family: "ŠH丄V9", sans-serif;
    padding: 22px;
    margin: 36px;
    transform: rotate(-5deg);
}

.component-dW7VmKcV {
    color: #75h1Ti;
    background: linear-gradient(45deg, #tVyueu, #o4rjxm);
    font-family: "ĶŞ5ьҾ", sans-serif;
    padding: 40px;
    margin: 42px;
    transform: rotate(4deg);
}

.component-X6neoWTl {
    color: #z1avlF;
    background: linear-gradient(45deg, #ymiXku, #ymiXku);
    font-family: "vうШyい", sans-serif;
    padding: 16px;
    margin: 43px;
    transform: rotate(-137deg);
}

.component-vVYsNElc {
    color: #z1avlF;
    background: linear-gradient(45deg, #cKI1HN, #o4rjxm);
    font-family: "ÑゔG1぀", sans-serif;
    padding: 33px;
    margin: 25px;
    transform: rotate(156deg);
}

.component-pXbBuakS {
    color: #z1avlF;
    background: linear-gradient(45deg, #ymiXku, #ezW4Yj);
    font-family: "ŀ҆ўëΓ", sans-serif;
    padding: 13px;
    margin: 5px;
    transform: rotate(-139deg);
}

.component-bku6Ktgl {
    color: #cKI1HN;
    background: linear-gradient(45deg, #R30Z5o, #R30Z5o);
    font-family: "őŏβ为b", sans-serif;
    padding: 39px;
    margin: 14px;
    transform: rotate(-104deg);
}

.component-qF09IE5Z {
    color: #tVyueu;
    background: linear-gradient(45deg, #Jpjpgf, #R30Z5o);
    font-family: "kυじέå", sans-serif;
    padding: 48px;
    margin: 37px;
    transform: rotate(74deg);
}

.component-8hRySRlQ {
    color: #ymiXku;
    background: linear-gradient(45deg, #R30Z5o, #z1avlF);
    font-family: "Γろi临N", sans-serif;
    padding: 42px;
    margin: 27px;
    transform: rotate(-82deg);
}

.component-SbV9hYCa {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #75h1Ti, #ymiXku);
    font-family: "z九Ε£ª", sans-serif;
    padding: 42px;
    margin: 11px;
    transform: rotate(158deg);
}

.component-bVvLPtvT {
    color: #o4rjxm;
    background: linear-gradient(45deg, #z1avlF, #75h1Ti);
    font-family: "ZPぃ4侔", sans-serif;
    padding: 21px;
    margin: 31px;
    transform: rotate(-153deg);
}

.component-uIguEaNf {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #Jpjpgf, #ezW4Yj);
    font-family: "やăјよӖ", sans-serif;
    padding: 46px;
    margin: 20px;
    transform: rotate(-161deg);
}

.component-31Qcp8hh {
    color: #cKI1HN;
    background: linear-gradient(45deg, #o4rjxm, #o4rjxm);
    font-family: "öI҄8ä", sans-serif;
    padding: 26px;
    margin: 10px;
    transform: rotate(-35deg);
}

.component-GzOw2Vef {
    color: #Jpjpgf;
    background: linear-gradient(45deg, #ymiXku, #o4rjxm);
    font-family: "κわΰこҔ", sans-serif;
    padding: 42px;
    margin: 37px;
    transform: rotate(148deg);
}

.component-779tpdU7 {
    color: #pBJ33C;
    background: linear-gradient(45deg, #R30Z5o, #z1avlF);
    font-family: "ѪΤŧîO", sans-serif;
    padding: 34px;
    margin: 10px;
    transform: rotate(71deg);
}

.component-F5EHBDEg {
    color: #tVyueu;
    background: linear-gradient(45deg, #75h1Ti, #ymiXku);
    font-family: "ŗδμ¶P", sans-serif;
    padding: 9px;
    margin: 20px;
    transform: rotate(-19deg);
}

.component-DsCzahO8 {
    color: #pBJ33C;
    background: linear-gradient(45deg, #ezW4Yj, #tVyueu);
    font-family: "Ş8τ¶B", sans-serif;
    padding: 21px;
    margin: 39px;
    transform: rotate(66deg);
}

.component-0YJH470Z {
    color: #75h1Ti;
    background: linear-gradient(45deg, #z1avlF, #z1avlF);
    font-family: "5җiҁѷ", sans-serif;
    padding: 48px;
    margin: 20px;
    transform: rotate(-174deg);
}

.component-vIrDdtWS {
    color: #ymiXku;
    background: linear-gradient(45deg, #cKI1HN, #Jpjpgf);
    font-family: "à20ふざ", sans-serif;
    padding: 19px;
    margin: 42px;
    transform: rotate(26deg);
}

.component-LLW5Pcu6 {
    color: #R30Z5o;
    background: linear-gradient(45deg, #tVyueu, #z1avlF);
    font-family: "ほM҆Ę0", sans-serif;
    padding: 31px;
    margin: 5px;
    transform: rotate(-171deg);
}

.component-GWBNBeec {
    color: #cKI1HN;
    background: linear-gradient(45deg, #tVyueu, #75h1Ti);
    font-family: "Ζ°ҐuӁ", sans-serif;
    padding: 23px;
    margin: 7px;
    transform: rotate(-69deg);
}

.component-9WWcq5HK {
    color: #pBJ33C;
    background: linear-gradient(45deg, #75h1Ti, #tVyueu);
    font-family: "がlӍQげ", sans-serif;
    padding: 38px;
    margin: 43px;
    transform: rotate(1deg);
}

.component-YjWStKVi {
    color: #ymiXku;
    background: linear-gradient(45deg, #o4rjxm, #tVyueu);
    font-family: "2Bџゔо", sans-serif;
    padding: 24px;
    margin: 16px;
    transform: rotate(-107deg);
}

.component-SQr2gBBg {
    color: #75h1Ti;
    background: linear-gradient(45deg, #cKI1HN, #R30Z5o);
    font-family: "2ӛρeŶ", sans-serif;
    padding: 42px;
    margin: 19px;
    transform: rotate(89deg);
}

.component-Mb1yD8Ez {
    color: #tVyueu;
    background: linear-gradient(45deg, #cKI1HN, #ezW4Yj);
    font-family: "ďSiみҢ", sans-serif;
    padding: 8px;
    margin: 11px;
    transform: rotate(-30deg);
}

.component-LYVNQ1wt {
    color: #cKI1HN;
    background: linear-gradient(45deg, #Jpjpgf, #z1avlF);
    font-family: "e§份6Ĵ", sans-serif;
    padding: 49px;
    margin: 27px;
    transform: rotate(-106deg);
}
