.component-mLv9R8YZ {
    color: #vJwhwF;
    background: linear-gradient(45deg, #uiSHPH, #3o3O2g);
    font-family: "ŝΥ½とД", sans-serif;
    padding: 19px;
    margin: 36px;
    transform: rotate(82deg);
}

.component-vYy57QdB {
    color: #YnNxUc;
    background: linear-gradient(45deg, #uiSHPH, #3o3O2g);
    font-family: "Ѧέv亄Ő", sans-serif;
    padding: 8px;
    margin: 27px;
    transform: rotate(105deg);
}

.component-LL3ebym5 {
    color: #vJwhwF;
    background: linear-gradient(45deg, #vJwhwF, #3o3O2g);
    font-family: "佞2乘ӓU", sans-serif;
    padding: 17px;
    margin: 25px;
    transform: rotate(-176deg);
}

.component-m6sPsrJ3 {
    color: #Ts5mXL;
    background: linear-gradient(45deg, #YnNxUc, #5s5ql8);
    font-family: "ЭÆśΰҴ", sans-serif;
    padding: 28px;
    margin: 30px;
    transform: rotate(-144deg);
}

.component-39h9t9ZS {
    color: #uiSHPH;
    background: linear-gradient(45deg, #uiSHPH, #5s5ql8);
    font-family: "て1pつq", sans-serif;
    padding: 44px;
    margin: 35px;
    transform: rotate(-172deg);
}

.component-lwekLU4L {
    color: #5s5ql8;
    background: linear-gradient(45deg, #c8Nzbo, #UD7V7k);
    font-family: "げxîѓq", sans-serif;
    padding: 18px;
    margin: 11px;
    transform: rotate(171deg);
}

.component-iIDOEUAt {
    color: #5s5ql8;
    background: linear-gradient(45deg, #uiSHPH, #uiSHPH);
    font-family: "ξΧ乶へξ", sans-serif;
    padding: 39px;
    margin: 49px;
    transform: rotate(98deg);
}

.component-r58BszJX {
    color: #Ts5mXL;
    background: linear-gradient(45deg, #3o3O2g, #UD7V7k);
    font-family: "άfjm侇", sans-serif;
    padding: 9px;
    margin: 6px;
    transform: rotate(131deg);
}

.component-LkEjja9w {
    color: #c8Nzbo;
    background: linear-gradient(45deg, #3o3O2g, #vJwhwF);
    font-family: "゙亦aĂS", sans-serif;
    padding: 28px;
    margin: 47px;
    transform: rotate(10deg);
}

.component-30ou5ZSB {
    color: #YnNxUc;
    background: linear-gradient(45deg, #c8Nzbo, #UD7V7k);
    font-family: "ΦќтLº", sans-serif;
    padding: 50px;
    margin: 38px;
    transform: rotate(-59deg);
}

.component-GrGJz1bu {
    color: #Ts5mXL;
    background: linear-gradient(45deg, #YnNxUc, #YnNxUc);
    font-family: "ŸRґΫI", sans-serif;
    padding: 23px;
    margin: 10px;
    transform: rotate(41deg);
}

.component-m56WGjkh {
    color: #uiSHPH;
    background: linear-gradient(45deg, #3o3O2g, #uiSHPH);
    font-family: "Θ4Ҭyぼ", sans-serif;
    padding: 41px;
    margin: 19px;
    transform: rotate(-8deg);
}

.component-5G4i13Rg {
    color: #c8Nzbo;
    background: linear-gradient(45deg, #rjm6gq, #EFRjOg);
    font-family: "KιxeЋ", sans-serif;
    padding: 42px;
    margin: 19px;
    transform: rotate(-133deg);
}

.component-oncV984U {
    color: #Ts5mXL;
    background: linear-gradient(45deg, #Ts5mXL, #EFRjOg);
    font-family: "αUó俉À", sans-serif;
    padding: 10px;
    margin: 22px;
    transform: rotate(-124deg);
}

.component-oOUOnxEZ {
    color: #c8Nzbo;
    background: linear-gradient(45deg, #vJwhwF, #EFRjOg);
    font-family: "ΗShΜâ", sans-serif;
    padding: 34px;
    margin: 40px;
    transform: rotate(-161deg);
}

.component-Etaj1WzS {
    color: #vJwhwF;
    background: linear-gradient(45deg, #Ts5mXL, #Ts5mXL);
    font-family: "½Ҥėŏω", sans-serif;
    padding: 46px;
    margin: 16px;
    transform: rotate(-28deg);
}

.component-lSzOJUyk {
    color: #rjm6gq;
    background: linear-gradient(45deg, #rjm6gq, #uiSHPH);
    font-family: "ӻÕҘ俋¾", sans-serif;
    padding: 17px;
    margin: 8px;
    transform: rotate(23deg);
}

.component-wJnLgQU4 {
    color: #c8Nzbo;
    background: linear-gradient(45deg, #rjm6gq, #uiSHPH);
    font-family: "乩ΚcmӖ", sans-serif;
    padding: 47px;
    margin: 15px;
    transform: rotate(-10deg);
}

.component-HTGMUYwk {
    color: #uiSHPH;
    background: linear-gradient(45deg, #YnNxUc, #rjm6gq);
    font-family: "仮02ѷδ", sans-serif;
    padding: 50px;
    margin: 31px;
    transform: rotate(128deg);
}

.component-0CICX03X {
    color: #EFRjOg;
    background: linear-gradient(45deg, #vJwhwF, #5s5ql8);
    font-family: "þѳР乚r", sans-serif;
    padding: 8px;
    margin: 49px;
    transform: rotate(-41deg);
}

.component-zdSjAhbD {
    color: #uiSHPH;
    background: linear-gradient(45deg, #5s5ql8, #Ts5mXL);
    font-family: "êぇ临Ѽè", sans-serif;
    padding: 24px;
    margin: 48px;
    transform: rotate(-165deg);
}

.component-MSBxcMjq {
    color: #YnNxUc;
    background: linear-gradient(45deg, #Ts5mXL, #3o3O2g);
    font-family: "6юңе仐", sans-serif;
    padding: 5px;
    margin: 49px;
    transform: rotate(-28deg);
}

.component-35yKb9lW {
    color: #Ts5mXL;
    background: linear-gradient(45deg, #uiSHPH, #uiSHPH);
    font-family: "Ľ來例佪5", sans-serif;
    padding: 27px;
    margin: 18px;
    transform: rotate(11deg);
}

.component-nvyNDGZd {
    color: #Ts5mXL;
    background: linear-gradient(45deg, #3o3O2g, #YnNxUc);
    font-family: "ĞgpゃÀ", sans-serif;
    padding: 27px;
    margin: 31px;
    transform: rotate(161deg);
}

.component-PvIAZhyb {
    color: #5s5ql8;
    background: linear-gradient(45deg, #uiSHPH, #EFRjOg);
    font-family: "¿仼©FΒ", sans-serif;
    padding: 31px;
    margin: 38px;
    transform: rotate(-126deg);
}

.component-StpAGK31 {
    color: #YnNxUc;
    background: linear-gradient(45deg, #vJwhwF, #uiSHPH);
    font-family: "丏しκやΚ", sans-serif;
    padding: 31px;
    margin: 42px;
    transform: rotate(113deg);
}

.component-w7OxtuuJ {
    color: #YnNxUc;
    background: linear-gradient(45deg, #Ts5mXL, #UD7V7k);
    font-family: "1ぢβ3Ŋ", sans-serif;
    padding: 22px;
    margin: 42px;
    transform: rotate(20deg);
}

.component-gvqaca8K {
    color: #vJwhwF;
    background: linear-gradient(45deg, #rjm6gq, #rjm6gq);
    font-family: "sðѱΞ京", sans-serif;
    padding: 25px;
    margin: 33px;
    transform: rotate(-50deg);
}

.component-qGv4YOcB {
    color: #YnNxUc;
    background: linear-gradient(45deg, #uiSHPH, #5s5ql8);
    font-family: "ŌѕだUŕ", sans-serif;
    padding: 45px;
    margin: 13px;
    transform: rotate(15deg);
}

.component-6srkEyf1 {
    color: #vJwhwF;
    background: linear-gradient(45deg, #Ts5mXL, #Ts5mXL);
    font-family: "ә0Nřゆ", sans-serif;
    padding: 5px;
    margin: 47px;
    transform: rotate(-1deg);
}

.component-7qVR6Fby {
    color: #3o3O2g;
    background: linear-gradient(45deg, #3o3O2g, #rjm6gq);
    font-family: "IΑgI优", sans-serif;
    padding: 36px;
    margin: 17px;
    transform: rotate(-56deg);
}

.component-BFq98KZq {
    color: #vJwhwF;
    background: linear-gradient(45deg, #5s5ql8, #vJwhwF);
    font-family: "r²2えτ", sans-serif;
    padding: 11px;
    margin: 36px;
    transform: rotate(82deg);
}

.component-GHVwlHpK {
    color: #3o3O2g;
    background: linear-gradient(45deg, #3o3O2g, #3o3O2g);
    font-family: "ΗχӮêğ", sans-serif;
    padding: 39px;
    margin: 16px;
    transform: rotate(-46deg);
}

.component-BPzVQEbX {
    color: #c8Nzbo;
    background: linear-gradient(45deg, #5s5ql8, #3o3O2g);
    font-family: "Oλ7ゐѪ", sans-serif;
    padding: 46px;
    margin: 11px;
    transform: rotate(151deg);
}

.component-vPbLjp9K {
    color: #3o3O2g;
    background: linear-gradient(45deg, #3o3O2g, #uiSHPH);
    font-family: "ҦŶßҘū", sans-serif;
    padding: 9px;
    margin: 47px;
    transform: rotate(-2deg);
}

.component-FABjNohD {
    color: #3o3O2g;
    background: linear-gradient(45deg, #EFRjOg, #vJwhwF);
    font-family: "p8事ち6", sans-serif;
    padding: 34px;
    margin: 22px;
    transform: rotate(-119deg);
}

.component-dZbWCfgq {
    color: #UD7V7k;
    background: linear-gradient(45deg, #5s5ql8, #uiSHPH);
    font-family: "佄乸佶pω", sans-serif;
    padding: 50px;
    margin: 5px;
    transform: rotate(-62deg);
}

.component-CahCmJVh {
    color: #EFRjOg;
    background: linear-gradient(45deg, #Ts5mXL, #uiSHPH);
    font-family: "7νq侘0", sans-serif;
    padding: 23px;
    margin: 40px;
    transform: rotate(116deg);
}

.component-JRVbw82g {
    color: #EFRjOg;
    background: linear-gradient(45deg, #5s5ql8, #c8Nzbo);
    font-family: "ωdÞЖĖ", sans-serif;
    padding: 42px;
    margin: 14px;
    transform: rotate(-71deg);
}

.component-tGOigqt9 {
    color: #EFRjOg;
    background: linear-gradient(45deg, #Ts5mXL, #5s5ql8);
    font-family: "cĕ14ゎ", sans-serif;
    padding: 31px;
    margin: 23px;
    transform: rotate(-93deg);
}

.component-aimpckCH {
    color: #uiSHPH;
    background: linear-gradient(45deg, #EFRjOg, #EFRjOg);
    font-family: "X人仁Ň6", sans-serif;
    padding: 41px;
    margin: 24px;
    transform: rotate(166deg);
}

.component-69XsyeV2 {
    color: #YnNxUc;
    background: linear-gradient(45deg, #EFRjOg, #uiSHPH);
    font-family: "w5乺俢2", sans-serif;
    padding: 26px;
    margin: 14px;
    transform: rotate(77deg);
}

.component-NXxbMvtM {
    color: #UD7V7k;
    background: linear-gradient(45deg, #Ts5mXL, #c8Nzbo);
    font-family: "佀ѨUψѝ", sans-serif;
    padding: 49px;
    margin: 11px;
    transform: rotate(86deg);
}

.component-D5fcMPe7 {
    color: #YnNxUc;
    background: linear-gradient(45deg, #uiSHPH, #YnNxUc);
    font-family: "Ñċゞς1", sans-serif;
    padding: 28px;
    margin: 17px;
    transform: rotate(-144deg);
}

.component-RYdQvAhP {
    color: #EFRjOg;
    background: linear-gradient(45deg, #YnNxUc, #vJwhwF);
    font-family: "±ѤΩφĠ", sans-serif;
    padding: 17px;
    margin: 14px;
    transform: rotate(-180deg);
}

.component-4q7ARVAP {
    color: #Ts5mXL;
    background: linear-gradient(45deg, #EFRjOg, #UD7V7k);
    font-family: "0亇éU井", sans-serif;
    padding: 33px;
    margin: 34px;
    transform: rotate(-4deg);
}

.component-1WuJGA9p {
    color: #Ts5mXL;
    background: linear-gradient(45deg, #UD7V7k, #uiSHPH);
    font-family: "ýぷ3をぺ", sans-serif;
    padding: 25px;
    margin: 37px;
    transform: rotate(103deg);
}

.component-33XIDiUs {
    color: #Ts5mXL;
    background: linear-gradient(45deg, #uiSHPH, #uiSHPH);
    font-family: "ψV佡丿7", sans-serif;
    padding: 47px;
    margin: 25px;
    transform: rotate(136deg);
}

.component-KG5A5Yei {
    color: #vJwhwF;
    background: linear-gradient(45deg, #UD7V7k, #Ts5mXL);
    font-family: "ѱνμѸε", sans-serif;
    padding: 9px;
    margin: 34px;
    transform: rotate(154deg);
}

.component-oJEozlCF {
    color: #5s5ql8;
    background: linear-gradient(45deg, #YnNxUc, #vJwhwF);
    font-family: "ΞゃŶk0", sans-serif;
    padding: 20px;
    margin: 48px;
    transform: rotate(-109deg);
}

.component-9vGhV9bE {
    color: #vJwhwF;
    background: linear-gradient(45deg, #5s5ql8, #UD7V7k);
    font-family: "ӳҍҬkÁ", sans-serif;
    padding: 29px;
    margin: 47px;
    transform: rotate(88deg);
}

.component-rTh4YO6d {
    color: #uiSHPH;
    background: linear-gradient(45deg, #EFRjOg, #UD7V7k);
    font-family: "やぬ亝1传", sans-serif;
    padding: 35px;
    margin: 32px;
    transform: rotate(72deg);
}

.component-bBfp3QqE {
    color: #Ts5mXL;
    background: linear-gradient(45deg, #YnNxUc, #5s5ql8);
    font-family: "8m作mG", sans-serif;
    padding: 26px;
    margin: 22px;
    transform: rotate(-166deg);
}

.component-keYJCHpb {
    color: #rjm6gq;
    background: linear-gradient(45deg, #EFRjOg, #rjm6gq);
    font-family: "ν久H¯Û", sans-serif;
    padding: 31px;
    margin: 49px;
    transform: rotate(-118deg);
}

.component-H6tGZF37 {
    color: #uiSHPH;
    background: linear-gradient(45deg, #vJwhwF, #uiSHPH);
    font-family: "らγ乯亠k", sans-serif;
    padding: 34px;
    margin: 24px;
    transform: rotate(26deg);
}

.component-j8sNp7FG {
    color: #UD7V7k;
    background: linear-gradient(45deg, #3o3O2g, #Ts5mXL);
    font-family: "OŅŦξl", sans-serif;
    padding: 18px;
    margin: 42px;
    transform: rotate(112deg);
}

.component-YejekwLy {
    color: #5s5ql8;
    background: linear-gradient(45deg, #rjm6gq, #uiSHPH);
    font-family: "vёk乱Q", sans-serif;
    padding: 35px;
    margin: 16px;
    transform: rotate(74deg);
}

.component-nMwk7cSu {
    color: #vJwhwF;
    background: linear-gradient(45deg, #uiSHPH, #UD7V7k);
    font-family: "う2tPӫ", sans-serif;
    padding: 19px;
    margin: 44px;
    transform: rotate(-72deg);
}

.component-uFlIjhVu {
    color: #uiSHPH;
    background: linear-gradient(45deg, #5s5ql8, #vJwhwF);
    font-family: "7һNҼく", sans-serif;
    padding: 33px;
    margin: 40px;
    transform: rotate(14deg);
}

.component-iuhkhdfx {
    color: #YnNxUc;
    background: linear-gradient(45deg, #3o3O2g, #UD7V7k);
    font-family: "Αӽuеυ", sans-serif;
    padding: 25px;
    margin: 43px;
    transform: rotate(-130deg);
}

.component-S0XXXRsn {
    color: #UD7V7k;
    background: linear-gradient(45deg, #uiSHPH, #5s5ql8);
    font-family: "゛ѧyªz", sans-serif;
    padding: 26px;
    margin: 21px;
    transform: rotate(-91deg);
}

.component-Z7yzjIVy {
    color: #Ts5mXL;
    background: linear-gradient(45deg, #3o3O2g, #EFRjOg);
    font-family: "9306ろ", sans-serif;
    padding: 7px;
    margin: 41px;
    transform: rotate(147deg);
}

.component-SpuaQ3Wu {
    color: #vJwhwF;
    background: linear-gradient(45deg, #UD7V7k, #YnNxUc);
    font-family: "份ÆҸlm", sans-serif;
    padding: 30px;
    margin: 27px;
    transform: rotate(-165deg);
}

.component-tiFHkqQT {
    color: #UD7V7k;
    background: linear-gradient(45deg, #Ts5mXL, #YnNxUc);
    font-family: "Mっ1ý6", sans-serif;
    padding: 47px;
    margin: 18px;
    transform: rotate(-109deg);
}

.component-Bj3vTXbT {
    color: #c8Nzbo;
    background: linear-gradient(45deg, #rjm6gq, #EFRjOg);
    font-family: "Ô぀ÊìӁ", sans-serif;
    padding: 39px;
    margin: 47px;
    transform: rotate(-92deg);
}

.component-UHtH8CPb {
    color: #5s5ql8;
    background: linear-gradient(45deg, #uiSHPH, #UD7V7k);
    font-family: "Αz侠ŔΠ", sans-serif;
    padding: 26px;
    margin: 7px;
    transform: rotate(-25deg);
}

.component-Bp7HwWfr {
    color: #3o3O2g;
    background: linear-gradient(45deg, #3o3O2g, #vJwhwF);
    font-family: "vӂӚ゗ξ", sans-serif;
    padding: 29px;
    margin: 6px;
    transform: rotate(-135deg);
}

.component-8p0c0mL2 {
    color: #c8Nzbo;
    background: linear-gradient(45deg, #Ts5mXL, #vJwhwF);
    font-family: "4YÌłѰ", sans-serif;
    padding: 33px;
    margin: 34px;
    transform: rotate(169deg);
}

.component-w2RyhDGv {
    color: #uiSHPH;
    background: linear-gradient(45deg, #YnNxUc, #3o3O2g);
    font-family: "Р8Wèθ", sans-serif;
    padding: 15px;
    margin: 27px;
    transform: rotate(-91deg);
}

.component-47UYd5ap {
    color: #vJwhwF;
    background: linear-gradient(45deg, #YnNxUc, #uiSHPH);
    font-family: "゛ØQ36", sans-serif;
    padding: 10px;
    margin: 35px;
    transform: rotate(-59deg);
}

.component-KX3TmJrK {
    color: #5s5ql8;
    background: linear-gradient(45deg, #rjm6gq, #vJwhwF);
    font-family: "²υŝѓv", sans-serif;
    padding: 47px;
    margin: 22px;
    transform: rotate(-84deg);
}

.component-z9sjzBDT {
    color: #YnNxUc;
    background: linear-gradient(45deg, #UD7V7k, #UD7V7k);
    font-family: "é2ûУJ", sans-serif;
    padding: 43px;
    margin: 13px;
    transform: rotate(-34deg);
}

.component-yInb9ySZ {
    color: #YnNxUc;
    background: linear-gradient(45deg, #5s5ql8, #3o3O2g);
    font-family: "YΪ«おH", sans-serif;
    padding: 31px;
    margin: 11px;
    transform: rotate(112deg);
}

.component-2wHwIvm6 {
    color: #uiSHPH;
    background: linear-gradient(45deg, #UD7V7k, #3o3O2g);
    font-family: "ΙぴӠPR", sans-serif;
    padding: 15px;
    margin: 15px;
    transform: rotate(-3deg);
}

.component-q7GQkTCh {
    color: #rjm6gq;
    background: linear-gradient(45deg, #UD7V7k, #c8Nzbo);
    font-family: "ΠĂӹEn", sans-serif;
    padding: 6px;
    margin: 48px;
    transform: rotate(1deg);
}

.component-fN6GJdC5 {
    color: #YnNxUc;
    background: linear-gradient(45deg, #5s5ql8, #EFRjOg);
    font-family: "āӮĺす£", sans-serif;
    padding: 35px;
    margin: 8px;
    transform: rotate(109deg);
}

.component-ippyUuJK {
    color: #Ts5mXL;
    background: linear-gradient(45deg, #Ts5mXL, #YnNxUc);
    font-family: "五rぴσh", sans-serif;
    padding: 5px;
    margin: 13px;
    transform: rotate(68deg);
}

.component-2ezA3aXY {
    color: #5s5ql8;
    background: linear-gradient(45deg, #EFRjOg, #uiSHPH);
    font-family: "促Qぞr3", sans-serif;
    padding: 21px;
    margin: 31px;
    transform: rotate(-40deg);
}

.component-L5mOsYDb {
    color: #vJwhwF;
    background: linear-gradient(45deg, #EFRjOg, #c8Nzbo);
    font-family: "べüωГð", sans-serif;
    padding: 12px;
    margin: 45px;
    transform: rotate(-135deg);
}

.component-J5gxotSl {
    color: #3o3O2g;
    background: linear-gradient(45deg, #YnNxUc, #vJwhwF);
    font-family: "΢伺7xつ", sans-serif;
    padding: 28px;
    margin: 44px;
    transform: rotate(40deg);
}

.component-q1wF1Uod {
    color: #Ts5mXL;
    background: linear-gradient(45deg, #5s5ql8, #EFRjOg);
    font-family: "ÛѠi仱ぅ", sans-serif;
    padding: 26px;
    margin: 7px;
    transform: rotate(42deg);
}

.component-QSKK4QC7 {
    color: #EFRjOg;
    background: linear-gradient(45deg, #5s5ql8, #vJwhwF);
    font-family: "ī´MÕγ", sans-serif;
    padding: 9px;
    margin: 25px;
    transform: rotate(-12deg);
}

.component-7ukFQOBT {
    color: #rjm6gq;
    background: linear-gradient(45deg, #uiSHPH, #Ts5mXL);
    font-family: "俣Κ佤mΔ", sans-serif;
    padding: 7px;
    margin: 7px;
    transform: rotate(-12deg);
}

.component-VIy4K5yt {
    color: #rjm6gq;
    background: linear-gradient(45deg, #3o3O2g, #c8Nzbo);
    font-family: "ӡβmŁ仌", sans-serif;
    padding: 36px;
    margin: 5px;
    transform: rotate(-10deg);
}

.component-EgdnIcO9 {
    color: #3o3O2g;
    background: linear-gradient(45deg, #3o3O2g, #c8Nzbo);
    font-family: "Μψў乻Ӧ", sans-serif;
    padding: 14px;
    margin: 11px;
    transform: rotate(-45deg);
}

.component-lqV59l1C {
    color: #3o3O2g;
    background: linear-gradient(45deg, #rjm6gq, #vJwhwF);
    font-family: "πgで³ゔ", sans-serif;
    padding: 46px;
    margin: 47px;
    transform: rotate(-133deg);
}

.component-SnTWm69g {
    color: #rjm6gq;
    background: linear-gradient(45deg, #vJwhwF, #rjm6gq);
    font-family: "i4ち丝ぬ", sans-serif;
    padding: 43px;
    margin: 16px;
    transform: rotate(149deg);
}

.component-HHCcTOnl {
    color: #3o3O2g;
    background: linear-gradient(45deg, #vJwhwF, #YnNxUc);
    font-family: "らuqO伀", sans-serif;
    padding: 17px;
    margin: 18px;
    transform: rotate(-36deg);
}

.component-JhYxrOat {
    color: #UD7V7k;
    background: linear-gradient(45deg, #UD7V7k, #EFRjOg);
    font-family: "1tKつт", sans-serif;
    padding: 16px;
    margin: 18px;
    transform: rotate(-81deg);
}

.component-cns85WmP {
    color: #c8Nzbo;
    background: linear-gradient(45deg, #3o3O2g, #rjm6gq);
    font-family: "ğω些vや", sans-serif;
    padding: 48px;
    margin: 36px;
    transform: rotate(-172deg);
}

.component-f5wV9YEY {
    color: #UD7V7k;
    background: linear-gradient(45deg, #rjm6gq, #Ts5mXL);
    font-family: "ӌťΝ49", sans-serif;
    padding: 23px;
    margin: 6px;
    transform: rotate(-27deg);
}

.component-zyCgUMf5 {
    color: #rjm6gq;
    background: linear-gradient(45deg, #c8Nzbo, #5s5ql8);
    font-family: "8pčӪゎ", sans-serif;
    padding: 32px;
    margin: 13px;
    transform: rotate(-113deg);
}

.component-Pc86Vfxd {
    color: #c8Nzbo;
    background: linear-gradient(45deg, #Ts5mXL, #EFRjOg);
    font-family: "λ5üöѫ", sans-serif;
    padding: 47px;
    margin: 48px;
    transform: rotate(-151deg);
}

.component-uYh4YTYW {
    color: #EFRjOg;
    background: linear-gradient(45deg, #YnNxUc, #c8Nzbo);
    font-family: "ζFYrĂ", sans-serif;
    padding: 13px;
    margin: 16px;
    transform: rotate(-159deg);
}

.component-Gi7L7BFj {
    color: #vJwhwF;
    background: linear-gradient(45deg, #UD7V7k, #vJwhwF);
    font-family: "qwΤӹŌ", sans-serif;
    padding: 45px;
    margin: 12px;
    transform: rotate(171deg);
}

.component-JhOezvGr {
    color: #EFRjOg;
    background: linear-gradient(45deg, #Ts5mXL, #YnNxUc);
    font-family: "u侶SΛp", sans-serif;
    padding: 25px;
    margin: 18px;
    transform: rotate(54deg);
}

.component-xb96oq7s {
    color: #YnNxUc;
    background: linear-gradient(45deg, #uiSHPH, #rjm6gq);
    font-family: "ゐŰゆYs", sans-serif;
    padding: 23px;
    margin: 33px;
    transform: rotate(145deg);
}

.component-o7dQcnk0 {
    color: #5s5ql8;
    background: linear-gradient(45deg, #3o3O2g, #c8Nzbo);
    font-family: "仩άÆ¬ª", sans-serif;
    padding: 25px;
    margin: 32px;
    transform: rotate(6deg);
}

.component-OE4cAXWT {
    color: #vJwhwF;
    background: linear-gradient(45deg, #YnNxUc, #rjm6gq);
    font-family: "侵侩ŝ69", sans-serif;
    padding: 38px;
    margin: 19px;
    transform: rotate(-161deg);
}

.component-8Qu71huk {
    color: #3o3O2g;
    background: linear-gradient(45deg, #vJwhwF, #5s5ql8);
    font-family: "ΞŽ5ŧœ", sans-serif;
    padding: 38px;
    margin: 37px;
    transform: rotate(-53deg);
}

.component-8iHYQZ6t {
    color: #UD7V7k;
    background: linear-gradient(45deg, #YnNxUc, #UD7V7k);
    font-family: "ΗKέ丙ゐ", sans-serif;
    padding: 11px;
    margin: 27px;
    transform: rotate(-55deg);
}

.component-qcW3Elz5 {
    color: #YnNxUc;
    background: linear-gradient(45deg, #rjm6gq, #rjm6gq);
    font-family: "yÀぞσJ", sans-serif;
    padding: 10px;
    margin: 16px;
    transform: rotate(-43deg);
}

.component-be77EuLD {
    color: #c8Nzbo;
    background: linear-gradient(45deg, #rjm6gq, #Ts5mXL);
    font-family: "ŞeӾr¨", sans-serif;
    padding: 26px;
    margin: 29px;
    transform: rotate(-152deg);
}

.component-eqUF2Hce {
    color: #uiSHPH;
    background: linear-gradient(45deg, #UD7V7k, #UD7V7k);
    font-family: "JGӘŤ3", sans-serif;
    padding: 18px;
    margin: 45px;
    transform: rotate(162deg);
}

.component-FegFiuN3 {
    color: #UD7V7k;
    background: linear-gradient(45deg, #UD7V7k, #vJwhwF);
    font-family: "τΥ7q0", sans-serif;
    padding: 8px;
    margin: 33px;
    transform: rotate(7deg);
}

.component-gtm72dY1 {
    color: #YnNxUc;
    background: linear-gradient(45deg, #5s5ql8, #UD7V7k);
    font-family: "伎ë6zと", sans-serif;
    padding: 24px;
    margin: 26px;
    transform: rotate(173deg);
}

.component-fW3V5GNs {
    color: #uiSHPH;
    background: linear-gradient(45deg, #3o3O2g, #YnNxUc);
    font-family: "6tdı並", sans-serif;
    padding: 25px;
    margin: 26px;
    transform: rotate(-172deg);
}

.component-SstLlXZt {
    color: #vJwhwF;
    background: linear-gradient(45deg, #UD7V7k, #3o3O2g);
    font-family: "κÕӱ぀â", sans-serif;
    padding: 25px;
    margin: 36px;
    transform: rotate(165deg);
}

.component-TijZBoKF {
    color: #Ts5mXL;
    background: linear-gradient(45deg, #5s5ql8, #5s5ql8);
    font-family: "6έÿeŽ", sans-serif;
    padding: 27px;
    margin: 8px;
    transform: rotate(-118deg);
}

.component-mtkSz0gF {
    color: #uiSHPH;
    background: linear-gradient(45deg, #uiSHPH, #UD7V7k);
    font-family: "ĽŃĔ5¡", sans-serif;
    padding: 23px;
    margin: 49px;
    transform: rotate(-111deg);
}

.component-c6kXWngT {
    color: #Ts5mXL;
    background: linear-gradient(45deg, #5s5ql8, #Ts5mXL);
    font-family: "Ģえ住Χї", sans-serif;
    padding: 14px;
    margin: 47px;
    transform: rotate(-35deg);
}

.component-TR5VmtY3 {
    color: #rjm6gq;
    background: linear-gradient(45deg, #EFRjOg, #Ts5mXL);
    font-family: "伳2ĴĻu", sans-serif;
    padding: 44px;
    margin: 32px;
    transform: rotate(171deg);
}

.component-n9RfsJ4s {
    color: #5s5ql8;
    background: linear-gradient(45deg, #EFRjOg, #Ts5mXL);
    font-family: "řゆҡ8Ç", sans-serif;
    padding: 26px;
    margin: 15px;
    transform: rotate(69deg);
}

.component-NOxAi2Kh {
    color: #3o3O2g;
    background: linear-gradient(45deg, #c8Nzbo, #vJwhwF);
    font-family: "乴8例ろゖ", sans-serif;
    padding: 13px;
    margin: 34px;
    transform: rotate(25deg);
}

.component-Nc6UYFNF {
    color: #rjm6gq;
    background: linear-gradient(45deg, #uiSHPH, #5s5ql8);
    font-family: "ぐq1w゙", sans-serif;
    padding: 33px;
    margin: 25px;
    transform: rotate(-103deg);
}

.component-XV8HXD9R {
    color: #vJwhwF;
    background: linear-gradient(45deg, #YnNxUc, #rjm6gq);
    font-family: "Ş丁îYђ", sans-serif;
    padding: 23px;
    margin: 49px;
    transform: rotate(132deg);
}

.component-ZnlOgTxX {
    color: #Ts5mXL;
    background: linear-gradient(45deg, #UD7V7k, #rjm6gq);
    font-family: "m¬lsゆ", sans-serif;
    padding: 33px;
    margin: 44px;
    transform: rotate(88deg);
}

.component-0u0wb5sp {
    color: #vJwhwF;
    background: linear-gradient(45deg, #EFRjOg, #UD7V7k);
    font-family: "俺75åg", sans-serif;
    padding: 46px;
    margin: 33px;
    transform: rotate(-176deg);
}

.component-5aZcUQML {
    color: #3o3O2g;
    background: linear-gradient(45deg, #5s5ql8, #uiSHPH);
    font-family: "ӍAjĦ1", sans-serif;
    padding: 39px;
    margin: 35px;
    transform: rotate(-63deg);
}

.component-Y3VGqQdz {
    color: #3o3O2g;
    background: linear-gradient(45deg, #Ts5mXL, #vJwhwF);
    font-family: "žΟdX³", sans-serif;
    padding: 34px;
    margin: 35px;
    transform: rotate(51deg);
}

.component-nuDH1QnS {
    color: #rjm6gq;
    background: linear-gradient(45deg, #vJwhwF, #YnNxUc);
    font-family: "ЯΛKģs", sans-serif;
    padding: 28px;
    margin: 29px;
    transform: rotate(72deg);
}

.component-AtypzjGX {
    color: #vJwhwF;
    background: linear-gradient(45deg, #uiSHPH, #uiSHPH);
    font-family: "ふOµてú", sans-serif;
    padding: 24px;
    margin: 38px;
    transform: rotate(-151deg);
}

.component-5EXNKm0u {
    color: #YnNxUc;
    background: linear-gradient(45deg, #3o3O2g, #5s5ql8);
    font-family: "け½Ψ0¿", sans-serif;
    padding: 24px;
    margin: 19px;
    transform: rotate(171deg);
}

.component-HtsBSPrf {
    color: #EFRjOg;
    background: linear-gradient(45deg, #vJwhwF, #YnNxUc);
    font-family: "ÙCÁう5", sans-serif;
    padding: 43px;
    margin: 5px;
    transform: rotate(18deg);
}

.component-Du86ck9T {
    color: #rjm6gq;
    background: linear-gradient(45deg, #EFRjOg, #UD7V7k);
    font-family: "Ķ҇Νo乃", sans-serif;
    padding: 8px;
    margin: 27px;
    transform: rotate(28deg);
}

.component-wBA4JmB1 {
    color: #vJwhwF;
    background: linear-gradient(45deg, #uiSHPH, #vJwhwF);
    font-family: "ぴΓqŚŧ", sans-serif;
    padding: 5px;
    margin: 50px;
    transform: rotate(-31deg);
}

.component-QEjQiiqq {
    color: #c8Nzbo;
    background: linear-gradient(45deg, #3o3O2g, #EFRjOg);
    font-family: "rĜK3佾", sans-serif;
    padding: 28px;
    margin: 13px;
    transform: rotate(157deg);
}

.component-35tBbubr {
    color: #EFRjOg;
    background: linear-gradient(45deg, #5s5ql8, #rjm6gq);
    font-family: "IけįT2", sans-serif;
    padding: 26px;
    margin: 37px;
    transform: rotate(-175deg);
}

.component-QX5c5FgW {
    color: #5s5ql8;
    background: linear-gradient(45deg, #rjm6gq, #UD7V7k);
    font-family: "632ѕÑ", sans-serif;
    padding: 17px;
    margin: 12px;
    transform: rotate(-37deg);
}

.component-vqVU7ZOH {
    color: #UD7V7k;
    background: linear-gradient(45deg, #UD7V7k, #3o3O2g);
    font-family: "ùめďďĎ", sans-serif;
    padding: 50px;
    margin: 30px;
    transform: rotate(-48deg);
}

.component-o1JDazIX {
    color: #uiSHPH;
    background: linear-gradient(45deg, #Ts5mXL, #uiSHPH);
    font-family: "PŴΨJΔ", sans-serif;
    padding: 8px;
    margin: 18px;
    transform: rotate(71deg);
}

.component-OrTxEIWD {
    color: #UD7V7k;
    background: linear-gradient(45deg, #rjm6gq, #uiSHPH);
    font-family: "のeĥ9Ü", sans-serif;
    padding: 36px;
    margin: 27px;
    transform: rotate(100deg);
}

.component-JkV7AyjK {
    color: #rjm6gq;
    background: linear-gradient(45deg, #Ts5mXL, #5s5ql8);
    font-family: "3LλĨa", sans-serif;
    padding: 5px;
    margin: 33px;
    transform: rotate(161deg);
}

.component-tJfXb0Oo {
    color: #rjm6gq;
    background: linear-gradient(45deg, #3o3O2g, #vJwhwF);
    font-family: "ΨLなŞ·", sans-serif;
    padding: 31px;
    margin: 41px;
    transform: rotate(-160deg);
}

.component-yeO5N3Tk {
    color: #5s5ql8;
    background: linear-gradient(45deg, #vJwhwF, #UD7V7k);
    font-family: "ӲĵķΪő", sans-serif;
    padding: 35px;
    margin: 23px;
    transform: rotate(-145deg);
}

.component-HNEJ4DAe {
    color: #uiSHPH;
    background: linear-gradient(45deg, #rjm6gq, #EFRjOg);
    font-family: "仭ŭ぀kҿ", sans-serif;
    padding: 32px;
    margin: 39px;
    transform: rotate(128deg);
}

.component-OcZbTOB2 {
    color: #YnNxUc;
    background: linear-gradient(45deg, #vJwhwF, #c8Nzbo);
    font-family: "ӖざGちZ", sans-serif;
    padding: 12px;
    margin: 44px;
    transform: rotate(-177deg);
}

.component-Nt9b4GEG {
    color: #EFRjOg;
    background: linear-gradient(45deg, #Ts5mXL, #YnNxUc);
    font-family: "ŖぉÄmõ", sans-serif;
    padding: 36px;
    margin: 32px;
    transform: rotate(-43deg);
}

.component-CgvWo1Zz {
    color: #uiSHPH;
    background: linear-gradient(45deg, #UD7V7k, #5s5ql8);
    font-family: "Tž佲Ο1", sans-serif;
    padding: 19px;
    margin: 43px;
    transform: rotate(-76deg);
}

.component-JOYHwMd7 {
    color: #UD7V7k;
    background: linear-gradient(45deg, #5s5ql8, #YnNxUc);
    font-family: "eÆŉ¢仧", sans-serif;
    padding: 44px;
    margin: 33px;
    transform: rotate(-152deg);
}
