.component-hBJudB9x {
    color: #e4BTDx;
    background: linear-gradient(45deg, #e4BTDx, #ZVA1RP);
    font-family: "ÐΕӴnふ", sans-serif;
    padding: 6px;
    margin: 25px;
    transform: rotate(108deg);
}

.component-xU7HrnZv {
    color: #JhbkTE;
    background: linear-gradient(45deg, #e4BTDx, #cEFfiW);
    font-family: "2Ѐάėν", sans-serif;
    padding: 15px;
    margin: 26px;
    transform: rotate(4deg);
}

.component-lpvkSTNA {
    color: #ZVA1RP;
    background: linear-gradient(45deg, #e4BTDx, #JhbkTE);
    font-family: "ΚÁ乶P«", sans-serif;
    padding: 9px;
    margin: 50px;
    transform: rotate(148deg);
}

.component-vS6wQKCA {
    color: #Nwl8YH;
    background: linear-gradient(45deg, #JhbkTE, #Nwl8YH);
    font-family: "Δį1HJ", sans-serif;
    padding: 5px;
    margin: 49px;
    transform: rotate(157deg);
}

.component-aPOTu6Cs {
    color: #j1fVPH;
    background: linear-gradient(45deg, #cEFfiW, #j1fVPH);
    font-family: "DJεわn", sans-serif;
    padding: 38px;
    margin: 27px;
    transform: rotate(39deg);
}

.component-CTvSjtKg {
    color: #cEFfiW;
    background: linear-gradient(45deg, #j1fVPH, #JhbkTE);
    font-family: "cdίWυ", sans-serif;
    padding: 9px;
    margin: 8px;
    transform: rotate(-3deg);
}

.component-rwQ0HIlH {
    color: #e4BTDx;
    background: linear-gradient(45deg, #9HC1Dt, #L1yn0I);
    font-family: "亲KѐӢŽ", sans-serif;
    padding: 15px;
    margin: 27px;
    transform: rotate(141deg);
}

.component-oZ8Shfhq {
    color: #j1fVPH;
    background: linear-gradient(45deg, #L1yn0I, #Nwl8YH);
    font-family: "ō0œňF", sans-serif;
    padding: 29px;
    margin: 20px;
    transform: rotate(-172deg);
}

.component-LVADHS4Y {
    color: #ZVA1RP;
    background: linear-gradient(45deg, #9HC1Dt, #JhbkTE);
    font-family: "U0乱ふΑ", sans-serif;
    padding: 29px;
    margin: 47px;
    transform: rotate(42deg);
}

.component-0qjX1Reu {
    color: #ZVA1RP;
    background: linear-gradient(45deg, #ZVA1RP, #L1yn0I);
    font-family: "Пp¾侦¦", sans-serif;
    padding: 13px;
    margin: 11px;
    transform: rotate(-76deg);
}

.component-kHFDwPXJ {
    color: #JhbkTE;
    background: linear-gradient(45deg, #ZVA1RP, #uUZVDJ);
    font-family: "仵ĹЉaѸ", sans-serif;
    padding: 29px;
    margin: 34px;
    transform: rotate(-118deg);
}

.component-j81Vm4BK {
    color: #Nwl8YH;
    background: linear-gradient(45deg, #cEFfiW, #cEFfiW);
    font-family: "ҡΓΞっI", sans-serif;
    padding: 9px;
    margin: 9px;
    transform: rotate(-86deg);
}

.component-RG5foPyN {
    color: #cEFfiW;
    background: linear-gradient(45deg, #L1yn0I, #9HC1Dt);
    font-family: "乐Оい5G", sans-serif;
    padding: 32px;
    margin: 50px;
    transform: rotate(-84deg);
}

.component-HJLIsZ6u {
    color: #L1yn0I;
    background: linear-gradient(45deg, #XFsMZz, #ZVA1RP);
    font-family: "ªĝkĭ×", sans-serif;
    padding: 20px;
    margin: 15px;
    transform: rotate(-27deg);
}

.component-nSSJvvRo {
    color: #XFsMZz;
    background: linear-gradient(45deg, #cEFfiW, #JhbkTE);
    font-family: "ち们づΡF", sans-serif;
    padding: 28px;
    margin: 21px;
    transform: rotate(-142deg);
}

.component-3k7KdaH9 {
    color: #cEFfiW;
    background: linear-gradient(45deg, #cEFfiW, #uUZVDJ);
    font-family: "mLŵΰえ", sans-serif;
    padding: 35px;
    margin: 32px;
    transform: rotate(83deg);
}

.component-qQeloYkN {
    color: #cEFfiW;
    background: linear-gradient(45deg, #uUZVDJ, #9HC1Dt);
    font-family: "6ѿvQľ", sans-serif;
    padding: 15px;
    margin: 47px;
    transform: rotate(28deg);
}

.component-BQPBYMm1 {
    color: #JhbkTE;
    background: linear-gradient(45deg, #cEFfiW, #ZVA1RP);
    font-family: "ΩFTぽW", sans-serif;
    padding: 38px;
    margin: 32px;
    transform: rotate(-43deg);
}

.component-bc1e44hT {
    color: #cEFfiW;
    background: linear-gradient(45deg, #L1yn0I, #j1fVPH);
    font-family: "佃Ν乹aЛ", sans-serif;
    padding: 31px;
    margin: 27px;
    transform: rotate(98deg);
}

.component-b6vatPeA {
    color: #j1fVPH;
    background: linear-gradient(45deg, #j1fVPH, #j1fVPH);
    font-family: "fŔ҂¥4", sans-serif;
    padding: 38px;
    margin: 18px;
    transform: rotate(-88deg);
}

.component-q44uFz6q {
    color: #L1yn0I;
    background: linear-gradient(45deg, #L1yn0I, #9HC1Dt);
    font-family: "佔亀mλめ", sans-serif;
    padding: 37px;
    margin: 48px;
    transform: rotate(-11deg);
}

.component-OWBbrBis {
    color: #ZVA1RP;
    background: linear-gradient(45deg, #L1yn0I, #Nwl8YH);
    font-family: "Ҙ亣゙Ġ0", sans-serif;
    padding: 43px;
    margin: 8px;
    transform: rotate(-114deg);
}

.component-tlg16Gw5 {
    color: #e4BTDx;
    background: linear-gradient(45deg, #Nwl8YH, #JhbkTE);
    font-family: "ňΗそnま", sans-serif;
    padding: 20px;
    margin: 23px;
    transform: rotate(-53deg);
}

.component-6AzunszB {
    color: #cEFfiW;
    background: linear-gradient(45deg, #ZVA1RP, #Nwl8YH);
    font-family: "ρ΢6´Ѵ", sans-serif;
    padding: 24px;
    margin: 44px;
    transform: rotate(88deg);
}

.component-eyw12lb8 {
    color: #9HC1Dt;
    background: linear-gradient(45deg, #Nwl8YH, #ZVA1RP);
    font-family: "h9ҐほĬ", sans-serif;
    padding: 24px;
    margin: 44px;
    transform: rotate(129deg);
}

.component-TZ8mIfZO {
    color: #L1yn0I;
    background: linear-gradient(45deg, #uUZVDJ, #ZVA1RP);
    font-family: "HүӼò伇", sans-serif;
    padding: 13px;
    margin: 29px;
    transform: rotate(-85deg);
}

.component-ZfdAV0aZ {
    color: #j1fVPH;
    background: linear-gradient(45deg, #e4BTDx, #uUZVDJ);
    font-family: "ӷβΖpΥ", sans-serif;
    padding: 21px;
    margin: 21px;
    transform: rotate(-122deg);
}

.component-iDSDJHMr {
    color: #j1fVPH;
    background: linear-gradient(45deg, #Nwl8YH, #JhbkTE);
    font-family: "Ι侲乑øt", sans-serif;
    padding: 50px;
    margin: 31px;
    transform: rotate(44deg);
}

.component-9uq4H4Cv {
    color: #ZVA1RP;
    background: linear-gradient(45deg, #Nwl8YH, #ZVA1RP);
    font-family: "Η´任ҜΝ", sans-serif;
    padding: 45px;
    margin: 16px;
    transform: rotate(164deg);
}

.component-fysz6JfN {
    color: #9HC1Dt;
    background: linear-gradient(45deg, #j1fVPH, #L1yn0I);
    font-family: "8æќ9ѓ", sans-serif;
    padding: 22px;
    margin: 50px;
    transform: rotate(179deg);
}

.component-L2px4Bg7 {
    color: #JhbkTE;
    background: linear-gradient(45deg, #ZVA1RP, #L1yn0I);
    font-family: "ΰŀ゚Χろ", sans-serif;
    padding: 12px;
    margin: 37px;
    transform: rotate(16deg);
}

.component-cf3K7abZ {
    color: #XFsMZz;
    background: linear-gradient(45deg, #Nwl8YH, #j1fVPH);
    font-family: "ҁ5你ΟҦ", sans-serif;
    padding: 31px;
    margin: 19px;
    transform: rotate(-54deg);
}

.component-dEGf1wUi {
    color: #9HC1Dt;
    background: linear-gradient(45deg, #Nwl8YH, #uUZVDJ);
    font-family: "űEµ9う", sans-serif;
    padding: 49px;
    margin: 34px;
    transform: rotate(-22deg);
}

.component-NBzdjwUB {
    color: #e4BTDx;
    background: linear-gradient(45deg, #9HC1Dt, #uUZVDJ);
    font-family: "ΔΞzM4", sans-serif;
    padding: 46px;
    margin: 46px;
    transform: rotate(-123deg);
}

.component-blfqUISc {
    color: #cEFfiW;
    background: linear-gradient(45deg, #XFsMZz, #9HC1Dt);
    font-family: "EぶдA伧", sans-serif;
    padding: 24px;
    margin: 43px;
    transform: rotate(42deg);
}

.component-dzowSPRu {
    color: #e4BTDx;
    background: linear-gradient(45deg, #JhbkTE, #JhbkTE);
    font-family: "ě乾么5ľ", sans-serif;
    padding: 44px;
    margin: 18px;
    transform: rotate(-16deg);
}

.component-YZ5lWLFk {
    color: #L1yn0I;
    background: linear-gradient(45deg, #ZVA1RP, #9HC1Dt);
    font-family: "ĖΩα7Ψ", sans-serif;
    padding: 19px;
    margin: 15px;
    transform: rotate(54deg);
}

.component-JYv6QGob {
    color: #e4BTDx;
    background: linear-gradient(45deg, #ZVA1RP, #9HC1Dt);
    font-family: "なνΥべ8", sans-serif;
    padding: 36px;
    margin: 20px;
    transform: rotate(-96deg);
}

.component-FjPaA4zI {
    color: #Nwl8YH;
    background: linear-gradient(45deg, #Nwl8YH, #ZVA1RP);
    font-family: "ӱї2YΕ", sans-serif;
    padding: 41px;
    margin: 15px;
    transform: rotate(-28deg);
}

.component-hfBXsDwZ {
    color: #Nwl8YH;
    background: linear-gradient(45deg, #uUZVDJ, #L1yn0I);
    font-family: "²68ӻ゛", sans-serif;
    padding: 37px;
    margin: 7px;
    transform: rotate(72deg);
}

.component-wYUSpAyg {
    color: #ZVA1RP;
    background: linear-gradient(45deg, #L1yn0I, #ZVA1RP);
    font-family: "sEuэ¥", sans-serif;
    padding: 49px;
    margin: 42px;
    transform: rotate(-141deg);
}

.component-EvwNLeCf {
    color: #ZVA1RP;
    background: linear-gradient(45deg, #cEFfiW, #cEFfiW);
    font-family: "34ľΥη", sans-serif;
    padding: 16px;
    margin: 22px;
    transform: rotate(-180deg);
}

.component-pV8sb7C6 {
    color: #uUZVDJ;
    background: linear-gradient(45deg, #XFsMZz, #ZVA1RP);
    font-family: "2ӏろむB", sans-serif;
    padding: 33px;
    margin: 48px;
    transform: rotate(-91deg);
}

.component-r7x8SFcH {
    color: #cEFfiW;
    background: linear-gradient(45deg, #e4BTDx, #e4BTDx);
    font-family: "N併仃2ι", sans-serif;
    padding: 19px;
    margin: 35px;
    transform: rotate(-170deg);
}

.component-dmAvQeLX {
    color: #e4BTDx;
    background: linear-gradient(45deg, #uUZVDJ, #j1fVPH);
    font-family: "I俨QήЀ", sans-serif;
    padding: 8px;
    margin: 42px;
    transform: rotate(5deg);
}

.component-QKJ00Jai {
    color: #L1yn0I;
    background: linear-gradient(45deg, #JhbkTE, #uUZVDJ);
    font-family: "σえdぞs", sans-serif;
    padding: 16px;
    margin: 33px;
    transform: rotate(75deg);
}

.component-n3jxz7wB {
    color: #cEFfiW;
    background: linear-gradient(45deg, #9HC1Dt, #L1yn0I);
    font-family: "ý7L4X", sans-serif;
    padding: 41px;
    margin: 7px;
    transform: rotate(98deg);
}

.component-zQFmAx17 {
    color: #Nwl8YH;
    background: linear-gradient(45deg, #uUZVDJ, #L1yn0I);
    font-family: "×5Ŗ乧6", sans-serif;
    padding: 37px;
    margin: 7px;
    transform: rotate(159deg);
}

.component-0NTc8RJX {
    color: #cEFfiW;
    background: linear-gradient(45deg, #cEFfiW, #XFsMZz);
    font-family: "ØOYゃき", sans-serif;
    padding: 19px;
    margin: 39px;
    transform: rotate(-146deg);
}

.component-alIELZWd {
    color: #cEFfiW;
    background: linear-gradient(45deg, #cEFfiW, #e4BTDx);
    font-family: "佫XôQŜ", sans-serif;
    padding: 40px;
    margin: 5px;
    transform: rotate(164deg);
}

.component-fz9YIxFH {
    color: #9HC1Dt;
    background: linear-gradient(45deg, #XFsMZz, #j1fVPH);
    font-family: "ŏτ休6Ӆ", sans-serif;
    padding: 49px;
    margin: 34px;
    transform: rotate(-32deg);
}

.component-WnWexJ6f {
    color: #L1yn0I;
    background: linear-gradient(45deg, #j1fVPH, #cEFfiW);
    font-family: "0й぀ずあ", sans-serif;
    padding: 6px;
    margin: 19px;
    transform: rotate(-132deg);
}

.component-o1yOax4B {
    color: #XFsMZz;
    background: linear-gradient(45deg, #uUZVDJ, #L1yn0I);
    font-family: "ҔnΧ侲人", sans-serif;
    padding: 43px;
    margin: 5px;
    transform: rotate(-150deg);
}

.component-QASbRm85 {
    color: #JhbkTE;
    background: linear-gradient(45deg, #9HC1Dt, #e4BTDx);
    font-family: "ţĻDQ0", sans-serif;
    padding: 44px;
    margin: 30px;
    transform: rotate(-9deg);
}

.component-rZdxLJoK {
    color: #JhbkTE;
    background: linear-gradient(45deg, #9HC1Dt, #JhbkTE);
    font-family: "ӭūMӏ9", sans-serif;
    padding: 49px;
    margin: 49px;
    transform: rotate(146deg);
}

.component-p02kZjiP {
    color: #e4BTDx;
    background: linear-gradient(45deg, #cEFfiW, #JhbkTE);
    font-family: "²өѦDK", sans-serif;
    padding: 38px;
    margin: 9px;
    transform: rotate(128deg);
}

.component-H6r3xhDs {
    color: #9HC1Dt;
    background: linear-gradient(45deg, #JhbkTE, #L1yn0I);
    font-family: "Ңc么èѥ", sans-serif;
    padding: 28px;
    margin: 50px;
    transform: rotate(-116deg);
}

.component-4qCqaKWi {
    color: #e4BTDx;
    background: linear-gradient(45deg, #JhbkTE, #XFsMZz);
    font-family: "ĊθĿy7", sans-serif;
    padding: 29px;
    margin: 17px;
    transform: rotate(180deg);
}

.component-mmrZzLAQ {
    color: #L1yn0I;
    background: linear-gradient(45deg, #ZVA1RP, #XFsMZz);
    font-family: "ε俐юςQ", sans-serif;
    padding: 50px;
    margin: 30px;
    transform: rotate(140deg);
}

.component-xLsS7PWy {
    color: #e4BTDx;
    background: linear-gradient(45deg, #e4BTDx, #j1fVPH);
    font-family: "ҤせÝe亢", sans-serif;
    padding: 40px;
    margin: 36px;
    transform: rotate(67deg);
}

.component-3njSVTyw {
    color: #ZVA1RP;
    background: linear-gradient(45deg, #uUZVDJ, #uUZVDJ);
    font-family: "价āMMñ", sans-serif;
    padding: 12px;
    margin: 11px;
    transform: rotate(-172deg);
}

.component-OfbgaQFQ {
    color: #uUZVDJ;
    background: linear-gradient(45deg, #9HC1Dt, #uUZVDJ);
    font-family: "üӏM伽る", sans-serif;
    padding: 32px;
    margin: 21px;
    transform: rotate(125deg);
}

.component-JuUOV14F {
    color: #cEFfiW;
    background: linear-gradient(45deg, #Nwl8YH, #XFsMZz);
    font-family: "Ũ゚b丘ś", sans-serif;
    padding: 28px;
    margin: 22px;
    transform: rotate(15deg);
}

.component-uuqsEB3H {
    color: #JhbkTE;
    background: linear-gradient(45deg, #JhbkTE, #XFsMZz);
    font-family: "bҺoο4", sans-serif;
    padding: 7px;
    margin: 19px;
    transform: rotate(-32deg);
}

.component-C0mlWjMu {
    color: #Nwl8YH;
    background: linear-gradient(45deg, #j1fVPH, #JhbkTE);
    font-family: "SІeよŧ", sans-serif;
    padding: 44px;
    margin: 11px;
    transform: rotate(-151deg);
}

.component-umvLmOA7 {
    color: #j1fVPH;
    background: linear-gradient(45deg, #e4BTDx, #uUZVDJ);
    font-family: "Ť亶亅4す", sans-serif;
    padding: 36px;
    margin: 15px;
    transform: rotate(-175deg);
}

.component-g7ZcZek7 {
    color: #e4BTDx;
    background: linear-gradient(45deg, #L1yn0I, #9HC1Dt);
    font-family: "佾Šúnき", sans-serif;
    padding: 6px;
    margin: 17px;
    transform: rotate(-84deg);
}

.component-iqN7vZt9 {
    color: #e4BTDx;
    background: linear-gradient(45deg, #JhbkTE, #Nwl8YH);
    font-family: "ѦEunє", sans-serif;
    padding: 11px;
    margin: 16px;
    transform: rotate(39deg);
}

.component-vStXNfGF {
    color: #JhbkTE;
    background: linear-gradient(45deg, #uUZVDJ, #j1fVPH);
    font-family: "すè3ίW", sans-serif;
    padding: 11px;
    margin: 43px;
    transform: rotate(-160deg);
}

.component-Y8O9lfAK {
    color: #ZVA1RP;
    background: linear-gradient(45deg, #cEFfiW, #ZVA1RP);
    font-family: "ѰiKそ6", sans-serif;
    padding: 5px;
    margin: 42px;
    transform: rotate(116deg);
}

.component-CiSj5Y7N {
    color: #e4BTDx;
    background: linear-gradient(45deg, #j1fVPH, #e4BTDx);
    font-family: "×ďVVろ", sans-serif;
    padding: 40px;
    margin: 27px;
    transform: rotate(66deg);
}

.component-oG0NhWQQ {
    color: #JhbkTE;
    background: linear-gradient(45deg, #cEFfiW, #e4BTDx);
    font-family: "もゎΚΛl", sans-serif;
    padding: 9px;
    margin: 9px;
    transform: rotate(168deg);
}

.component-Q69MNsPT {
    color: #uUZVDJ;
    background: linear-gradient(45deg, #cEFfiW, #Nwl8YH);
    font-family: "ちĎu5λ", sans-serif;
    padding: 29px;
    margin: 34px;
    transform: rotate(126deg);
}

.component-dqXbacHh {
    color: #cEFfiW;
    background: linear-gradient(45deg, #XFsMZz, #Nwl8YH);
    font-family: "Ŗ予Ä¸Ι", sans-serif;
    padding: 12px;
    margin: 45px;
    transform: rotate(151deg);
}

.component-vARPqY06 {
    color: #L1yn0I;
    background: linear-gradient(45deg, #j1fVPH, #JhbkTE);
    font-family: "7こ7Ir", sans-serif;
    padding: 34px;
    margin: 48px;
    transform: rotate(4deg);
}

.component-S9kbGx6H {
    color: #cEFfiW;
    background: linear-gradient(45deg, #Nwl8YH, #uUZVDJ);
    font-family: "ず乫҇ŷh", sans-serif;
    padding: 24px;
    margin: 40px;
    transform: rotate(-92deg);
}

.component-MCnIw0tV {
    color: #ZVA1RP;
    background: linear-gradient(45deg, #e4BTDx, #9HC1Dt);
    font-family: "ьŽŜ会ぱ", sans-serif;
    padding: 44px;
    margin: 45px;
    transform: rotate(-12deg);
}

.component-5isrKlO2 {
    color: #XFsMZz;
    background: linear-gradient(45deg, #j1fVPH, #cEFfiW);
    font-family: "ӪÏ©侲佒", sans-serif;
    padding: 27px;
    margin: 28px;
    transform: rotate(130deg);
}

.component-QHaPtJHH {
    color: #Nwl8YH;
    background: linear-gradient(45deg, #JhbkTE, #XFsMZz);
    font-family: "ŞnФ侗ね", sans-serif;
    padding: 36px;
    margin: 47px;
    transform: rotate(10deg);
}

.component-USZLL51k {
    color: #ZVA1RP;
    background: linear-gradient(45deg, #e4BTDx, #JhbkTE);
    font-family: "ŪXはe9", sans-serif;
    padding: 39px;
    margin: 34px;
    transform: rotate(175deg);
}

.component-IvPOtKC0 {
    color: #JhbkTE;
    background: linear-gradient(45deg, #cEFfiW, #XFsMZz);
    font-family: "3だĶZC", sans-serif;
    padding: 14px;
    margin: 42px;
    transform: rotate(141deg);
}

.component-ZiWXlqu0 {
    color: #e4BTDx;
    background: linear-gradient(45deg, #e4BTDx, #L1yn0I);
    font-family: "ŭJΚŤΠ", sans-serif;
    padding: 43px;
    margin: 42px;
    transform: rotate(79deg);
}

.component-mMz5TiAI {
    color: #uUZVDJ;
    background: linear-gradient(45deg, #Nwl8YH, #cEFfiW);
    font-family: "ŗxĚďε", sans-serif;
    padding: 9px;
    margin: 17px;
    transform: rotate(80deg);
}

.component-HbdDLfOT {
    color: #JhbkTE;
    background: linear-gradient(45deg, #j1fVPH, #uUZVDJ);
    font-family: "nξぅ゚ぼ", sans-serif;
    padding: 35px;
    margin: 27px;
    transform: rotate(110deg);
}

.component-W40irPfW {
    color: #Nwl8YH;
    background: linear-gradient(45deg, #Nwl8YH, #ZVA1RP);
    font-family: "゛oŉBî", sans-serif;
    padding: 40px;
    margin: 7px;
    transform: rotate(170deg);
}

.component-dZ5xL5Oq {
    color: #9HC1Dt;
    background: linear-gradient(45deg, #Nwl8YH, #Nwl8YH);
    font-family: "Mむ俥6l", sans-serif;
    padding: 49px;
    margin: 22px;
    transform: rotate(-129deg);
}

.component-ZCZah5mR {
    color: #Nwl8YH;
    background: linear-gradient(45deg, #XFsMZz, #j1fVPH);
    font-family: "CČぼҸҊ", sans-serif;
    padding: 10px;
    margin: 50px;
    transform: rotate(-114deg);
}

.component-MYD8C6oj {
    color: #JhbkTE;
    background: linear-gradient(45deg, #Nwl8YH, #L1yn0I);
    font-family: "JÁӛ¨5", sans-serif;
    padding: 10px;
    margin: 45px;
    transform: rotate(-167deg);
}

.component-FEFglkPL {
    color: #cEFfiW;
    background: linear-gradient(45deg, #Nwl8YH, #e4BTDx);
    font-family: "佮ïτήú", sans-serif;
    padding: 32px;
    margin: 7px;
    transform: rotate(92deg);
}

.component-uI8MgnRv {
    color: #XFsMZz;
    background: linear-gradient(45deg, #ZVA1RP, #ZVA1RP);
    font-family: "ōӿ0øV", sans-serif;
    padding: 36px;
    margin: 5px;
    transform: rotate(152deg);
}

.component-B4oRhFCp {
    color: #JhbkTE;
    background: linear-gradient(45deg, #cEFfiW, #Nwl8YH);
    font-family: "ÏぉĪĸ伞", sans-serif;
    padding: 36px;
    margin: 19px;
    transform: rotate(-95deg);
}

.component-j1lkanbu {
    color: #j1fVPH;
    background: linear-gradient(45deg, #j1fVPH, #XFsMZz);
    font-family: "6ĈNżD", sans-serif;
    padding: 44px;
    margin: 41px;
    transform: rotate(-176deg);
}

.component-kcglni2U {
    color: #ZVA1RP;
    background: linear-gradient(45deg, #9HC1Dt, #XFsMZz);
    font-family: "WõљΠř", sans-serif;
    padding: 43px;
    margin: 14px;
    transform: rotate(0deg);
}

.component-3LRBBDJI {
    color: #e4BTDx;
    background: linear-gradient(45deg, #cEFfiW, #ZVA1RP);
    font-family: "εMŷ1ĉ", sans-serif;
    padding: 27px;
    margin: 6px;
    transform: rotate(38deg);
}

.component-frcL54dE {
    color: #9HC1Dt;
    background: linear-gradient(45deg, #XFsMZz, #XFsMZz);
    font-family: "亅JĐάね", sans-serif;
    padding: 15px;
    margin: 33px;
    transform: rotate(-69deg);
}

.component-BKP98MZH {
    color: #JhbkTE;
    background: linear-gradient(45deg, #JhbkTE, #uUZVDJ);
    font-family: "Рぎ0Læ", sans-serif;
    padding: 49px;
    margin: 24px;
    transform: rotate(-149deg);
}

.component-eae3hFW5 {
    color: #e4BTDx;
    background: linear-gradient(45deg, #L1yn0I, #uUZVDJ);
    font-family: "eê±5あ", sans-serif;
    padding: 11px;
    margin: 20px;
    transform: rotate(-151deg);
}

.component-AL6PmWOG {
    color: #XFsMZz;
    background: linear-gradient(45deg, #XFsMZz, #Nwl8YH);
    font-family: "H®Ų°9", sans-serif;
    padding: 7px;
    margin: 13px;
    transform: rotate(-155deg);
}

.component-8ErXlDxe {
    color: #cEFfiW;
    background: linear-gradient(45deg, #cEFfiW, #JhbkTE);
    font-family: "į伝PҼß", sans-serif;
    padding: 38px;
    margin: 25px;
    transform: rotate(13deg);
}

.component-gSZN80zn {
    color: #cEFfiW;
    background: linear-gradient(45deg, #j1fVPH, #e4BTDx);
    font-family: "ѰŋщI1", sans-serif;
    padding: 27px;
    margin: 17px;
    transform: rotate(-92deg);
}

.component-AAQyhjHU {
    color: #Nwl8YH;
    background: linear-gradient(45deg, #L1yn0I, #ZVA1RP);
    font-family: "Μ6俹Lñ", sans-serif;
    padding: 34px;
    margin: 41px;
    transform: rotate(-50deg);
}

.component-icQmVFGK {
    color: #9HC1Dt;
    background: linear-gradient(45deg, #JhbkTE, #9HC1Dt);
    font-family: "eхЭdΣ", sans-serif;
    padding: 35px;
    margin: 48px;
    transform: rotate(170deg);
}

.component-YAijEWon {
    color: #uUZVDJ;
    background: linear-gradient(45deg, #XFsMZz, #Nwl8YH);
    font-family: "ŏ佷ЇhĆ", sans-serif;
    padding: 25px;
    margin: 7px;
    transform: rotate(-24deg);
}

.component-G98tEMZv {
    color: #Nwl8YH;
    background: linear-gradient(45deg, #uUZVDJ, #cEFfiW);
    font-family: "q7Ęήҁ", sans-serif;
    padding: 17px;
    margin: 17px;
    transform: rotate(29deg);
}

.component-Xlfr2QC5 {
    color: #cEFfiW;
    background: linear-gradient(45deg, #XFsMZz, #L1yn0I);
    font-family: "仙jDų7", sans-serif;
    padding: 16px;
    margin: 43px;
    transform: rotate(-161deg);
}

.component-dOd17PLh {
    color: #e4BTDx;
    background: linear-gradient(45deg, #ZVA1RP, #9HC1Dt);
    font-family: "1ゞQђ丂", sans-serif;
    padding: 23px;
    margin: 27px;
    transform: rotate(160deg);
}

.component-EZoXras1 {
    color: #9HC1Dt;
    background: linear-gradient(45deg, #e4BTDx, #9HC1Dt);
    font-family: "VさÛD8", sans-serif;
    padding: 38px;
    margin: 27px;
    transform: rotate(-15deg);
}

.component-KWclj6tj {
    color: #JhbkTE;
    background: linear-gradient(45deg, #JhbkTE, #Nwl8YH);
    font-family: "つqAӷӁ", sans-serif;
    padding: 41px;
    margin: 8px;
    transform: rotate(60deg);
}

.component-OXpgGbY8 {
    color: #9HC1Dt;
    background: linear-gradient(45deg, #JhbkTE, #uUZVDJ);
    font-family: "Ğι5fέ", sans-serif;
    padding: 13px;
    margin: 31px;
    transform: rotate(153deg);
}

.component-Ao7Twwmt {
    color: #9HC1Dt;
    background: linear-gradient(45deg, #9HC1Dt, #L1yn0I);
    font-family: "ĽÙ五xŻ", sans-serif;
    padding: 35px;
    margin: 39px;
    transform: rotate(24deg);
}

.component-6vZrftgU {
    color: #L1yn0I;
    background: linear-gradient(45deg, #uUZVDJ, #cEFfiW);
    font-family: "佝lЛĸ¶", sans-serif;
    padding: 42px;
    margin: 48px;
    transform: rotate(140deg);
}

.component-rfy6yopN {
    color: #ZVA1RP;
    background: linear-gradient(45deg, #XFsMZz, #JhbkTE);
    font-family: "PÐゕあӺ", sans-serif;
    padding: 11px;
    margin: 39px;
    transform: rotate(83deg);
}

.component-5Xp0DsXG {
    color: #Nwl8YH;
    background: linear-gradient(45deg, #Nwl8YH, #ZVA1RP);
    font-family: "vず1さE", sans-serif;
    padding: 46px;
    margin: 34px;
    transform: rotate(78deg);
}

.component-rzeumNbq {
    color: #ZVA1RP;
    background: linear-gradient(45deg, #9HC1Dt, #ZVA1RP);
    font-family: "åiRH°", sans-serif;
    padding: 35px;
    margin: 37px;
    transform: rotate(-36deg);
}

.component-6vdjY0se {
    color: #j1fVPH;
    background: linear-gradient(45deg, #JhbkTE, #L1yn0I);
    font-family: "什85QΣ", sans-serif;
    padding: 21px;
    margin: 5px;
    transform: rotate(122deg);
}

.component-02AjdJww {
    color: #e4BTDx;
    background: linear-gradient(45deg, #ZVA1RP, #Nwl8YH);
    font-family: "ê3ӠY传", sans-serif;
    padding: 44px;
    margin: 39px;
    transform: rotate(-151deg);
}

.component-3vAARGEI {
    color: #XFsMZz;
    background: linear-gradient(45deg, #Nwl8YH, #JhbkTE);
    font-family: "ųをҠҶв", sans-serif;
    padding: 10px;
    margin: 17px;
    transform: rotate(152deg);
}

.component-5w3KbKoj {
    color: #uUZVDJ;
    background: linear-gradient(45deg, #uUZVDJ, #XFsMZz);
    font-family: "ffffε", sans-serif;
    padding: 50px;
    margin: 17px;
    transform: rotate(179deg);
}

.component-hSBC8Rvl {
    color: #e4BTDx;
    background: linear-gradient(45deg, #e4BTDx, #9HC1Dt);
    font-family: "čだぺŒҭ", sans-serif;
    padding: 43px;
    margin: 37px;
    transform: rotate(-59deg);
}

.component-eb2XwnJs {
    color: #ZVA1RP;
    background: linear-gradient(45deg, #9HC1Dt, #ZVA1RP);
    font-family: "ρ仲νq3", sans-serif;
    padding: 8px;
    margin: 14px;
    transform: rotate(-41deg);
}

.component-BHV9DDmi {
    color: #9HC1Dt;
    background: linear-gradient(45deg, #XFsMZz, #uUZVDJ);
    font-family: "ŋq97ӝ", sans-serif;
    padding: 30px;
    margin: 30px;
    transform: rotate(150deg);
}

.component-Ke49J9SH {
    color: #XFsMZz;
    background: linear-gradient(45deg, #XFsMZz, #cEFfiW);
    font-family: "Ð乛ѥ4i", sans-serif;
    padding: 30px;
    margin: 44px;
    transform: rotate(-50deg);
}

.component-E3QDVltY {
    color: #JhbkTE;
    background: linear-gradient(45deg, #L1yn0I, #JhbkTE);
    font-family: "ĨへЅDT", sans-serif;
    padding: 41px;
    margin: 8px;
    transform: rotate(92deg);
}

.component-2SkHartb {
    color: #e4BTDx;
    background: linear-gradient(45deg, #j1fVPH, #L1yn0I);
    font-family: "佸MぎŊ0", sans-serif;
    padding: 15px;
    margin: 8px;
    transform: rotate(166deg);
}

.component-0GBBpWAE {
    color: #XFsMZz;
    background: linear-gradient(45deg, #Nwl8YH, #e4BTDx);
    font-family: "ÄねÐzQ", sans-serif;
    padding: 11px;
    margin: 47px;
    transform: rotate(-77deg);
}

.component-XLTkQddt {
    color: #uUZVDJ;
    background: linear-gradient(45deg, #9HC1Dt, #JhbkTE);
    font-family: "ΚQYろ俊", sans-serif;
    padding: 23px;
    margin: 8px;
    transform: rotate(7deg);
}

.component-5w4b1K9a {
    color: #JhbkTE;
    background: linear-gradient(45deg, #9HC1Dt, #ZVA1RP);
    font-family: "vΫ9ΥΗ", sans-serif;
    padding: 44px;
    margin: 40px;
    transform: rotate(-163deg);
}

.component-1hFdoGh0 {
    color: #Nwl8YH;
    background: linear-gradient(45deg, #Nwl8YH, #Nwl8YH);
    font-family: "たïěBӣ", sans-serif;
    padding: 35px;
    margin: 31px;
    transform: rotate(21deg);
}

.component-C3VCN8Po {
    color: #uUZVDJ;
    background: linear-gradient(45deg, #uUZVDJ, #cEFfiW);
    font-family: "WÀ7Ãů", sans-serif;
    padding: 34px;
    margin: 8px;
    transform: rotate(-167deg);
}

.component-FDX96gD5 {
    color: #e4BTDx;
    background: linear-gradient(45deg, #cEFfiW, #L1yn0I);
    font-family: "ŀΚĮ5Ӓ", sans-serif;
    padding: 34px;
    margin: 49px;
    transform: rotate(150deg);
}

.component-rHcpD7oF {
    color: #e4BTDx;
    background: linear-gradient(45deg, #L1yn0I, #j1fVPH);
    font-family: "ҢKéļæ", sans-serif;
    padding: 17px;
    margin: 50px;
    transform: rotate(-144deg);
}

.component-OmD1RXNS {
    color: #L1yn0I;
    background: linear-gradient(45deg, #uUZVDJ, #cEFfiW);
    font-family: "þĪҬрχ", sans-serif;
    padding: 42px;
    margin: 30px;
    transform: rotate(-4deg);
}

.component-rYGZbupl {
    color: #JhbkTE;
    background: linear-gradient(45deg, #L1yn0I, #9HC1Dt);
    font-family: "5ŝlň亙", sans-serif;
    padding: 11px;
    margin: 10px;
    transform: rotate(121deg);
}

.component-TXhRhuTG {
    color: #9HC1Dt;
    background: linear-gradient(45deg, #Nwl8YH, #ZVA1RP);
    font-family: "OuぐÍҼ", sans-serif;
    padding: 40px;
    margin: 16px;
    transform: rotate(12deg);
}

.component-hio4Yz29 {
    color: #9HC1Dt;
    background: linear-gradient(45deg, #uUZVDJ, #cEFfiW);
    font-family: "1ӷゝқ9", sans-serif;
    padding: 36px;
    margin: 27px;
    transform: rotate(-73deg);
}

.component-xRXXNAZs {
    color: #XFsMZz;
    background: linear-gradient(45deg, #e4BTDx, #uUZVDJ);
    font-family: "げÛ佴Hっ", sans-serif;
    padding: 38px;
    margin: 12px;
    transform: rotate(124deg);
}

.component-9qWk6r3n {
    color: #9HC1Dt;
    background: linear-gradient(45deg, #JhbkTE, #uUZVDJ);
    font-family: "すŃ¨Ő゙", sans-serif;
    padding: 36px;
    margin: 30px;
    transform: rotate(107deg);
}

.component-sQgMIRou {
    color: #cEFfiW;
    background: linear-gradient(45deg, #cEFfiW, #cEFfiW);
    font-family: "0jι仢Ĥ", sans-serif;
    padding: 5px;
    margin: 21px;
    transform: rotate(-125deg);
}

.component-J0DN8y4H {
    color: #XFsMZz;
    background: linear-gradient(45deg, #cEFfiW, #XFsMZz);
    font-family: "85Ä9Æ", sans-serif;
    padding: 28px;
    margin: 21px;
    transform: rotate(-126deg);
}

.component-3T804Y2z {
    color: #JhbkTE;
    background: linear-gradient(45deg, #L1yn0I, #9HC1Dt);
    font-family: "ĂZMしD", sans-serif;
    padding: 35px;
    margin: 9px;
    transform: rotate(136deg);
}
