.component-gWKubqIP {
    color: #ID9KPL;
    background: linear-gradient(45deg, #upggmb, #iODuJp);
    font-family: "゗ҀӬ1゙", sans-serif;
    padding: 8px;
    margin: 28px;
    transform: rotate(-134deg);
}

.component-Dv9jtAaw {
    color: #xntA0g;
    background: linear-gradient(45deg, #dCIHzX, #rxlEDq);
    font-family: "5q゛Ҫ侲", sans-serif;
    padding: 45px;
    margin: 10px;
    transform: rotate(21deg);
}

.component-asKo2ert {
    color: #CF5iNA;
    background: linear-gradient(45deg, #ID9KPL, #CF5iNA);
    font-family: "ŭás乊Χ", sans-serif;
    padding: 39px;
    margin: 20px;
    transform: rotate(-15deg);
}

.component-ZtrfToYf {
    color: #G4z33O;
    background: linear-gradient(45deg, #xntA0g, #rxlEDq);
    font-family: "MūÅκ云", sans-serif;
    padding: 14px;
    margin: 25px;
    transform: rotate(43deg);
}

.component-1vzjzGbo {
    color: #CF5iNA;
    background: linear-gradient(45deg, #xntA0g, #VtHGuG);
    font-family: "υmUӔi", sans-serif;
    padding: 8px;
    margin: 30px;
    transform: rotate(147deg);
}

.component-eGENQ6FA {
    color: #iODuJp;
    background: linear-gradient(45deg, #bLoRa9, #iODuJp);
    font-family: "гsU來2", sans-serif;
    padding: 17px;
    margin: 20px;
    transform: rotate(-107deg);
}

.component-uLz7WBMU {
    color: #dCIHzX;
    background: linear-gradient(45deg, #ID9KPL, #ID9KPL);
    font-family: "2ΫѭΞċ", sans-serif;
    padding: 18px;
    margin: 42px;
    transform: rotate(137deg);
}

.component-EnpYt2TC {
    color: #xntA0g;
    background: linear-gradient(45deg, #ID9KPL, #CF5iNA);
    font-family: "єι5ČД", sans-serif;
    padding: 15px;
    margin: 5px;
    transform: rotate(-47deg);
}

.component-LHB55I4z {
    color: #VtHGuG;
    background: linear-gradient(45deg, #VtHGuG, #CF5iNA);
    font-family: "Ҏ侲νťく", sans-serif;
    padding: 34px;
    margin: 21px;
    transform: rotate(-145deg);
}

.component-VVgjCgs4 {
    color: #rxlEDq;
    background: linear-gradient(45deg, #xntA0g, #rxlEDq);
    font-family: "ұc×35", sans-serif;
    padding: 45px;
    margin: 29px;
    transform: rotate(-49deg);
}

.component-0vAiHX0a {
    color: #xntA0g;
    background: linear-gradient(45deg, #xntA0g, #iODuJp);
    font-family: "CたdӤþ", sans-serif;
    padding: 42px;
    margin: 38px;
    transform: rotate(-33deg);
}

.component-lFtLoowe {
    color: #upggmb;
    background: linear-gradient(45deg, #upggmb, #upggmb);
    font-family: "ふ0Îīg", sans-serif;
    padding: 5px;
    margin: 18px;
    transform: rotate(-122deg);
}

.component-6zgCQ0Sq {
    color: #CF5iNA;
    background: linear-gradient(45deg, #bLoRa9, #rxlEDq);
    font-family: "­か俜げ侕", sans-serif;
    padding: 12px;
    margin: 5px;
    transform: rotate(-9deg);
}

.component-cUw3hsP0 {
    color: #dCIHzX;
    background: linear-gradient(45deg, #ID9KPL, #xntA0g);
    font-family: "Λh76ӎ", sans-serif;
    padding: 24px;
    margin: 33px;
    transform: rotate(120deg);
}

.component-lcT1HpKl {
    color: #iODuJp;
    background: linear-gradient(45deg, #VtHGuG, #upggmb);
    font-family: "ºoäҨe", sans-serif;
    padding: 38px;
    margin: 34px;
    transform: rotate(-80deg);
}

.component-rF9pW5KS {
    color: #rxlEDq;
    background: linear-gradient(45deg, #G4z33O, #iODuJp);
    font-family: "うӏӷgち", sans-serif;
    padding: 19px;
    margin: 5px;
    transform: rotate(-18deg);
}

.component-FaPQAOZB {
    color: #VtHGuG;
    background: linear-gradient(45deg, #CF5iNA, #ID9KPL);
    font-family: "gb1χô", sans-serif;
    padding: 11px;
    margin: 25px;
    transform: rotate(109deg);
}

.component-MIdGxCbf {
    color: #rxlEDq;
    background: linear-gradient(45deg, #VtHGuG, #dCIHzX);
    font-family: "Κ§UτÓ", sans-serif;
    padding: 6px;
    margin: 38px;
    transform: rotate(25deg);
}

.component-JMhVKSQI {
    color: #VtHGuG;
    background: linear-gradient(45deg, #CF5iNA, #rxlEDq);
    font-family: "ゃYО4ґ", sans-serif;
    padding: 33px;
    margin: 7px;
    transform: rotate(112deg);
}

.component-uifhwiQ0 {
    color: #xntA0g;
    background: linear-gradient(45deg, #bLoRa9, #ID9KPL);
    font-family: "ざぃ¯ŚΚ", sans-serif;
    padding: 19px;
    margin: 35px;
    transform: rotate(-152deg);
}

.component-4mqAijcI {
    color: #iODuJp;
    background: linear-gradient(45deg, #CF5iNA, #xntA0g);
    font-family: "ŜΦ俆Tĕ", sans-serif;
    padding: 47px;
    margin: 29px;
    transform: rotate(-104deg);
}

.component-ZHdxK8pM {
    color: #upggmb;
    background: linear-gradient(45deg, #iODuJp, #xntA0g);
    font-family: "伓1µηŐ", sans-serif;
    padding: 15px;
    margin: 40px;
    transform: rotate(143deg);
}

.component-KLVsxAgH {
    color: #iODuJp;
    background: linear-gradient(45deg, #bLoRa9, #xntA0g);
    font-family: "©ĂゎΡば", sans-serif;
    padding: 13px;
    margin: 30px;
    transform: rotate(119deg);
}

.component-wq1kDGl3 {
    color: #dCIHzX;
    background: linear-gradient(45deg, #xntA0g, #iODuJp);
    font-family: "º84侮付", sans-serif;
    padding: 43px;
    margin: 13px;
    transform: rotate(65deg);
}

.component-mFhKnynL {
    color: #xntA0g;
    background: linear-gradient(45deg, #VtHGuG, #iODuJp);
    font-family: "ŵΙvĈţ", sans-serif;
    padding: 40px;
    margin: 5px;
    transform: rotate(171deg);
}

.component-9qPSECrW {
    color: #ID9KPL;
    background: linear-gradient(45deg, #dCIHzX, #rxlEDq);
    font-family: "Ĳυªžf", sans-serif;
    padding: 9px;
    margin: 35px;
    transform: rotate(156deg);
}

.component-cnBXZdWL {
    color: #G4z33O;
    background: linear-gradient(45deg, #CF5iNA, #iODuJp);
    font-family: "ΤSα份w", sans-serif;
    padding: 7px;
    margin: 40px;
    transform: rotate(-65deg);
}

.component-unN6MEgz {
    color: #CF5iNA;
    background: linear-gradient(45deg, #G4z33O, #ID9KPL);
    font-family: "66ぜV©", sans-serif;
    padding: 37px;
    margin: 30px;
    transform: rotate(13deg);
}

.component-ewLn17o8 {
    color: #CF5iNA;
    background: linear-gradient(45deg, #rxlEDq, #dCIHzX);
    font-family: "5υ5Y9", sans-serif;
    padding: 8px;
    margin: 36px;
    transform: rotate(137deg);
}

.component-Bhns2W70 {
    color: #ID9KPL;
    background: linear-gradient(45deg, #G4z33O, #CF5iNA);
    font-family: "ΩѾ6ћď", sans-serif;
    padding: 49px;
    margin: 45px;
    transform: rotate(91deg);
}

.component-iUgEXuLI {
    color: #xntA0g;
    background: linear-gradient(45deg, #bLoRa9, #upggmb);
    font-family: "8Ϊぬ5M", sans-serif;
    padding: 20px;
    margin: 14px;
    transform: rotate(148deg);
}

.component-ijiP3BDL {
    color: #VtHGuG;
    background: linear-gradient(45deg, #xntA0g, #CF5iNA);
    font-family: "ŵ5ĬぇI", sans-serif;
    padding: 45px;
    margin: 6px;
    transform: rotate(72deg);
}

.component-pWYK0bhY {
    color: #rxlEDq;
    background: linear-gradient(45deg, #upggmb, #rxlEDq);
    font-family: "iW亄Ӫ乸", sans-serif;
    padding: 23px;
    margin: 21px;
    transform: rotate(163deg);
}

.component-j96fpawX {
    color: #rxlEDq;
    background: linear-gradient(45deg, #CF5iNA, #CF5iNA);
    font-family: "j侙S゛e", sans-serif;
    padding: 47px;
    margin: 9px;
    transform: rotate(-58deg);
}

.component-MW5kVUh9 {
    color: #G4z33O;
    background: linear-gradient(45deg, #bLoRa9, #xntA0g);
    font-family: "bEΝま乂", sans-serif;
    padding: 27px;
    margin: 15px;
    transform: rotate(-34deg);
}

.component-33dfpsk9 {
    color: #iODuJp;
    background: linear-gradient(45deg, #VtHGuG, #iODuJp);
    font-family: "ÖŒÈα1", sans-serif;
    padding: 14px;
    margin: 33px;
    transform: rotate(37deg);
}

.component-Lq8rgNkW {
    color: #dCIHzX;
    background: linear-gradient(45deg, #rxlEDq, #xntA0g);
    font-family: "8Ë÷Eå", sans-serif;
    padding: 23px;
    margin: 16px;
    transform: rotate(31deg);
}

.component-71XW9Qs1 {
    color: #xntA0g;
    background: linear-gradient(45deg, #dCIHzX, #xntA0g);
    font-family: "ѿWnίÖ", sans-serif;
    padding: 10px;
    margin: 46px;
    transform: rotate(-161deg);
}

.component-yUfevqd2 {
    color: #ID9KPL;
    background: linear-gradient(45deg, #iODuJp, #bLoRa9);
    font-family: "5ҬMxä", sans-serif;
    padding: 6px;
    margin: 37px;
    transform: rotate(156deg);
}

.component-biDZoAXW {
    color: #G4z33O;
    background: linear-gradient(45deg, #rxlEDq, #dCIHzX);
    font-family: "wBなѕӳ", sans-serif;
    padding: 28px;
    margin: 29px;
    transform: rotate(83deg);
}

.component-H6fkhnSs {
    color: #VtHGuG;
    background: linear-gradient(45deg, #CF5iNA, #iODuJp);
    font-family: "7γuK伯", sans-serif;
    padding: 12px;
    margin: 7px;
    transform: rotate(-98deg);
}

.component-maNUtX2a {
    color: #CF5iNA;
    background: linear-gradient(45deg, #iODuJp, #iODuJp);
    font-family: "GElΤÿ", sans-serif;
    padding: 32px;
    margin: 29px;
    transform: rotate(30deg);
}

.component-lknPNZgY {
    color: #VtHGuG;
    background: linear-gradient(45deg, #bLoRa9, #rxlEDq);
    font-family: "NΩÄşf", sans-serif;
    padding: 13px;
    margin: 6px;
    transform: rotate(66deg);
}

.component-vFIkZJKF {
    color: #iODuJp;
    background: linear-gradient(45deg, #upggmb, #G4z33O);
    font-family: "をŤ0すĩ", sans-serif;
    padding: 43px;
    margin: 45px;
    transform: rotate(-56deg);
}

.component-hvDdcerC {
    color: #ID9KPL;
    background: linear-gradient(45deg, #iODuJp, #ID9KPL);
    font-family: "伻CëŖ5", sans-serif;
    padding: 41px;
    margin: 49px;
    transform: rotate(137deg);
}

.component-tW54tbLn {
    color: #CF5iNA;
    background: linear-gradient(45deg, #iODuJp, #G4z33O);
    font-family: "Ğぺ818", sans-serif;
    padding: 39px;
    margin: 44px;
    transform: rotate(-158deg);
}

.component-adPUx8hS {
    color: #iODuJp;
    background: linear-gradient(45deg, #iODuJp, #VtHGuG);
    font-family: "ӣΙFゖゕ", sans-serif;
    padding: 40px;
    margin: 14px;
    transform: rotate(-53deg);
}

.component-meUyXFoH {
    color: #VtHGuG;
    background: linear-gradient(45deg, #bLoRa9, #G4z33O);
    font-family: "ÏかĔÁĺ", sans-serif;
    padding: 44px;
    margin: 23px;
    transform: rotate(106deg);
}

.component-c31aUjQe {
    color: #iODuJp;
    background: linear-gradient(45deg, #bLoRa9, #bLoRa9);
    font-family: "げ46óá", sans-serif;
    padding: 50px;
    margin: 36px;
    transform: rotate(80deg);
}

.component-s391KDT7 {
    color: #CF5iNA;
    background: linear-gradient(45deg, #upggmb, #rxlEDq);
    font-family: "¢8Ψιο", sans-serif;
    padding: 25px;
    margin: 49px;
    transform: rotate(-134deg);
}

.component-usf6Xgos {
    color: #iODuJp;
    background: linear-gradient(45deg, #iODuJp, #upggmb);
    font-family: "g8βЫC", sans-serif;
    padding: 8px;
    margin: 25px;
    transform: rotate(10deg);
}

.component-1ThmyOSq {
    color: #VtHGuG;
    background: linear-gradient(45deg, #iODuJp, #upggmb);
    font-family: "щFиkJ", sans-serif;
    padding: 44px;
    margin: 42px;
    transform: rotate(57deg);
}

.component-CEgZwOpj {
    color: #bLoRa9;
    background: linear-gradient(45deg, #rxlEDq, #ID9KPL);
    font-family: "fÜごUx", sans-serif;
    padding: 9px;
    margin: 29px;
    transform: rotate(33deg);
}

.component-RhFt7GrE {
    color: #iODuJp;
    background: linear-gradient(45deg, #ID9KPL, #dCIHzX);
    font-family: "eҗőHゟ", sans-serif;
    padding: 9px;
    margin: 9px;
    transform: rotate(159deg);
}

.component-NzulsBo8 {
    color: #G4z33O;
    background: linear-gradient(45deg, #bLoRa9, #G4z33O);
    font-family: "侳f买ĉŐ", sans-serif;
    padding: 5px;
    margin: 47px;
    transform: rotate(154deg);
}

.component-N3WfhWsl {
    color: #CF5iNA;
    background: linear-gradient(45deg, #G4z33O, #iODuJp);
    font-family: "ΘWひУω", sans-serif;
    padding: 8px;
    margin: 46px;
    transform: rotate(82deg);
}

.component-lKTUjOL5 {
    color: #xntA0g;
    background: linear-gradient(45deg, #CF5iNA, #upggmb);
    font-family: "Ur326", sans-serif;
    padding: 46px;
    margin: 24px;
    transform: rotate(159deg);
}

.component-Jv3HYdFI {
    color: #iODuJp;
    background: linear-gradient(45deg, #dCIHzX, #VtHGuG);
    font-family: "ЮLxŲW", sans-serif;
    padding: 23px;
    margin: 16px;
    transform: rotate(21deg);
}

.component-I2HLLWXb {
    color: #G4z33O;
    background: linear-gradient(45deg, #VtHGuG, #dCIHzX);
    font-family: "9³じ1ι", sans-serif;
    padding: 30px;
    margin: 24px;
    transform: rotate(-36deg);
}

.component-Ppme8w4I {
    color: #rxlEDq;
    background: linear-gradient(45deg, #dCIHzX, #ID9KPL);
    font-family: "О­eŞÈ", sans-serif;
    padding: 12px;
    margin: 37px;
    transform: rotate(-94deg);
}

.component-slVJVQk6 {
    color: #CF5iNA;
    background: linear-gradient(45deg, #xntA0g, #iODuJp);
    font-family: "ΡdҖz5", sans-serif;
    padding: 15px;
    margin: 41px;
    transform: rotate(-22deg);
}

.component-YX2kM2nC {
    color: #CF5iNA;
    background: linear-gradient(45deg, #rxlEDq, #ID9KPL);
    font-family: "Њ0Ňな8", sans-serif;
    padding: 20px;
    margin: 30px;
    transform: rotate(-139deg);
}

.component-eR6xUstZ {
    color: #G4z33O;
    background: linear-gradient(45deg, #bLoRa9, #xntA0g);
    font-family: "K9ťőX", sans-serif;
    padding: 44px;
    margin: 18px;
    transform: rotate(37deg);
}

.component-6KabcPim {
    color: #upggmb;
    background: linear-gradient(45deg, #CF5iNA, #xntA0g);
    font-family: "Ӗ伭ぺざp", sans-serif;
    padding: 44px;
    margin: 30px;
    transform: rotate(-133deg);
}

.component-2Mwd6ekp {
    color: #VtHGuG;
    background: linear-gradient(45deg, #ID9KPL, #xntA0g);
    font-family: "仌π3げή", sans-serif;
    padding: 6px;
    margin: 15px;
    transform: rotate(103deg);
}

.component-CJf3989p {
    color: #CF5iNA;
    background: linear-gradient(45deg, #rxlEDq, #rxlEDq);
    font-family: "¶yみ8伆", sans-serif;
    padding: 18px;
    margin: 43px;
    transform: rotate(-54deg);
}

.component-YKOKnSlU {
    color: #xntA0g;
    background: linear-gradient(45deg, #dCIHzX, #CF5iNA);
    font-family: "¸θ8み严", sans-serif;
    padding: 7px;
    margin: 42px;
    transform: rotate(-139deg);
}

.component-Br7Ca3Bl {
    color: #xntA0g;
    background: linear-gradient(45deg, #iODuJp, #iODuJp);
    font-family: "A゗9ΰō", sans-serif;
    padding: 49px;
    margin: 44px;
    transform: rotate(-120deg);
}

.component-Zra06BcS {
    color: #upggmb;
    background: linear-gradient(45deg, #rxlEDq, #ID9KPL);
    font-family: "Ţď佱lã", sans-serif;
    padding: 28px;
    margin: 14px;
    transform: rotate(-128deg);
}

.component-RuORahjS {
    color: #rxlEDq;
    background: linear-gradient(45deg, #rxlEDq, #VtHGuG);
    font-family: "²qlΧ0", sans-serif;
    padding: 12px;
    margin: 26px;
    transform: rotate(-109deg);
}

.component-XXWtIHc8 {
    color: #dCIHzX;
    background: linear-gradient(45deg, #dCIHzX, #ID9KPL);
    font-family: "Ì佒ИΫѩ", sans-serif;
    padding: 18px;
    margin: 34px;
    transform: rotate(-80deg);
}

.component-4nffjURq {
    color: #G4z33O;
    background: linear-gradient(45deg, #dCIHzX, #iODuJp);
    font-family: "俍5は゛α", sans-serif;
    padding: 49px;
    margin: 10px;
    transform: rotate(-77deg);
}

.component-NSbsK63t {
    color: #CF5iNA;
    background: linear-gradient(45deg, #G4z33O, #rxlEDq);
    font-family: "ŝχあ7併", sans-serif;
    padding: 12px;
    margin: 20px;
    transform: rotate(104deg);
}

.component-uWkahx37 {
    color: #iODuJp;
    background: linear-gradient(45deg, #VtHGuG, #VtHGuG);
    font-family: "yҢ1゜9", sans-serif;
    padding: 26px;
    margin: 39px;
    transform: rotate(-33deg);
}

.component-JyP8Tjgw {
    color: #upggmb;
    background: linear-gradient(45deg, #G4z33O, #ID9KPL);
    font-family: "ΜるĒΚҀ", sans-serif;
    padding: 34px;
    margin: 32px;
    transform: rotate(-152deg);
}

.component-LecTJ5Lc {
    color: #rxlEDq;
    background: linear-gradient(45deg, #dCIHzX, #xntA0g);
    font-family: "佾Nΰよま", sans-serif;
    padding: 5px;
    margin: 33px;
    transform: rotate(-21deg);
}

.component-EbjSv3di {
    color: #ID9KPL;
    background: linear-gradient(45deg, #G4z33O, #rxlEDq);
    font-family: "丅ゔPx不", sans-serif;
    padding: 10px;
    margin: 34px;
    transform: rotate(133deg);
}

.component-etuWIE1j {
    color: #xntA0g;
    background: linear-gradient(45deg, #dCIHzX, #rxlEDq);
    font-family: "Ѷ与佭Γ丫", sans-serif;
    padding: 40px;
    margin: 24px;
    transform: rotate(-53deg);
}

.component-Do4WbGGE {
    color: #xntA0g;
    background: linear-gradient(45deg, #dCIHzX, #xntA0g);
    font-family: "w7ΰゑő", sans-serif;
    padding: 15px;
    margin: 16px;
    transform: rotate(-178deg);
}

.component-JX2Rosq3 {
    color: #bLoRa9;
    background: linear-gradient(45deg, #dCIHzX, #ID9KPL);
    font-family: "TゝL4七", sans-serif;
    padding: 43px;
    margin: 24px;
    transform: rotate(22deg);
}

.component-essT0eVz {
    color: #xntA0g;
    background: linear-gradient(45deg, #ID9KPL, #iODuJp);
    font-family: "ҾmŊぷE", sans-serif;
    padding: 26px;
    margin: 5px;
    transform: rotate(28deg);
}

.component-nQBAMn0R {
    color: #bLoRa9;
    background: linear-gradient(45deg, #ID9KPL, #bLoRa9);
    font-family: "ЋĘ4Ģ぀", sans-serif;
    padding: 27px;
    margin: 47px;
    transform: rotate(0deg);
}

.component-gwxfJ52F {
    color: #rxlEDq;
    background: linear-gradient(45deg, #rxlEDq, #bLoRa9);
    font-family: "ΜķLāo", sans-serif;
    padding: 34px;
    margin: 25px;
    transform: rotate(-95deg);
}

.component-wSXMzptp {
    color: #CF5iNA;
    background: linear-gradient(45deg, #VtHGuG, #upggmb);
    font-family: "Π俭ôもで", sans-serif;
    padding: 49px;
    margin: 50px;
    transform: rotate(87deg);
}

.component-QKnCxVY5 {
    color: #ID9KPL;
    background: linear-gradient(45deg, #bLoRa9, #CF5iNA);
    font-family: "ぢぇΜγ伏", sans-serif;
    padding: 41px;
    margin: 7px;
    transform: rotate(122deg);
}

.component-YMwHOS9D {
    color: #xntA0g;
    background: linear-gradient(45deg, #xntA0g, #xntA0g);
    font-family: "ĜҸcΘ0", sans-serif;
    padding: 16px;
    margin: 37px;
    transform: rotate(82deg);
}

.component-PTeMq7As {
    color: #upggmb;
    background: linear-gradient(45deg, #bLoRa9, #G4z33O);
    font-family: "Qわ¢ğq", sans-serif;
    padding: 47px;
    margin: 27px;
    transform: rotate(-22deg);
}

.component-y93mYxVA {
    color: #G4z33O;
    background: linear-gradient(45deg, #bLoRa9, #G4z33O);
    font-family: "C©9Ϋ゘", sans-serif;
    padding: 42px;
    margin: 49px;
    transform: rotate(36deg);
}

.component-PWaIGvbS {
    color: #VtHGuG;
    background: linear-gradient(45deg, #CF5iNA, #VtHGuG);
    font-family: "85Ёいま", sans-serif;
    padding: 15px;
    margin: 37px;
    transform: rotate(82deg);
}

.component-FS9FtibK {
    color: #VtHGuG;
    background: linear-gradient(45deg, #G4z33O, #VtHGuG);
    font-family: "お¦TこD", sans-serif;
    padding: 18px;
    margin: 49px;
    transform: rotate(-44deg);
}

.component-ezGkeg8a {
    color: #xntA0g;
    background: linear-gradient(45deg, #xntA0g, #rxlEDq);
    font-family: "8万iθS", sans-serif;
    padding: 21px;
    margin: 47px;
    transform: rotate(7deg);
}

.component-9fGEcrcW {
    color: #VtHGuG;
    background: linear-gradient(45deg, #iODuJp, #rxlEDq);
    font-family: "1ず³゜c", sans-serif;
    padding: 17px;
    margin: 27px;
    transform: rotate(-108deg);
}

.component-4FtpHFmF {
    color: #rxlEDq;
    background: linear-gradient(45deg, #VtHGuG, #G4z33O);
    font-family: "゜Π仮xW", sans-serif;
    padding: 16px;
    margin: 19px;
    transform: rotate(-139deg);
}

.component-0j0a3n7g {
    color: #dCIHzX;
    background: linear-gradient(45deg, #iODuJp, #ID9KPL);
    font-family: "κうїüѣ", sans-serif;
    padding: 29px;
    margin: 38px;
    transform: rotate(-111deg);
}

.component-0VsWGB1h {
    color: #rxlEDq;
    background: linear-gradient(45deg, #bLoRa9, #ID9KPL);
    font-family: "8ғΟaΝ", sans-serif;
    padding: 48px;
    margin: 7px;
    transform: rotate(63deg);
}

.component-vB9jz7bO {
    color: #rxlEDq;
    background: linear-gradient(45deg, #ID9KPL, #upggmb);
    font-family: "伝ざŠӔ0", sans-serif;
    padding: 14px;
    margin: 45px;
    transform: rotate(169deg);
}

.component-XHV3BxU2 {
    color: #xntA0g;
    background: linear-gradient(45deg, #VtHGuG, #G4z33O);
    font-family: "ѬЯ亟ti", sans-serif;
    padding: 7px;
    margin: 36px;
    transform: rotate(133deg);
}

.component-yOZhEDY5 {
    color: #G4z33O;
    background: linear-gradient(45deg, #G4z33O, #rxlEDq);
    font-family: "řҔ7ςſ", sans-serif;
    padding: 36px;
    margin: 35px;
    transform: rotate(123deg);
}

.component-qL5E9WgT {
    color: #xntA0g;
    background: linear-gradient(45deg, #upggmb, #rxlEDq);
    font-family: "lĭÛѫΔ", sans-serif;
    padding: 35px;
    margin: 30px;
    transform: rotate(-55deg);
}

.component-DsOwh7hb {
    color: #CF5iNA;
    background: linear-gradient(45deg, #G4z33O, #rxlEDq);
    font-family: "Jべeol", sans-serif;
    padding: 23px;
    margin: 39px;
    transform: rotate(-31deg);
}

.component-p7WbRIfL {
    color: #bLoRa9;
    background: linear-gradient(45deg, #iODuJp, #rxlEDq);
    font-family: "Һ゛6Ѫ¶", sans-serif;
    padding: 13px;
    margin: 16px;
    transform: rotate(-108deg);
}

.component-LTeaaa4L {
    color: #CF5iNA;
    background: linear-gradient(45deg, #xntA0g, #G4z33O);
    font-family: "仠щ6V伈", sans-serif;
    padding: 7px;
    margin: 6px;
    transform: rotate(-77deg);
}

.component-hbOithv1 {
    color: #CF5iNA;
    background: linear-gradient(45deg, #bLoRa9, #xntA0g);
    font-family: "їΝi了K", sans-serif;
    padding: 7px;
    margin: 39px;
    transform: rotate(-24deg);
}

.component-NybFbize {
    color: #dCIHzX;
    background: linear-gradient(45deg, #dCIHzX, #bLoRa9);
    font-family: "4h»Ӟは", sans-serif;
    padding: 10px;
    margin: 35px;
    transform: rotate(-127deg);
}

.component-grFSFtuz {
    color: #iODuJp;
    background: linear-gradient(45deg, #ID9KPL, #bLoRa9);
    font-family: "ҲӁĢ¶­", sans-serif;
    padding: 32px;
    margin: 10px;
    transform: rotate(117deg);
}

.component-ox2h3v1Y {
    color: #ID9KPL;
    background: linear-gradient(45deg, #CF5iNA, #ID9KPL);
    font-family: "fまӎÄ3", sans-serif;
    padding: 38px;
    margin: 44px;
    transform: rotate(8deg);
}

.component-Az1fdJzX {
    color: #upggmb;
    background: linear-gradient(45deg, #bLoRa9, #iODuJp);
    font-family: "I亹щY亠", sans-serif;
    padding: 45px;
    margin: 11px;
    transform: rotate(-159deg);
}

.component-fo7udFl0 {
    color: #dCIHzX;
    background: linear-gradient(45deg, #rxlEDq, #G4z33O);
    font-family: "lŴ佚Π侻", sans-serif;
    padding: 18px;
    margin: 6px;
    transform: rotate(-30deg);
}

.component-F8cD6KJr {
    color: #xntA0g;
    background: linear-gradient(45deg, #ID9KPL, #dCIHzX);
    font-family: "EÓ7価ű", sans-serif;
    padding: 42px;
    margin: 42px;
    transform: rotate(56deg);
}

.component-OU0R3jSx {
    color: #CF5iNA;
    background: linear-gradient(45deg, #bLoRa9, #bLoRa9);
    font-family: "òјIJD", sans-serif;
    padding: 17px;
    margin: 22px;
    transform: rotate(37deg);
}

.component-QLcYN084 {
    color: #VtHGuG;
    background: linear-gradient(45deg, #CF5iNA, #xntA0g);
    font-family: "こō8ұ8", sans-serif;
    padding: 26px;
    margin: 47px;
    transform: rotate(19deg);
}

.component-NnrGmJzb {
    color: #upggmb;
    background: linear-gradient(45deg, #bLoRa9, #ID9KPL);
    font-family: "じ1åΒg", sans-serif;
    padding: 20px;
    margin: 28px;
    transform: rotate(53deg);
}

.component-m1fWORTx {
    color: #upggmb;
    background: linear-gradient(45deg, #VtHGuG, #ID9KPL);
    font-family: "gR1dÕ", sans-serif;
    padding: 32px;
    margin: 44px;
    transform: rotate(123deg);
}

.component-0yrGeyy6 {
    color: #ID9KPL;
    background: linear-gradient(45deg, #dCIHzX, #ID9KPL);
    font-family: "ρLŜ九ぺ", sans-serif;
    padding: 6px;
    margin: 15px;
    transform: rotate(-40deg);
}

.component-quD8LXV8 {
    color: #bLoRa9;
    background: linear-gradient(45deg, #CF5iNA, #G4z33O);
    font-family: "5んふΖμ", sans-serif;
    padding: 18px;
    margin: 13px;
    transform: rotate(-156deg);
}

.component-UERcXOeQ {
    color: #xntA0g;
    background: linear-gradient(45deg, #CF5iNA, #bLoRa9);
    font-family: "ӜЏxぱみ", sans-serif;
    padding: 17px;
    margin: 45px;
    transform: rotate(171deg);
}

.component-M4XJQcfr {
    color: #rxlEDq;
    background: linear-gradient(45deg, #rxlEDq, #VtHGuG);
    font-family: "1Zìせí", sans-serif;
    padding: 36px;
    margin: 29px;
    transform: rotate(-85deg);
}

.component-NvyHPdmy {
    color: #bLoRa9;
    background: linear-gradient(45deg, #xntA0g, #CF5iNA);
    font-family: "乙πoÊt", sans-serif;
    padding: 44px;
    margin: 26px;
    transform: rotate(72deg);
}

.component-rKqtNBx6 {
    color: #VtHGuG;
    background: linear-gradient(45deg, #rxlEDq, #CF5iNA);
    font-family: "ďうѷАず", sans-serif;
    padding: 41px;
    margin: 5px;
    transform: rotate(-97deg);
}

.component-BwOs7mai {
    color: #CF5iNA;
    background: linear-gradient(45deg, #ID9KPL, #dCIHzX);
    font-family: "Wīu9ゅ", sans-serif;
    padding: 23px;
    margin: 7px;
    transform: rotate(137deg);
}

.component-i9aLWOPM {
    color: #iODuJp;
    background: linear-gradient(45deg, #rxlEDq, #VtHGuG);
    font-family: "亘ҐӸĀ1", sans-serif;
    padding: 21px;
    margin: 27px;
    transform: rotate(-45deg);
}

.component-uIVsVb17 {
    color: #VtHGuG;
    background: linear-gradient(45deg, #dCIHzX, #dCIHzX);
    font-family: "Τҕ4伉æ", sans-serif;
    padding: 9px;
    margin: 12px;
    transform: rotate(65deg);
}

.component-KFYyMWnx {
    color: #CF5iNA;
    background: linear-gradient(45deg, #bLoRa9, #upggmb);
    font-family: "Ŕ15z®", sans-serif;
    padding: 13px;
    margin: 20px;
    transform: rotate(-19deg);
}

.component-AHk947gn {
    color: #xntA0g;
    background: linear-gradient(45deg, #rxlEDq, #dCIHzX);
    font-family: "δ6ぃń侺", sans-serif;
    padding: 17px;
    margin: 7px;
    transform: rotate(23deg);
}

.component-Yaz1pGgq {
    color: #iODuJp;
    background: linear-gradient(45deg, #iODuJp, #iODuJp);
    font-family: "ӯ4ŰざΣ", sans-serif;
    padding: 39px;
    margin: 40px;
    transform: rotate(16deg);
}

.component-PNQh4Ydx {
    color: #upggmb;
    background: linear-gradient(45deg, #dCIHzX, #xntA0g);
    font-family: "âŃ0db", sans-serif;
    padding: 41px;
    margin: 37px;
    transform: rotate(-144deg);
}

.component-jrb3i4lH {
    color: #xntA0g;
    background: linear-gradient(45deg, #ID9KPL, #G4z33O);
    font-family: "4佔үò9", sans-serif;
    padding: 46px;
    margin: 32px;
    transform: rotate(34deg);
}

.component-d3A2a4Qj {
    color: #bLoRa9;
    background: linear-gradient(45deg, #G4z33O, #upggmb);
    font-family: "sѾ5亚ů", sans-serif;
    padding: 37px;
    margin: 16px;
    transform: rotate(55deg);
}

.component-UBbGbFI9 {
    color: #ID9KPL;
    background: linear-gradient(45deg, #CF5iNA, #bLoRa9);
    font-family: "ゅ0佂eë", sans-serif;
    padding: 13px;
    margin: 34px;
    transform: rotate(-153deg);
}

.component-aSrbmGI4 {
    color: #upggmb;
    background: linear-gradient(45deg, #rxlEDq, #rxlEDq);
    font-family: "42むҔA", sans-serif;
    padding: 34px;
    margin: 16px;
    transform: rotate(5deg);
}

.component-M6PSkcZX {
    color: #xntA0g;
    background: linear-gradient(45deg, #xntA0g, #CF5iNA);
    font-family: "ρŵČҧぽ", sans-serif;
    padding: 39px;
    margin: 28px;
    transform: rotate(180deg);
}

.component-61i2wQ1X {
    color: #G4z33O;
    background: linear-gradient(45deg, #rxlEDq, #bLoRa9);
    font-family: "MらつČも", sans-serif;
    padding: 36px;
    margin: 17px;
    transform: rotate(19deg);
}

.component-EU5BvmNA {
    color: #VtHGuG;
    background: linear-gradient(45deg, #rxlEDq, #xntA0g);
    font-family: "俪xYõġ", sans-serif;
    padding: 27px;
    margin: 30px;
    transform: rotate(129deg);
}

.component-8zlvWLdm {
    color: #rxlEDq;
    background: linear-gradient(45deg, #G4z33O, #ID9KPL);
    font-family: "ő0Íよへ", sans-serif;
    padding: 30px;
    margin: 28px;
    transform: rotate(73deg);
}

.component-iftnSj3D {
    color: #xntA0g;
    background: linear-gradient(45deg, #xntA0g, #xntA0g);
    font-family: "也»2ӹҎ", sans-serif;
    padding: 42px;
    margin: 48px;
    transform: rotate(158deg);
}

.component-jcxEbHig {
    color: #dCIHzX;
    background: linear-gradient(45deg, #ID9KPL, #bLoRa9);
    font-family: "źN5Ξŗ", sans-serif;
    padding: 50px;
    margin: 30px;
    transform: rotate(102deg);
}

.component-NVdKGaQl {
    color: #VtHGuG;
    background: linear-gradient(45deg, #upggmb, #xntA0g);
    font-family: "T0ゖ7づ", sans-serif;
    padding: 12px;
    margin: 38px;
    transform: rotate(-3deg);
}

.component-RVjZIVnm {
    color: #dCIHzX;
    background: linear-gradient(45deg, #ID9KPL, #VtHGuG);
    font-family: "めŀùN¡", sans-serif;
    padding: 32px;
    margin: 26px;
    transform: rotate(-69deg);
}

.component-kQMGHGRC {
    color: #iODuJp;
    background: linear-gradient(45deg, #CF5iNA, #bLoRa9);
    font-family: "丅1751", sans-serif;
    padding: 43px;
    margin: 42px;
    transform: rotate(-30deg);
}

.component-0LvZrVSQ {
    color: #G4z33O;
    background: linear-gradient(45deg, #iODuJp, #ID9KPL);
    font-family: "δょ亏үŽ", sans-serif;
    padding: 18px;
    margin: 11px;
    transform: rotate(30deg);
}
